
/*===================================
 他共通エレメント -cmp
==================================*/
/*共通tel*/
.tel-cmp01
  a
    font-weight bold
    font-size 18px
  a:before
    margin-right 5px
    content '\f879'
    font-weight 600
    font-family 'Font Awesome 5 Free'


.anime-cmp01
	position relative
	.anime-cmp01in
		visibility hidden
	&:after
		position absolute
		top 0
		left 0
		display block
		visibility visible
		width 0%
		height 100%
		background gray
		content ""
		transition 0.5s
	&.active01
		&:after
			width 100%
	&.active02
		.anime-cmp01in
			visibility visible
		&:after
			right 0
			left inherit
			width 0%
