<!DOCTYPE html>
<html lang="ja">

<head>
  <% let path = 'component2'; %>
  <%- include('./_inc/_meta', {path: path}) %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/base1.1.min.css">
  <link rel="stylesheet" href="css/base_new1.1.min.css">
  <link rel="stylesheet" href="css/abisu1.1.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/slick_option.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="js/common.js"></script>
</head>

<body>
  <div id="wrapper" class="wrapper home <%= path %>">
    <%- include('./_inc/_header', {path: path}) %>
    <main class="main" id="main">
      <section class="top01box up-py-60">
        <div class="inner fead-up">
          <div class="up-d-flex up-fxw-wrap up-jc-sb up-fxd-col@sp">
            <div class="up-w-48% up-d-con@sp">
              <div class="pic up-ofi-70 up-mb-20@sp">
                <img src="https://placehold.jp/500x500.png" alt="">
              </div>
            </div>
            <div class="up-w-48% up-d-con@sp">
              <h3 class="up-fz-24 up-fw-bold up-order-n1@sp up-mb-20">display: contents;を使ったレイアウト</h3>
              <div class="text">
                このコンテンツはスマホサイズになった時、<br>「見出し」→「画像」→「テキスト」の順番に並びます。
                <br><br>
                スマホ時、フレックスボックスに「flex-direction: column;」、フレックスアイテムに「display: contents;」、見出しには「order: -1;」を指定しています。
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="top02box up-py-60">
        <div class="inner fead-up">
          <h2 class="up-fz-32 up-ta-c up-mb-50 up-fw-bold">flex・gapを使った横並びコンテンツ</h2>
          <ul class="up-col3-4% up-col-1@sp up-gapy-40">
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="top03box up-py-60">
        <div class="inner fead-up">
          <h2 class="up-fz-32 up-ta-c up-mb-50 up-fw-bold">gridを使った横並びコンテンツ</h2>
          <ul class="up-d-grid up-fit-300 up-gap-40">
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
            <li>
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="https://placehold.jp/500x500.png" alt="">
                </span>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <%- include('./_inc/_footer') %>
  </div>
</body>

</html>