<% let path = 'component4'; %>
<%- include('./_inc/_header', {path: path}) %>
<main class="main" id="main">
  <section class="up-py-60" id="aspect02">
    <div class="inner fead-up">
      <h2 class="up-fz-32 up-fz-22@sp up-ta-c up-mb-50 up-fw-bold">「.youtube」でYouTubeの埋め込み</h2>
      <div class="youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D2FAtCCy5jc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section class="up-py-60" id="iframe">
    <div class="inner fead-up">
      <h2 class="up-fz-32 up-fz-22@sp up-ta-c up-mb-50 up-fw-bold">「.iframe」でマップを表示する</h2>
      <div class="iframe up-h-400">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13129.33058465498!2d135.5133309!3d34.6463012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5e013bca896fad0b!2z5qCq5byP5Lya56S-44Om44OL44K944Oz44OX44Op44ON44OD44OI!5e0!3m2!1sja!2sjp!4v1655258173415!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
  <section class="up-py-60" id="absolute">
    <div class="inner fead-up">
      <h2 class="up-fz-32 up-fz-22@sp up-ta-c up-mb-50 up-fw-bold">
        「.up-pa-100」と「.up-ofi」の組み合わせで背景画像を実装する
      </h2>
      <div class="up-pos-rel up-p-10%">
        <div class="up-pa-100 up-ofi">
          <img src="https://placehold.jp/500x500.png" alt="">
        </div>
        <div class="tbox up-c-white up-pos-rel">
          <h3 class="up-ta-c up-fz-24 up-fw-bold">見出し</h3>
          <div class="text up-mt-20 up-ta-c">テキストテキストテキスト<br><br>テキストテキストテキストテキストテキストテキストテキスト<br><br>テキストテキストテキストテキスト</div>
        </div>
      </div>
    </div>
  </section>
  <section class="up-py-60" id="opacity">
    <div class="inner fead-up">
      <h2 class="up-fz-32 up-fz-22@sp up-ta-c up-mb-50 up-fw-bold">
        「.up-opa-系」で背景画像を透過させる
      </h2>
      <div class="up-pos-rel up-p-10%">
        <div class="up-pa-100 up-ofi up-bgc-black">
          <img src="https://placehold.jp/500x500.png" alt="" class="up-opa-50">
        </div>
        <div class="tbox up-c-white up-pos-rel">
          <h3 class="up-ta-c up-fz-24 up-fw-bold">見出し</h3>
          <div class="text up-mt-20 up-ta-c">テキストテキストテキスト<br><br>テキストテキストテキストテキストテキストテキストテキスト<br><br>テキストテキストテキストテキスト</div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('./_inc/_footer', {path: path}) %>