@charset 'utf-8';
/* version 1.2.0　2023/10/12 */
html {
  font-family: '游ゴシック', YuGothic, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', Hiragino Kaku Gothic ProN, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}
*,
:after,
:before {
  box-sizing: border-box;
}
body,
div,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
form,
input,
button,
figure,
figcaption,
p,
pre,
a,
time {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  color: inherit;
  line-height: inherit;
}
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
img,
video,
iframe {
  max-width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 0;
  border-style: none;
}
img:not([src*='.']) {
  display: none;
}
b,
strong {
  font-weight: bolder;
}
ol,
ul {
  list-style: none;
}
time {
  display: block;
}
button,
[role='button'] {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
table th {
  font-weight: normal;
}
.img img {
  width: 100%;
  text-align: center;
}
.map {
  overflow: hidden;
  padding-top: 50%;
  position: relative;
}
.map iframe {
  width: 100%;
  max-width: initial;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.youtube-short {
  padding-top: 177.7777%;
}
.youtube iframe {
  width: 100%;
  max-width: initial;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.iframe {
  overflow: hidden;
  position: relative;
}
.iframe iframe {
  width: 100%;
  max-width: initial;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}
a,
button {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
a:hover,
button:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
}
a[href*='tel'],
button[href*='tel'] {
  pointer-events: none;
}
.wrapper {
  min-width: 375px;
  overflow: hidden;
}
.inner500 {
  width: 92%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.inner600 {
  width: 92%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.inner700 {
  width: 92%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.inner800 {
  width: 92%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.inner900 {
  width: 92%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.inner {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.inner1100 {
  width: 98%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.inner1200 {
  width: 98%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.inner1300 {
  width: 98%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.inner1400 {
  width: 98%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.inner1500 {
  width: 98%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.inner1600 {
  width: 98%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.inner1700 {
  width: 98%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}
.inner1800 {
  width: 98%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.inner1900 {
  width: 98%;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}
.inner2000 {
  width: 98%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.js-toggle {
  cursor: pointer;
}
[class*='fead'] {
  opacity: 0;
}
[class*='fead'].mv {
  opacity: 1;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.fead-up {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.fead-up.mv {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.fead-right {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.fead-right.mv {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.fead-left {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}
.fead-left.mv {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.fead-text.mv {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.fead-text .str.textin {
  -webkit-transition: 1s;
  transition: 1s;
}
.fead-cover {
  position: relative;
}
.fead-cover::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
}
.fead-cover.mv::before {
  width: 0;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.fead-order>* {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.fead-order>*.mv {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.fead-scale {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.fead-scale.mv {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.up-clearfix {
  display: block;
}
.up-clearfix::before,
.up-clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.up-over-hidden {
  overflow: hidden;
}
.up-fs-italic {
  font-style: italic;
}
.up-text-underline {
  text-decoration: underline;
}
.up-lst-disc {
  list-style-type: disc;
  padding-left: 1em;
}
.up-lst-decimal {
  list-style-type: decimal;
  padding-left: 1em;
}
.up-adb,
.up a {
  display: block;
}
-reader1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
-reader2 {
  max-height: 2em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
-reader3 {
  max-height: 3em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
-circle {
  overflow: hidden;
  border-radius: 100%;
}
-text-horizontal {
  -webkit-writing-mode: horizontal-tb;
          writing-mode: horizontal-tb;
}
-text-vertical {
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
}
d-block {
  display: block;
}
d-iblock {
  display: inline-block;
}
d-static {
  display: static;
}
d-inherit {
  display: inherit;
}
d-initial {
  display: initial;
}
d-flex {
  display: -webkit-box;
  display: flex;
}
d-grid {
  display: grid;
}
d-none {
  display: none;
}
-f-clear-both {
  clear: both;
}
-f-clear-left {
  clear: left;
}
-f-clear-right {
  clear: right;
}
-pos-rel {
  position: relative;
}
-pos-abs {
  position: absolute;
}
-pos-fix {
  position: fixed;
}
-pos-static {
  position: static;
}
-c-red {
  color: #f00;
}
-c-blue {
  color: #00f;
}
-c-yellow {
  color: #ff0;
}
-c-gray {
  color: #808080;
}
-c-black {
  color: #000;
}
-c-white {
  color: #fff;
}
-c-initial {
  color: initial;
}
-c-inherit {
  color: inherit;
}
-c-unset {
  color: unset;
}
-c-revert {
  color: revert;
}
-ta-c {
  text-align: center;
}
-ta-l {
  text-align: left;
}
-ta-r {
  text-align: right;
}
.up-z-0 {
  z-index: 0;
}
.up-z-1 {
  z-index: 1;
}
.up-z-2 {
  z-index: 2;
}
.up-z-3 {
  z-index: 3;
}
.up-z-4 {
  z-index: 4;
}
.up-z-5 {
  z-index: 5;
}
.up-op-0 {
  opacity: 0;
}
.up-op-0\.25 {
  opacity: 0.25;
}
.up-op-0\.50 {
  opacity: 0.5;
}
.up-op-0\.75 {
  opacity: 0.75;
}
.up-op-1 {
  opacity: 1;
}
.up-show {
  display: block;
}
.up-hide {
  display: none;
}
.break-pc {
  display: block;
}
.break-pc-tb {
  display: block;
}
.break-pc-tb-sp {
  display: block;
}
.break-pc-sp {
  display: block;
}
.break-tb {
  display: none;
}
.break-tb-sp {
  display: none;
}
.break-sp {
  display: none;
}
.up-ls-0\.1em {
  letter-spacing: 0.1em;
}
.up-ls-0\.2em {
  letter-spacing: 0.2em;
}
.up-ls-0\.3em {
  letter-spacing: 0.3em;
}
.up-ls-0\.4em {
  letter-spacing: 0.4em;
}
.up-ls-0\.5em {
  letter-spacing: 0.5em;
}
.up-ls-0\.6em {
  letter-spacing: 0.6em;
}
.up-ls-0\.7em {
  letter-spacing: 0.7em;
}
.up-ls-0\.8em {
  letter-spacing: 0.8em;
}
.up-ls-0\.9em {
  letter-spacing: 0.9em;
}
.up-ls-1em {
  letter-spacing: 1em;
}
.up-ls-1\.1em {
  letter-spacing: 1.1em;
}
.up-ls-1\.2em {
  letter-spacing: 1.2em;
}
.up-ls-1\.3em {
  letter-spacing: 1.3em;
}
.up-ls-1\.4em {
  letter-spacing: 1.4em;
}
.up-ls-1\.5em {
  letter-spacing: 1.5em;
}
.up-ls-1\.6em {
  letter-spacing: 1.6em;
}
.up-ls-1\.7em {
  letter-spacing: 1.7em;
}
.up-ls-1\.8em {
  letter-spacing: 1.8em;
}
.up-ls-1\.9em {
  letter-spacing: 1.9em;
}
.up-ls-2em {
  letter-spacing: 2em;
}
.up-fz-10 {
  font-size: 10px;
}
.up-fz-11 {
  font-size: 11px;
}
.up-fz-12 {
  font-size: 12px;
}
.up-fz-13 {
  font-size: 13px;
}
.up-fz-14 {
  font-size: 14px;
}
.up-fz-15 {
  font-size: 15px;
}
.up-fz-16 {
  font-size: 16px;
}
.up-fz-17 {
  font-size: 17px;
}
.up-fz-18 {
  font-size: 18px;
}
.up-fz-19 {
  font-size: 19px;
}
.up-fz-20 {
  font-size: 20px;
}
.up-fz-22 {
  font-size: 22px;
}
.up-fz-24 {
  font-size: 24px;
}
.up-fz-26 {
  font-size: 26px;
}
.up-fz-28 {
  font-size: 28px;
}
.up-fz-30 {
  font-size: 30px;
}
.up-fz-32 {
  font-size: 32px;
}
.up-fz-34 {
  font-size: 34px;
}
.up-fz-36 {
  font-size: 36px;
}
.up-fz-38 {
  font-size: 38px;
}
.up-fz-40 {
  font-size: 40px;
}
.up-fz-42 {
  font-size: 42px;
}
.up-fz-44 {
  font-size: 44px;
}
.up-fz-46 {
  font-size: 46px;
}
.up-fz-48 {
  font-size: 48px;
}
.up-fz-50 {
  font-size: 50px;
}
.up-fz-52 {
  font-size: 52px;
}
.up-fz-54 {
  font-size: 54px;
}
.up-fz-56 {
  font-size: 56px;
}
.up-fz-58 {
  font-size: 58px;
}
.up-fz-60 {
  font-size: 60px;
}
.up-fz-62 {
  font-size: 62px;
}
.up-fz-64 {
  font-size: 64px;
}
.up-fz-66 {
  font-size: 66px;
}
.up-fz-68 {
  font-size: 68px;
}
.up-fz-70 {
  font-size: 70px;
}
.up-fz-90 {
  font-size: 90px;
}
.up-fz-110 {
  font-size: 110px;
}
.up-fz-130 {
  font-size: 130px;
}
.up-fz-150 {
  font-size: 150px;
}
.up-fz-50 {
  font-size: 50px;
}
.up-fz-60 {
  font-size: 60px;
}
.up-fz-70 {
  font-size: 70px;
}
.up-fz-80 {
  font-size: 80px;
}
.up-fz-90 {
  font-size: 90px;
}
.up-fz-100 {
  font-size: 100px;
}
.up-fz-110 {
  font-size: 110px;
}
.up-fz-120 {
  font-size: 120px;
}
.up-fz-130 {
  font-size: 130px;
}
.up-fz-140 {
  font-size: 140px;
}
.up-fz-150 {
  font-size: 150px;
}
.up-fz-160 {
  font-size: 160px;
}
.up-fz-170 {
  font-size: 170px;
}
.up-fz-180 {
  font-size: 180px;
}
.up-fz-190 {
  font-size: 190px;
}
.up-fz-200 {
  font-size: 200px;
}
.up-fz-50\% {
  font-size: 50%;
}
.up-fz-60\% {
  font-size: 60%;
}
.up-fz-70\% {
  font-size: 70%;
}
.up-fz-80\% {
  font-size: 80%;
}
.up-fz-90\% {
  font-size: 90%;
}
.up-fz-100\% {
  font-size: 100%;
}
.up-fz-110\% {
  font-size: 110%;
}
.up-fz-120\% {
  font-size: 120%;
}
.up-fz-130\% {
  font-size: 130%;
}
.up-fz-140\% {
  font-size: 140%;
}
.up-fz-150\% {
  font-size: 150%;
}
.up-fz-160\% {
  font-size: 160%;
}
.up-fz-170\% {
  font-size: 170%;
}
.up-fz-180\% {
  font-size: 180%;
}
.up-fz-190\% {
  font-size: 190%;
}
.up-fz-200\% {
  font-size: 200%;
}
.up-fz-1em {
  font-size: 1em;
}
.up-fz-2em {
  font-size: 2em;
}
.up-fz-3em {
  font-size: 3em;
}
.up-fz-4em {
  font-size: 4em;
}
.up-fz-5em {
  font-size: 5em;
}
.up-fz-6em {
  font-size: 6em;
}
.up-fz-7em {
  font-size: 7em;
}
.up-fz-8em {
  font-size: 8em;
}
.up-fz-9em {
  font-size: 9em;
}
.up-fz-10em {
  font-size: 10em;
}
.up-fw-light {
  font-weight: lighter;
}
.up-fw-normal {
  font-weight: normal;
}
.up-fw-bold {
  font-weight: bold;
}
.up-fw-100 {
  font-weight: 100;
}
.up-fw-200 {
  font-weight: 200;
}
.up-fw-300 {
  font-weight: 300;
}
.up-fw-400 {
  font-weight: 400;
}
.up-fw-500 {
  font-weight: 500;
}
.up-fw-600 {
  font-weight: 600;
}
.up-fw-700 {
  font-weight: 700;
}
.up-fw-800 {
  font-weight: 800;
}
.up-fw-900 {
  font-weight: 900;
}
.up-lh-1 {
  line-height: 1;
}
.up-lh-1\.1 {
  line-height: 1.1;
}
.up-lh-1\.2 {
  line-height: 1.2;
}
.up-lh-1\.3 {
  line-height: 1.3;
}
.up-lh-1\.4 {
  line-height: 1.4;
}
.up-lh-1\.5 {
  line-height: 1.5;
}
.up-lh-1\.6 {
  line-height: 1.6;
}
.up-lh-1\.7 {
  line-height: 1.7;
}
.up-lh-1\.8 {
  line-height: 1.8;
}
.up-lh-1\.9 {
  line-height: 1.9;
}
.up-lh-2 {
  line-height: 2;
}
.up-lh-2\.1 {
  line-height: 2.1;
}
.up-lh-2\.2 {
  line-height: 2.2;
}
.up-lh-2\.3 {
  line-height: 2.3;
}
.up-lh-2\.4 {
  line-height: 2.4;
}
.up-lh-2\.5 {
  line-height: 2.5;
}
.up-lh-2\.6 {
  line-height: 2.6;
}
.up-lh-2\.7 {
  line-height: 2.7;
}
.up-lh-2\.8 {
  line-height: 2.8;
}
.up-lh-2\.9 {
  line-height: 2.9;
}
.up-lh-3 {
  line-height: 3;
}
.up-fxw-wrap {
  flex-wrap: wrap;
}
.up-fxw-wrapr {
  flex-wrap: wrap-reverse;
}
.up-fxw-nowrap {
  flex-wrap: nowrap;
}
.up-fxd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.up-fxd-rowr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
.up-fxd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.up-fxd-colr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}
.up-fxd-even>*:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
.up-fxd-odd>*:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
.up-fxg-0 {
  -webkit-box-flex: 0;
          flex-grow: 0;
}
.up-fxg-1 {
  -webkit-box-flex: 1;
          flex-grow: 1;
}
.up-fxsh-0 {
  flex-shrink: 0;
}
.up-fxsh-1 {
  flex-shrink: 1;
}
.up-jc-s {
  -webkit-box-pack: start;
          justify-content: start;
}
.up-jc-fs {
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.up-jc-e {
  -webkit-box-pack: end;
          justify-content: end;
}
.up-jc-fe {
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.up-jc-c {
  -webkit-box-pack: center;
          justify-content: center;
}
.up-jc-sh {
  -webkit-box-pack: stretch;
          justify-content: stretch;
}
.up-jc-sb {
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.up-jc-sa {
  justify-content: space-around;
}
.up-jc-se {
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.up-ai-st {
  -webkit-box-align: start;
          align-items: start;
}
.up-ai-fs {
  -webkit-box-align: start;
          align-items: flex-start;
}
.up-ai-c {
  -webkit-box-align: center;
          align-items: center;
}
.up-ai-e {
  -webkit-box-align: end;
          align-items: end;
}
.up-ai-fe {
  -webkit-box-align: end;
          align-items: flex-end;
}
.up-ai-b {
  -webkit-box-align: baseline;
          align-items: baseline;
}
.up-ai-sh {
  -webkit-box-align: stretch;
          align-items: stretch;
}
.up-ac-s {
  align-content: start;
}
.up-ac-fs {
  align-content: flex-start;
}
.up-ac-c {
  align-content: center;
}
.up-ac-e {
  align-content: end;
}
.up-ac-fe {
  align-content: flex-end;
}
.up-ac-sh {
  align-content: stretch;
}
.up-ac-sb {
  align-content: space-between;
}
.up-ac-sa {
  align-content: space-around;
}
.up-ac-se {
  align-content: space-evenly;
}
.up-as-s {
  align-self: start;
}
.up-as-fs {
  align-self: flex-start;
}
.up-as-c {
  align-self: center;
}
.up-as-sh {
  align-self: stretch;
}
.up-as-fe {
  align-self: flex-end;
}
.up-as-e {
  align-self: end;
}
.up-as-auto {
  align-self: auto;
}
.up-js-s {
  justify-self: start;
}
.up-js-e {
  justify-self: end;
}
.up-js-c {
  justify-self: center;
}
.up-js-sh {
  justify-self: stretch;
}
.up-order-0 {
  -webkit-box-ordinal-group: 1;
          order: 0;
}
.up-order-1 {
  -webkit-box-ordinal-group: 2;
          order: 1;
}
.up-order-2 {
  -webkit-box-ordinal-group: 3;
          order: 2;
}
.up-order-3 {
  -webkit-box-ordinal-group: 4;
          order: 3;
}
.up-order-4 {
  -webkit-box-ordinal-group: 5;
          order: 4;
}
.up-order-5 {
  -webkit-box-ordinal-group: 6;
          order: 5;
}
.up-order-6 {
  -webkit-box-ordinal-group: 7;
          order: 6;
}
.up-order-7 {
  -webkit-box-ordinal-group: 8;
          order: 7;
}
.up-order-8 {
  -webkit-box-ordinal-group: 9;
          order: 8;
}
.up-order-9 {
  -webkit-box-ordinal-group: 10;
          order: 9;
}
.up-order-10 {
  -webkit-box-ordinal-group: 11;
          order: 10;
}
.up-w-auto {
  width: auto;
}
.up-w-min {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.up-w-max {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.up-w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.up-w-10 {
  width: 10px;
}
.up-w-20 {
  width: 20px;
}
.up-w-30 {
  width: 30px;
}
.up-w-40 {
  width: 40px;
}
.up-w-50 {
  width: 50px;
}
.up-w-60 {
  width: 60px;
}
.up-w-70 {
  width: 70px;
}
.up-w-80 {
  width: 80px;
}
.up-w-90 {
  width: 90px;
}
.up-w-100 {
  width: 100px;
}
.up-w-110 {
  width: 110px;
}
.up-w-120 {
  width: 120px;
}
.up-w-130 {
  width: 130px;
}
.up-w-140 {
  width: 140px;
}
.up-w-150 {
  width: 150px;
}
.up-w-160 {
  width: 160px;
}
.up-w-170 {
  width: 170px;
}
.up-w-180 {
  width: 180px;
}
.up-w-190 {
  width: 190px;
}
.up-w-200 {
  width: 200px;
}
.up-w-210 {
  width: 210px;
}
.up-w-220 {
  width: 220px;
}
.up-w-230 {
  width: 230px;
}
.up-w-240 {
  width: 240px;
}
.up-w-250 {
  width: 250px;
}
.up-w-260 {
  width: 260px;
}
.up-w-270 {
  width: 270px;
}
.up-w-280 {
  width: 280px;
}
.up-w-290 {
  width: 290px;
}
.up-w-300 {
  width: 300px;
}
.up-w-350 {
  width: 350px;
}
.up-w-400 {
  width: 400px;
}
.up-w-450 {
  width: 450px;
}
.up-w-500 {
  width: 500px;
}
.up-w-550 {
  width: 550px;
}
.up-w-600 {
  width: 600px;
}
.up-w-650 {
  width: 650px;
}
.up-w-700 {
  width: 700px;
}
.up-w-750 {
  width: 750px;
}
.up-w-800 {
  width: 800px;
}
.up-w-850 {
  width: 850px;
}
.up-w-900 {
  width: 900px;
}
.up-w-950 {
  width: 950px;
}
.up-w-1000 {
  width: 1000px;
}
.up-w-1050 {
  width: 1050px;
}
.up-w-1100 {
  width: 1100px;
}
.up-w-1150 {
  width: 1150px;
}
.up-w-1200 {
  width: 1200px;
}
.up-w-5\% {
  width: 5%;
}
.up-w-10\% {
  width: 10%;
}
.up-w-15\% {
  width: 15%;
}
.up-w-20\% {
  width: 20%;
}
.up-w-25\% {
  width: 25%;
}
.up-w-30\% {
  width: 30%;
}
.up-w-35\% {
  width: 35%;
}
.up-w-40\% {
  width: 40%;
}
.up-w-45\% {
  width: 45%;
}
.up-w-50\% {
  width: 50%;
}
.up-w-55\% {
  width: 55%;
}
.up-w-60\% {
  width: 60%;
}
.up-w-65\% {
  width: 65%;
}
.up-w-70\% {
  width: 70%;
}
.up-w-75\% {
  width: 75%;
}
.up-w-80\% {
  width: 80%;
}
.up-w-85\% {
  width: 85%;
}
.up-w-90\% {
  width: 90%;
}
.up-w-95\% {
  width: 95%;
}
.up-w-100\% {
  width: 100%;
}
.up-w-105\% {
  width: 105%;
}
.up-w-110\% {
  width: 110%;
}
.up-w-115\% {
  width: 115%;
}
.up-w-120\% {
  width: 120%;
}
.up-w-48\% {
  width: 48%;
}
.up-w-10vw {
  width: 10vw;
}
.up-w-20vw {
  width: 20vw;
}
.up-w-30vw {
  width: 30vw;
}
.up-w-40vw {
  width: 40vw;
}
.up-w-50vw {
  width: 50vw;
}
.up-w-60vw {
  width: 60vw;
}
.up-w-70vw {
  width: 70vw;
}
.up-w-80vw {
  width: 80vw;
}
.up-w-90vw {
  width: 90vw;
}
.up-w-100vw {
  width: 100vw;
}
.up-minw-auto {
  min-width: auto;
}
.up-minw-20 {
  width: 20px;
}
.up-minw-30 {
  width: 30px;
}
.up-minw-40 {
  width: 40px;
}
.up-minw-50 {
  width: 50px;
}
.up-minw-60 {
  width: 60px;
}
.up-minw-70 {
  width: 70px;
}
.up-minw-80 {
  width: 80px;
}
.up-minw-90 {
  width: 90px;
}
.up-minw-100 {
  width: 100px;
}
.up-minw-110 {
  width: 110px;
}
.up-minw-120 {
  width: 120px;
}
.up-minw-130 {
  width: 130px;
}
.up-minw-140 {
  width: 140px;
}
.up-minw-150 {
  width: 150px;
}
.up-minw-160 {
  width: 160px;
}
.up-minw-170 {
  width: 170px;
}
.up-minw-180 {
  width: 180px;
}
.up-minw-190 {
  width: 190px;
}
.up-minw-200 {
  width: 200px;
}
.up-minw-210 {
  width: 210px;
}
.up-minw-220 {
  width: 220px;
}
.up-minw-230 {
  width: 230px;
}
.up-minw-240 {
  width: 240px;
}
.up-minw-250 {
  width: 250px;
}
.up-minw-260 {
  width: 260px;
}
.up-minw-270 {
  width: 270px;
}
.up-minw-280 {
  width: 280px;
}
.up-minw-290 {
  width: 290px;
}
.up-minw-300 {
  width: 300px;
}
.up-minw-310 {
  width: 310px;
}
.up-minw-320 {
  width: 320px;
}
.up-minw-330 {
  width: 330px;
}
.up-minw-340 {
  width: 340px;
}
.up-minw-350 {
  width: 350px;
}
.up-minw-360 {
  width: 360px;
}
.up-minw-370 {
  width: 370px;
}
.up-minw-380 {
  width: 380px;
}
.up-minw-390 {
  width: 390px;
}
.up-minw-400 {
  width: 400px;
}
.up-minw-410 {
  width: 410px;
}
.up-minw-420 {
  width: 420px;
}
.up-minw-430 {
  width: 430px;
}
.up-minw-440 {
  width: 440px;
}
.up-minw-450 {
  width: 450px;
}
.up-minw-460 {
  width: 460px;
}
.up-minw-470 {
  width: 470px;
}
.up-minw-480 {
  width: 480px;
}
.up-minw-490 {
  width: 490px;
}
.up-minw-500 {
  width: 500px;
}
.up-minw-5\% {
  width: 5%;
}
.up-minw-10\% {
  width: 10%;
}
.up-minw-15\% {
  width: 15%;
}
.up-minw-20\% {
  width: 20%;
}
.up-minw-25\% {
  width: 25%;
}
.up-minw-30\% {
  width: 30%;
}
.up-minw-35\% {
  width: 35%;
}
.up-minw-40\% {
  width: 40%;
}
.up-minw-45\% {
  width: 45%;
}
.up-minw-50\% {
  width: 50%;
}
.up-minw-55\% {
  width: 55%;
}
.up-minw-60\% {
  width: 60%;
}
.up-minw-65\% {
  width: 65%;
}
.up-minw-70\% {
  width: 70%;
}
.up-minw-75\% {
  width: 75%;
}
.up-minw-80\% {
  width: 80%;
}
.up-minw-85\% {
  width: 85%;
}
.up-minw-90\% {
  width: 90%;
}
.up-minw-95\% {
  width: 95%;
}
.up-minw-100\% {
  width: 100%;
}
.up-minw-48\% {
  width: 48%;
}
.up-minw-10vw {
  width: 10vw;
}
.up-minw-20vw {
  width: 20vw;
}
.up-minw-30vw {
  width: 30vw;
}
.up-minw-40vw {
  width: 40vw;
}
.up-minw-50vw {
  width: 50vw;
}
.up-minw-60vw {
  width: 60vw;
}
.up-minw-70vw {
  width: 70vw;
}
.up-minw-80vw {
  width: 80vw;
}
.up-minw-90vw {
  width: 90vw;
}
.up-minw-100vw {
  width: 100vw;
}
.up-maxw-50 {
  width: 50px;
}
.up-maxw-100 {
  width: 100px;
}
.up-maxw-150 {
  width: 150px;
}
.up-maxw-200 {
  width: 200px;
}
.up-maxw-250 {
  width: 250px;
}
.up-maxw-300 {
  width: 300px;
}
.up-maxw-350 {
  width: 350px;
}
.up-maxw-400 {
  width: 400px;
}
.up-maxw-450 {
  width: 450px;
}
.up-maxw-500 {
  width: 500px;
}
.up-maxw-550 {
  width: 550px;
}
.up-maxw-600 {
  width: 600px;
}
.up-maxw-650 {
  width: 650px;
}
.up-maxw-700 {
  width: 700px;
}
.up-maxw-750 {
  width: 750px;
}
.up-maxw-800 {
  width: 800px;
}
.up-maxw-850 {
  width: 850px;
}
.up-maxw-900 {
  width: 900px;
}
.up-maxw-950 {
  width: 950px;
}
.up-maxw-1000 {
  width: 1000px;
}
.up-maxw-1050 {
  width: 1050px;
}
.up-maxw-1100 {
  width: 1100px;
}
.up-maxw-1150 {
  width: 1150px;
}
.up-maxw-1200 {
  width: 1200px;
}
.up-maxw-5\% {
  width: 5%;
}
.up-maxw-10\% {
  width: 10%;
}
.up-maxw-15\% {
  width: 15%;
}
.up-maxw-20\% {
  width: 20%;
}
.up-maxw-25\% {
  width: 25%;
}
.up-maxw-30\% {
  width: 30%;
}
.up-maxw-35\% {
  width: 35%;
}
.up-maxw-40\% {
  width: 40%;
}
.up-maxw-45\% {
  width: 45%;
}
.up-maxw-50\% {
  width: 50%;
}
.up-maxw-55\% {
  width: 55%;
}
.up-maxw-60\% {
  width: 60%;
}
.up-maxw-65\% {
  width: 65%;
}
.up-maxw-70\% {
  width: 70%;
}
.up-maxw-75\% {
  width: 75%;
}
.up-maxw-80\% {
  width: 80%;
}
.up-maxw-85\% {
  width: 85%;
}
.up-maxw-90\% {
  width: 90%;
}
.up-maxw-95\% {
  width: 95%;
}
.up-maxw-100\% {
  width: 100%;
}
.up-maxw-48\% {
  width: 48%;
}
.up-maxw-10vw {
  width: 10vw;
}
.up-maxw-20vw {
  width: 20vw;
}
.up-maxw-30vw {
  width: 30vw;
}
.up-maxw-40vw {
  width: 40vw;
}
.up-maxw-50vw {
  width: 50vw;
}
.up-maxw-60vw {
  width: 60vw;
}
.up-maxw-70vw {
  width: 70vw;
}
.up-maxw-80vw {
  width: 80vw;
}
.up-maxw-90vw {
  width: 90vw;
}
.up-maxw-100vw {
  width: 100vw;
}
.up-h-auto {
  height: auto;
}
.up-h-50 {
  height: 50px;
}
.up-h-100 {
  height: 100px;
}
.up-h-150 {
  height: 150px;
}
.up-h-200 {
  height: 200px;
}
.up-h-250 {
  height: 250px;
}
.up-h-300 {
  height: 300px;
}
.up-h-350 {
  height: 350px;
}
.up-h-400 {
  height: 400px;
}
.up-h-450 {
  height: 450px;
}
.up-h-500 {
  height: 500px;
}
.up-h-550 {
  height: 550px;
}
.up-h-600 {
  height: 600px;
}
.up-h-650 {
  height: 650px;
}
.up-h-700 {
  height: 700px;
}
.up-h-750 {
  height: 750px;
}
.up-h-800 {
  height: 800px;
}
.up-h-850 {
  height: 850px;
}
.up-h-900 {
  height: 900px;
}
.up-h-950 {
  height: 950px;
}
.up-h-1000 {
  height: 1000px;
}
.up-h-5\% {
  height: 5%;
}
.up-h-10\% {
  height: 10%;
}
.up-h-15\% {
  height: 15%;
}
.up-h-20\% {
  height: 20%;
}
.up-h-25\% {
  height: 25%;
}
.up-h-30\% {
  height: 30%;
}
.up-h-35\% {
  height: 35%;
}
.up-h-40\% {
  height: 40%;
}
.up-h-45\% {
  height: 45%;
}
.up-h-50\% {
  height: 50%;
}
.up-h-55\% {
  height: 55%;
}
.up-h-60\% {
  height: 60%;
}
.up-h-65\% {
  height: 65%;
}
.up-h-70\% {
  height: 70%;
}
.up-h-75\% {
  height: 75%;
}
.up-h-80\% {
  height: 80%;
}
.up-h-85\% {
  height: 85%;
}
.up-h-90\% {
  height: 90%;
}
.up-h-95\% {
  height: 95%;
}
.up-h-100\% {
  height: 100%;
}
.up-h-48\% {
  width: 48%;
}
.up-m-auto {
  margin: auto;
}
.up-ml-auto {
  margin-left: auto;
}
.up-mr-auto {
  margin-right: auto;
}
.up-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.up-m-0 {
  margin: 0;
}
.up-mt-0 {
  margin-top: 0;
}
.up-mr-0 {
  margin-right: 0;
}
.up-mb-0 {
  margin-bottom: 0;
}
.up-ml-0 {
  margin-left: 0;
}
.up-m-5 {
  margin: 5px;
}
.up-mt-5 {
  margin-top: 5px;
}
.up-mr-5 {
  margin-right: 5px;
}
.up-mb-5 {
  margin-bottom: 5px;
}
.up-ml-5 {
  margin-left: 5px;
}
.up-m-10 {
  margin: 10px;
}
.up-mt-10 {
  margin-top: 10px;
}
.up-mr-10 {
  margin-right: 10px;
}
.up-mb-10 {
  margin-bottom: 10px;
}
.up-ml-10 {
  margin-left: 10px;
}
.up-m-15 {
  margin: 15px;
}
.up-mt-15 {
  margin-top: 15px;
}
.up-mr-15 {
  margin-right: 15px;
}
.up-mb-15 {
  margin-bottom: 15px;
}
.up-ml-15 {
  margin-left: 15px;
}
.up-m-20 {
  margin: 20px;
}
.up-mt-20 {
  margin-top: 20px;
}
.up-mr-20 {
  margin-right: 20px;
}
.up-mb-20 {
  margin-bottom: 20px;
}
.up-ml-20 {
  margin-left: 20px;
}
.up-m-25 {
  margin: 25px;
}
.up-mt-25 {
  margin-top: 25px;
}
.up-mr-25 {
  margin-right: 25px;
}
.up-mb-25 {
  margin-bottom: 25px;
}
.up-ml-25 {
  margin-left: 25px;
}
.up-m-30 {
  margin: 30px;
}
.up-mt-30 {
  margin-top: 30px;
}
.up-mr-30 {
  margin-right: 30px;
}
.up-mb-30 {
  margin-bottom: 30px;
}
.up-ml-30 {
  margin-left: 30px;
}
.up-m-35 {
  margin: 35px;
}
.up-mt-35 {
  margin-top: 35px;
}
.up-mr-35 {
  margin-right: 35px;
}
.up-mb-35 {
  margin-bottom: 35px;
}
.up-ml-35 {
  margin-left: 35px;
}
.up-m-40 {
  margin: 40px;
}
.up-mt-40 {
  margin-top: 40px;
}
.up-mr-40 {
  margin-right: 40px;
}
.up-mb-40 {
  margin-bottom: 40px;
}
.up-ml-40 {
  margin-left: 40px;
}
.up-m-45 {
  margin: 45px;
}
.up-mt-45 {
  margin-top: 45px;
}
.up-mr-45 {
  margin-right: 45px;
}
.up-mb-45 {
  margin-bottom: 45px;
}
.up-ml-45 {
  margin-left: 45px;
}
.up-m-50 {
  margin: 50px;
}
.up-mt-50 {
  margin-top: 50px;
}
.up-mr-50 {
  margin-right: 50px;
}
.up-mb-50 {
  margin-bottom: 50px;
}
.up-ml-50 {
  margin-left: 50px;
}
.up-p-0 {
  padding: 0;
}
.up-pt-0 {
  padding-top: 0;
}
.up-pr-0 {
  padding-right: 0;
}
.up-pb-0 {
  padding-bottom: 0;
}
.up-pl-0 {
  padding-left: 0;
}
.up-p-5 {
  padding: 5px;
}
.up-pt-5 {
  padding-top: 5px;
}
.up-pr-5 {
  padding-right: 5px;
}
.up-pb-5 {
  padding-bottom: 5px;
}
.up-pl-5 {
  padding-left: 5px;
}
.up-p-10 {
  padding: 10px;
}
.up-pt-10 {
  padding-top: 10px;
}
.up-pr-10 {
  padding-right: 10px;
}
.up-pb-10 {
  padding-bottom: 10px;
}
.up-pl-10 {
  padding-left: 10px;
}
.up-p-15 {
  padding: 15px;
}
.up-pt-15 {
  padding-top: 15px;
}
.up-pr-15 {
  padding-right: 15px;
}
.up-pb-15 {
  padding-bottom: 15px;
}
.up-pl-15 {
  padding-left: 15px;
}
.up-p-20 {
  padding: 20px;
}
.up-pt-20 {
  padding-top: 20px;
}
.up-pr-20 {
  padding-right: 20px;
}
.up-pb-20 {
  padding-bottom: 20px;
}
.up-pl-20 {
  padding-left: 20px;
}
.up-p-25 {
  padding: 25px;
}
.up-pt-25 {
  padding-top: 25px;
}
.up-pr-25 {
  padding-right: 25px;
}
.up-pb-25 {
  padding-bottom: 25px;
}
.up-pl-25 {
  padding-left: 25px;
}
.up-p-30 {
  padding: 30px;
}
.up-pt-30 {
  padding-top: 30px;
}
.up-pr-30 {
  padding-right: 30px;
}
.up-pb-30 {
  padding-bottom: 30px;
}
.up-pl-30 {
  padding-left: 30px;
}
.up-p-35 {
  padding: 35px;
}
.up-pt-35 {
  padding-top: 35px;
}
.up-pr-35 {
  padding-right: 35px;
}
.up-pb-35 {
  padding-bottom: 35px;
}
.up-pl-35 {
  padding-left: 35px;
}
.up-p-40 {
  padding: 40px;
}
.up-pt-40 {
  padding-top: 40px;
}
.up-pr-40 {
  padding-right: 40px;
}
.up-pb-40 {
  padding-bottom: 40px;
}
.up-pl-40 {
  padding-left: 40px;
}
.up-p-45 {
  padding: 45px;
}
.up-pt-45 {
  padding-top: 45px;
}
.up-pr-45 {
  padding-right: 45px;
}
.up-pb-45 {
  padding-bottom: 45px;
}
.up-pl-45 {
  padding-left: 45px;
}
.up-p-50 {
  padding: 50px;
}
.up-pt-50 {
  padding-top: 50px;
}
.up-pr-50 {
  padding-right: 50px;
}
.up-pb-50 {
  padding-bottom: 50px;
}
.up-pl-50 {
  padding-left: 50px;
}
.up-m-1em {
  margin: 1em;
}
.up-mt-1em {
  margin-top: 1em;
}
.up-mr-1em {
  margin-right: 1em;
}
.up-mb-1em {
  margin-bottom: 1em;
}
.up-ml-1em {
  margin-left: 1em;
}
.up-m-2em {
  margin: 2em;
}
.up-mt-2em {
  margin-top: 2em;
}
.up-mr-2em {
  margin-right: 2em;
}
.up-mb-2em {
  margin-bottom: 2em;
}
.up-ml-2em {
  margin-left: 2em;
}
.up-m-3em {
  margin: 3em;
}
.up-mt-3em {
  margin-top: 3em;
}
.up-mr-3em {
  margin-right: 3em;
}
.up-mb-3em {
  margin-bottom: 3em;
}
.up-ml-3em {
  margin-left: 3em;
}
.up-m-4em {
  margin: 4em;
}
.up-mt-4em {
  margin-top: 4em;
}
.up-mr-4em {
  margin-right: 4em;
}
.up-mb-4em {
  margin-bottom: 4em;
}
.up-ml-4em {
  margin-left: 4em;
}
.up-p-1em {
  padding: 1em;
}
.up-pt-1em {
  padding-top: 1em;
}
.up-pr-1em {
  padding-right: 1em;
}
.up-pb-1em {
  padding-bottom: 1em;
}
.up-pl-1em {
  padding-left: 1em;
}
.up-p-2em {
  padding: 2em;
}
.up-pt-2em {
  padding-top: 2em;
}
.up-pr-2em {
  padding-right: 2em;
}
.up-pb-2em {
  padding-bottom: 2em;
}
.up-pl-2em {
  padding-left: 2em;
}
.up-p-3em {
  padding: 3em;
}
.up-pt-3em {
  padding-top: 3em;
}
.up-pr-3em {
  padding-right: 3em;
}
.up-pb-3em {
  padding-bottom: 3em;
}
.up-pl-3em {
  padding-left: 3em;
}
.up-p-4em {
  padding: 4em;
}
.up-pt-4em {
  padding-top: 4em;
}
.up-pr-4em {
  padding-right: 4em;
}
.up-pb-4em {
  padding-bottom: 4em;
}
.up-pl-4em {
  padding-left: 4em;
}
.up-m-5em {
  margin: 5em;
}
.up-mt-5em {
  margin-top: 5em;
}
.up-mr-5em {
  margin-right: 5em;
}
.up-mb-5em {
  margin-bottom: 5em;
}
.up-ml-5em {
  margin-left: 5em;
}
.up-m-10em {
  margin: 10em;
}
.up-mt-10em {
  margin-top: 10em;
}
.up-mr-10em {
  margin-right: 10em;
}
.up-mb-10em {
  margin-bottom: 10em;
}
.up-ml-10em {
  margin-left: 10em;
}
.up-m-15em {
  margin: 15em;
}
.up-mt-15em {
  margin-top: 15em;
}
.up-mr-15em {
  margin-right: 15em;
}
.up-mb-15em {
  margin-bottom: 15em;
}
.up-ml-15em {
  margin-left: 15em;
}
.up-m-20em {
  margin: 20em;
}
.up-mt-20em {
  margin-top: 20em;
}
.up-mr-20em {
  margin-right: 20em;
}
.up-mb-20em {
  margin-bottom: 20em;
}
.up-ml-20em {
  margin-left: 20em;
}
.up-m-25em {
  margin: 25em;
}
.up-mt-25em {
  margin-top: 25em;
}
.up-mr-25em {
  margin-right: 25em;
}
.up-mb-25em {
  margin-bottom: 25em;
}
.up-ml-25em {
  margin-left: 25em;
}
.up-m-30em {
  margin: 30em;
}
.up-mt-30em {
  margin-top: 30em;
}
.up-mr-30em {
  margin-right: 30em;
}
.up-mb-30em {
  margin-bottom: 30em;
}
.up-ml-30em {
  margin-left: 30em;
}
.up-m-35em {
  margin: 35em;
}
.up-mt-35em {
  margin-top: 35em;
}
.up-mr-35em {
  margin-right: 35em;
}
.up-mb-35em {
  margin-bottom: 35em;
}
.up-ml-35em {
  margin-left: 35em;
}
.up-m-40em {
  margin: 40em;
}
.up-mt-40em {
  margin-top: 40em;
}
.up-mr-40em {
  margin-right: 40em;
}
.up-mb-40em {
  margin-bottom: 40em;
}
.up-ml-40em {
  margin-left: 40em;
}
.up-m-45em {
  margin: 45em;
}
.up-mt-45em {
  margin-top: 45em;
}
.up-mr-45em {
  margin-right: 45em;
}
.up-mb-45em {
  margin-bottom: 45em;
}
.up-ml-45em {
  margin-left: 45em;
}
.up-m-50em {
  margin: 50em;
}
.up-mt-50em {
  margin-top: 50em;
}
.up-mr-50em {
  margin-right: 50em;
}
.up-mb-50em {
  margin-bottom: 50em;
}
.up-ml-50em {
  margin-left: 50em;
}
.up-p-5em {
  padding: 5em;
}
.up-pt-5em {
  padding-top: 5em;
}
.up-pr-5em {
  padding-right: 5em;
}
.up-pb-5em {
  padding-bottom: 5em;
}
.up-pl-5em {
  padding-left: 5em;
}
.up-p-10em {
  padding: 10em;
}
.up-pt-10em {
  padding-top: 10em;
}
.up-pr-10em {
  padding-right: 10em;
}
.up-pb-10em {
  padding-bottom: 10em;
}
.up-pl-10em {
  padding-left: 10em;
}
.up-p-15em {
  padding: 15em;
}
.up-pt-15em {
  padding-top: 15em;
}
.up-pr-15em {
  padding-right: 15em;
}
.up-pb-15em {
  padding-bottom: 15em;
}
.up-pl-15em {
  padding-left: 15em;
}
.up-p-20em {
  padding: 20em;
}
.up-pt-20em {
  padding-top: 20em;
}
.up-pr-20em {
  padding-right: 20em;
}
.up-pb-20em {
  padding-bottom: 20em;
}
.up-pl-20em {
  padding-left: 20em;
}
.up-p-25em {
  padding: 25em;
}
.up-pt-25em {
  padding-top: 25em;
}
.up-pr-25em {
  padding-right: 25em;
}
.up-pb-25em {
  padding-bottom: 25em;
}
.up-pl-25em {
  padding-left: 25em;
}
.up-p-30em {
  padding: 30em;
}
.up-pt-30em {
  padding-top: 30em;
}
.up-pr-30em {
  padding-right: 30em;
}
.up-pb-30em {
  padding-bottom: 30em;
}
.up-pl-30em {
  padding-left: 30em;
}
.up-p-35em {
  padding: 35em;
}
.up-pt-35em {
  padding-top: 35em;
}
.up-pr-35em {
  padding-right: 35em;
}
.up-pb-35em {
  padding-bottom: 35em;
}
.up-pl-35em {
  padding-left: 35em;
}
.up-p-40em {
  padding: 40em;
}
.up-pt-40em {
  padding-top: 40em;
}
.up-pr-40em {
  padding-right: 40em;
}
.up-pb-40em {
  padding-bottom: 40em;
}
.up-pl-40em {
  padding-left: 40em;
}
.up-p-45em {
  padding: 45em;
}
.up-pt-45em {
  padding-top: 45em;
}
.up-pr-45em {
  padding-right: 45em;
}
.up-pb-45em {
  padding-bottom: 45em;
}
.up-pl-45em {
  padding-left: 45em;
}
.up-p-50em {
  padding: 50em;
}
.up-pt-50em {
  padding-top: 50em;
}
.up-pr-50em {
  padding-right: 50em;
}
.up-pb-50em {
  padding-bottom: 50em;
}
.up-pl-50em {
  padding-left: 50em;
}
.up-m-5\% {
  margin: 5%;
}
.up-mt-5\% {
  margin-top: 5%;
}
.up-mr-5\% {
  margin-right: 5%;
}
.up-mb-5\% {
  margin-bottom: 5%;
}
.up-ml-5\% {
  margin-left: 5%;
}
.up-m-10\% {
  margin: 10%;
}
.up-mt-10\% {
  margin-top: 10%;
}
.up-mr-10\% {
  margin-right: 10%;
}
.up-mb-10\% {
  margin-bottom: 10%;
}
.up-ml-10\% {
  margin-left: 10%;
}
.up-m-15\% {
  margin: 15%;
}
.up-mt-15\% {
  margin-top: 15%;
}
.up-mr-15\% {
  margin-right: 15%;
}
.up-mb-15\% {
  margin-bottom: 15%;
}
.up-ml-15\% {
  margin-left: 15%;
}
.up-m-20\% {
  margin: 20%;
}
.up-mt-20\% {
  margin-top: 20%;
}
.up-mr-20\% {
  margin-right: 20%;
}
.up-mb-20\% {
  margin-bottom: 20%;
}
.up-ml-20\% {
  margin-left: 20%;
}
.up-m-25\% {
  margin: 25%;
}
.up-mt-25\% {
  margin-top: 25%;
}
.up-mr-25\% {
  margin-right: 25%;
}
.up-mb-25\% {
  margin-bottom: 25%;
}
.up-ml-25\% {
  margin-left: 25%;
}
.up-m-30\% {
  margin: 30%;
}
.up-mt-30\% {
  margin-top: 30%;
}
.up-mr-30\% {
  margin-right: 30%;
}
.up-mb-30\% {
  margin-bottom: 30%;
}
.up-ml-30\% {
  margin-left: 30%;
}
.up-m-35\% {
  margin: 35%;
}
.up-mt-35\% {
  margin-top: 35%;
}
.up-mr-35\% {
  margin-right: 35%;
}
.up-mb-35\% {
  margin-bottom: 35%;
}
.up-ml-35\% {
  margin-left: 35%;
}
.up-m-40\% {
  margin: 40%;
}
.up-mt-40\% {
  margin-top: 40%;
}
.up-mr-40\% {
  margin-right: 40%;
}
.up-mb-40\% {
  margin-bottom: 40%;
}
.up-ml-40\% {
  margin-left: 40%;
}
.up-m-45\% {
  margin: 45%;
}
.up-mt-45\% {
  margin-top: 45%;
}
.up-mr-45\% {
  margin-right: 45%;
}
.up-mb-45\% {
  margin-bottom: 45%;
}
.up-ml-45\% {
  margin-left: 45%;
}
.up-m-50\% {
  margin: 50%;
}
.up-mt-50\% {
  margin-top: 50%;
}
.up-mr-50\% {
  margin-right: 50%;
}
.up-mb-50\% {
  margin-bottom: 50%;
}
.up-ml-50\% {
  margin-left: 50%;
}
.up-p-5\% {
  padding: 5%;
}
.up-pt-5\% {
  padding-top: 5%;
}
.up-pr-5\% {
  padding-right: 5%;
}
.up-pb-5\% {
  padding-bottom: 5%;
}
.up-pl-5\% {
  padding-left: 5%;
}
.up-p-10\% {
  padding: 10%;
}
.up-pt-10\% {
  padding-top: 10%;
}
.up-pr-10\% {
  padding-right: 10%;
}
.up-pb-10\% {
  padding-bottom: 10%;
}
.up-pl-10\% {
  padding-left: 10%;
}
.up-p-15\% {
  padding: 15%;
}
.up-pt-15\% {
  padding-top: 15%;
}
.up-pr-15\% {
  padding-right: 15%;
}
.up-pb-15\% {
  padding-bottom: 15%;
}
.up-pl-15\% {
  padding-left: 15%;
}
.up-p-20\% {
  padding: 20%;
}
.up-pt-20\% {
  padding-top: 20%;
}
.up-pr-20\% {
  padding-right: 20%;
}
.up-pb-20\% {
  padding-bottom: 20%;
}
.up-pl-20\% {
  padding-left: 20%;
}
.up-p-25\% {
  padding: 25%;
}
.up-pt-25\% {
  padding-top: 25%;
}
.up-pr-25\% {
  padding-right: 25%;
}
.up-pb-25\% {
  padding-bottom: 25%;
}
.up-pl-25\% {
  padding-left: 25%;
}
.up-p-30\% {
  padding: 30%;
}
.up-pt-30\% {
  padding-top: 30%;
}
.up-pr-30\% {
  padding-right: 30%;
}
.up-pb-30\% {
  padding-bottom: 30%;
}
.up-pl-30\% {
  padding-left: 30%;
}
.up-p-35\% {
  padding: 35%;
}
.up-pt-35\% {
  padding-top: 35%;
}
.up-pr-35\% {
  padding-right: 35%;
}
.up-pb-35\% {
  padding-bottom: 35%;
}
.up-pl-35\% {
  padding-left: 35%;
}
.up-p-40\% {
  padding: 40%;
}
.up-pt-40\% {
  padding-top: 40%;
}
.up-pr-40\% {
  padding-right: 40%;
}
.up-pb-40\% {
  padding-bottom: 40%;
}
.up-pl-40\% {
  padding-left: 40%;
}
.up-p-45\% {
  padding: 45%;
}
.up-pt-45\% {
  padding-top: 45%;
}
.up-pr-45\% {
  padding-right: 45%;
}
.up-pb-45\% {
  padding-bottom: 45%;
}
.up-pl-45\% {
  padding-left: 45%;
}
.up-p-50\% {
  padding: 50%;
}
.up-pt-50\% {
  padding-top: 50%;
}
.up-pr-50\% {
  padding-right: 50%;
}
.up-pb-50\% {
  padding-bottom: 50%;
}
.up-pl-50\% {
  padding-left: 50%;
}
.up-m-60 {
  margin: 60px;
}
.up-mt-60 {
  margin-top: 60px;
}
.up-mr-60 {
  margin-right: 60px;
}
.up-mb-60 {
  margin-bottom: 60px;
}
.up-ml-60 {
  margin-left: 60px;
}
.up-m-65 {
  margin: 65px;
}
.up-mt-65 {
  margin-top: 65px;
}
.up-mr-65 {
  margin-right: 65px;
}
.up-mb-65 {
  margin-bottom: 65px;
}
.up-ml-65 {
  margin-left: 65px;
}
.up-m-70 {
  margin: 70px;
}
.up-mt-70 {
  margin-top: 70px;
}
.up-mr-70 {
  margin-right: 70px;
}
.up-mb-70 {
  margin-bottom: 70px;
}
.up-ml-70 {
  margin-left: 70px;
}
.up-m-75 {
  margin: 75px;
}
.up-mt-75 {
  margin-top: 75px;
}
.up-mr-75 {
  margin-right: 75px;
}
.up-mb-75 {
  margin-bottom: 75px;
}
.up-ml-75 {
  margin-left: 75px;
}
.up-m-80 {
  margin: 80px;
}
.up-mt-80 {
  margin-top: 80px;
}
.up-mr-80 {
  margin-right: 80px;
}
.up-mb-80 {
  margin-bottom: 80px;
}
.up-ml-80 {
  margin-left: 80px;
}
.up-m-85 {
  margin: 85px;
}
.up-mt-85 {
  margin-top: 85px;
}
.up-mr-85 {
  margin-right: 85px;
}
.up-mb-85 {
  margin-bottom: 85px;
}
.up-ml-85 {
  margin-left: 85px;
}
.up-m-90 {
  margin: 90px;
}
.up-mt-90 {
  margin-top: 90px;
}
.up-mr-90 {
  margin-right: 90px;
}
.up-mb-90 {
  margin-bottom: 90px;
}
.up-ml-90 {
  margin-left: 90px;
}
.up-m-95 {
  margin: 95px;
}
.up-mt-95 {
  margin-top: 95px;
}
.up-mr-95 {
  margin-right: 95px;
}
.up-mb-95 {
  margin-bottom: 95px;
}
.up-ml-95 {
  margin-left: 95px;
}
.up-m-100 {
  margin: 100px;
}
.up-mt-100 {
  margin-top: 100px;
}
.up-mr-100 {
  margin-right: 100px;
}
.up-mb-100 {
  margin-bottom: 100px;
}
.up-ml-100 {
  margin-left: 100px;
}
.up-p-60 {
  padding: 60px;
}
.up-pt-60 {
  padding-top: 60px;
}
.up-pr-60 {
  padding-right: 60px;
}
.up-pb-60 {
  padding-bottom: 60px;
}
.up-pl-60 {
  padding-left: 60px;
}
.up-p-65 {
  padding: 65px;
}
.up-pt-65 {
  padding-top: 65px;
}
.up-pr-65 {
  padding-right: 65px;
}
.up-pb-65 {
  padding-bottom: 65px;
}
.up-pl-65 {
  padding-left: 65px;
}
.up-p-70 {
  padding: 70px;
}
.up-pt-70 {
  padding-top: 70px;
}
.up-pr-70 {
  padding-right: 70px;
}
.up-pb-70 {
  padding-bottom: 70px;
}
.up-pl-70 {
  padding-left: 70px;
}
.up-p-75 {
  padding: 75px;
}
.up-pt-75 {
  padding-top: 75px;
}
.up-pr-75 {
  padding-right: 75px;
}
.up-pb-75 {
  padding-bottom: 75px;
}
.up-pl-75 {
  padding-left: 75px;
}
.up-p-80 {
  padding: 80px;
}
.up-pt-80 {
  padding-top: 80px;
}
.up-pr-80 {
  padding-right: 80px;
}
.up-pb-80 {
  padding-bottom: 80px;
}
.up-pl-80 {
  padding-left: 80px;
}
.up-p-85 {
  padding: 85px;
}
.up-pt-85 {
  padding-top: 85px;
}
.up-pr-85 {
  padding-right: 85px;
}
.up-pb-85 {
  padding-bottom: 85px;
}
.up-pl-85 {
  padding-left: 85px;
}
.up-p-90 {
  padding: 90px;
}
.up-pt-90 {
  padding-top: 90px;
}
.up-pr-90 {
  padding-right: 90px;
}
.up-pb-90 {
  padding-bottom: 90px;
}
.up-pl-90 {
  padding-left: 90px;
}
.up-p-95 {
  padding: 95px;
}
.up-pt-95 {
  padding-top: 95px;
}
.up-pr-95 {
  padding-right: 95px;
}
.up-pb-95 {
  padding-bottom: 95px;
}
.up-pl-95 {
  padding-left: 95px;
}
.up-p-100 {
  padding: 100px;
}
.up-pt-100 {
  padding-top: 100px;
}
.up-pr-100 {
  padding-right: 100px;
}
.up-pb-100 {
  padding-bottom: 100px;
}
.up-pl-100 {
  padding-left: 100px;
}
.up-m-60\% {
  margin: 60%;
}
.up-mt-60\% {
  margin-top: 60%;
}
.up-mr-60\% {
  margin-right: 60%;
}
.up-mb-60\% {
  margin-bottom: 60%;
}
.up-ml-60\% {
  margin-left: 60%;
}
.up-m-65\% {
  margin: 65%;
}
.up-mt-65\% {
  margin-top: 65%;
}
.up-mr-65\% {
  margin-right: 65%;
}
.up-mb-65\% {
  margin-bottom: 65%;
}
.up-ml-65\% {
  margin-left: 65%;
}
.up-m-70\% {
  margin: 70%;
}
.up-mt-70\% {
  margin-top: 70%;
}
.up-mr-70\% {
  margin-right: 70%;
}
.up-mb-70\% {
  margin-bottom: 70%;
}
.up-ml-70\% {
  margin-left: 70%;
}
.up-m-75\% {
  margin: 75%;
}
.up-mt-75\% {
  margin-top: 75%;
}
.up-mr-75\% {
  margin-right: 75%;
}
.up-mb-75\% {
  margin-bottom: 75%;
}
.up-ml-75\% {
  margin-left: 75%;
}
.up-m-80\% {
  margin: 80%;
}
.up-mt-80\% {
  margin-top: 80%;
}
.up-mr-80\% {
  margin-right: 80%;
}
.up-mb-80\% {
  margin-bottom: 80%;
}
.up-ml-80\% {
  margin-left: 80%;
}
.up-m-85\% {
  margin: 85%;
}
.up-mt-85\% {
  margin-top: 85%;
}
.up-mr-85\% {
  margin-right: 85%;
}
.up-mb-85\% {
  margin-bottom: 85%;
}
.up-ml-85\% {
  margin-left: 85%;
}
.up-m-90\% {
  margin: 90%;
}
.up-mt-90\% {
  margin-top: 90%;
}
.up-mr-90\% {
  margin-right: 90%;
}
.up-mb-90\% {
  margin-bottom: 90%;
}
.up-ml-90\% {
  margin-left: 90%;
}
.up-m-95\% {
  margin: 95%;
}
.up-mt-95\% {
  margin-top: 95%;
}
.up-mr-95\% {
  margin-right: 95%;
}
.up-mb-95\% {
  margin-bottom: 95%;
}
.up-ml-95\% {
  margin-left: 95%;
}
.up-m-100\% {
  margin: 100%;
}
.up-mt-100\% {
  margin-top: 100%;
}
.up-mr-100\% {
  margin-right: 100%;
}
.up-mb-100\% {
  margin-bottom: 100%;
}
.up-ml-100\% {
  margin-left: 100%;
}
.up-p-60\% {
  padding: 60%;
}
.up-pt-60\% {
  padding-top: 60%;
}
.up-pr-60\% {
  padding-right: 60%;
}
.up-pb-60\% {
  padding-bottom: 60%;
}
.up-pl-60\% {
  padding-left: 60%;
}
.up-p-65\% {
  padding: 65%;
}
.up-pt-65\% {
  padding-top: 65%;
}
.up-pr-65\% {
  padding-right: 65%;
}
.up-pb-65\% {
  padding-bottom: 65%;
}
.up-pl-65\% {
  padding-left: 65%;
}
.up-p-70\% {
  padding: 70%;
}
.up-pt-70\% {
  padding-top: 70%;
}
.up-pr-70\% {
  padding-right: 70%;
}
.up-pb-70\% {
  padding-bottom: 70%;
}
.up-pl-70\% {
  padding-left: 70%;
}
.up-p-75\% {
  padding: 75%;
}
.up-pt-75\% {
  padding-top: 75%;
}
.up-pr-75\% {
  padding-right: 75%;
}
.up-pb-75\% {
  padding-bottom: 75%;
}
.up-pl-75\% {
  padding-left: 75%;
}
.up-p-80\% {
  padding: 80%;
}
.up-pt-80\% {
  padding-top: 80%;
}
.up-pr-80\% {
  padding-right: 80%;
}
.up-pb-80\% {
  padding-bottom: 80%;
}
.up-pl-80\% {
  padding-left: 80%;
}
.up-p-85\% {
  padding: 85%;
}
.up-pt-85\% {
  padding-top: 85%;
}
.up-pr-85\% {
  padding-right: 85%;
}
.up-pb-85\% {
  padding-bottom: 85%;
}
.up-pl-85\% {
  padding-left: 85%;
}
.up-p-90\% {
  padding: 90%;
}
.up-pt-90\% {
  padding-top: 90%;
}
.up-pr-90\% {
  padding-right: 90%;
}
.up-pb-90\% {
  padding-bottom: 90%;
}
.up-pl-90\% {
  padding-left: 90%;
}
.up-p-95\% {
  padding: 95%;
}
.up-pt-95\% {
  padding-top: 95%;
}
.up-pr-95\% {
  padding-right: 95%;
}
.up-pb-95\% {
  padding-bottom: 95%;
}
.up-pl-95\% {
  padding-left: 95%;
}
.up-p-100\% {
  padding: 100%;
}
.up-pt-100\% {
  padding-top: 100%;
}
.up-pr-100\% {
  padding-right: 100%;
}
.up-pb-100\% {
  padding-bottom: 100%;
}
.up-pl-100\% {
  padding-left: 100%;
}
[class*='up-col-'] {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.up-col-1>* {
  width: 100%;
}
.up-col-2>* {
  width: 50%;
}
.up-col-3>* {
  width: 33.334%;
}
.up-col-4>* {
  width: 25%;
}
.up-col-5>* {
  width: 20%;
}
.up-col-6>* {
  width: 16.667%;
}
.up-col-7>* {
  width: 14.286%;
}
.up-col-8>* {
  width: 12.5%;
}
.up-col-9>* {
  width: 11.112%;
}
.up-col-10>* {
  width: 10%;
}
.up-gapx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.up-gapx-0>* {
  padding-left: 0px;
  padding-right: 0px;
}
.up-gapy-0>* {
  padding-bottom: gapy-px px;
}
.up-gapx-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.up-gapx-10>* {
  padding-left: 5px;
  padding-right: 5px;
}
.up-gapy-10>* {
  padding-bottom: gapy-px px;
}
.up-gapx-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.up-gapx-20>* {
  padding-left: 10px;
  padding-right: 10px;
}
.up-gapy-20>* {
  padding-bottom: gapy-px px;
}
.up-gapx-30 {
  margin-left: -15px;
  margin-right: -15px;
}
.up-gapx-30>* {
  padding-left: 15px;
  padding-right: 15px;
}
.up-gapy-30>* {
  padding-bottom: gapy-px px;
}
.up-gapx-40 {
  margin-left: -20px;
  margin-right: -20px;
}
.up-gapx-40>* {
  padding-left: 20px;
  padding-right: 20px;
}
.up-gapy-40>* {
  padding-bottom: gapy-px px;
}
.up-gapx-50 {
  margin-left: -25px;
  margin-right: -25px;
}
.up-gapx-50>* {
  padding-left: 25px;
  padding-right: 25px;
}
.up-gapy-50>* {
  padding-bottom: gapy-px px;
}
.up-gapx-60 {
  margin-left: -30px;
  margin-right: -30px;
}
.up-gapx-60>* {
  padding-left: 30px;
  padding-right: 30px;
}
.up-gapy-60>* {
  padding-bottom: gapy-px px;
}
.up-gapx-70 {
  margin-left: -35px;
  margin-right: -35px;
}
.up-gapx-70>* {
  padding-left: 35px;
  padding-right: 35px;
}
.up-gapy-70>* {
  padding-bottom: gapy-px px;
}
.up-gapx-80 {
  margin-left: -40px;
  margin-right: -40px;
}
.up-gapx-80>* {
  padding-left: 40px;
  padding-right: 40px;
}
.up-gapy-80>* {
  padding-bottom: gapy-px px;
}
.up-gapx-90 {
  margin-left: -45px;
  margin-right: -45px;
}
.up-gapx-90>* {
  padding-left: 45px;
  padding-right: 45px;
}
.up-gapy-90>* {
  padding-bottom: gapy-px px;
}
.up-gapx-100 {
  margin-left: -50px;
  margin-right: -50px;
}
.up-gapx-100>* {
  padding-left: 50px;
  padding-right: 50px;
}
.up-gapy-100>* {
  padding-bottom: gapy-px px;
}
.up-gap-0 {
  gap: 0px;
}
.up-gap-col-0 {
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
}
.up-gap-row-0 {
  row-gap: 0px;
}
.up-gap-5 {
  gap: 5px;
}
.up-gap-col-5 {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.up-gap-row-5 {
  row-gap: 5px;
}
.up-gap-10 {
  gap: 10px;
}
.up-gap-col-10 {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.up-gap-row-10 {
  row-gap: 10px;
}
.up-gap-15 {
  gap: 15px;
}
.up-gap-col-15 {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.up-gap-row-15 {
  row-gap: 15px;
}
.up-gap-20 {
  gap: 20px;
}
.up-gap-col-20 {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.up-gap-row-20 {
  row-gap: 20px;
}
.up-gap-25 {
  gap: 25px;
}
.up-gap-col-25 {
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.up-gap-row-25 {
  row-gap: 25px;
}
.up-gap-30 {
  gap: 30px;
}
.up-gap-col-30 {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.up-gap-row-30 {
  row-gap: 30px;
}
.up-gap-35 {
  gap: 35px;
}
.up-gap-col-35 {
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
.up-gap-row-35 {
  row-gap: 35px;
}
.up-gap-40 {
  gap: 40px;
}
.up-gap-col-40 {
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.up-gap-row-40 {
  row-gap: 40px;
}
.up-gap-45 {
  gap: 45px;
}
.up-gap-col-45 {
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
.up-gap-row-45 {
  row-gap: 45px;
}
.up-gap-50 {
  gap: 50px;
}
.up-gap-col-50 {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.up-gap-row-50 {
  row-gap: 50px;
}
.up-gap-55 {
  gap: 55px;
}
.up-gap-col-55 {
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
}
.up-gap-row-55 {
  row-gap: 55px;
}
.up-gap-60 {
  gap: 60px;
}
.up-gap-col-60 {
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.up-gap-row-60 {
  row-gap: 60px;
}
.up-gap-65 {
  gap: 65px;
}
.up-gap-col-65 {
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
}
.up-gap-row-65 {
  row-gap: 65px;
}
.up-gap-70 {
  gap: 70px;
}
.up-gap-col-70 {
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.up-gap-row-70 {
  row-gap: 70px;
}
.up-gap-75 {
  gap: 75px;
}
.up-gap-col-75 {
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
}
.up-gap-row-75 {
  row-gap: 75px;
}
.up-gap-80 {
  gap: 80px;
}
.up-gap-col-80 {
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.up-gap-row-80 {
  row-gap: 80px;
}
.up-gap-85 {
  gap: 85px;
}
.up-gap-col-85 {
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}
.up-gap-row-85 {
  row-gap: 85px;
}
.up-gap-90 {
  gap: 90px;
}
.up-gap-col-90 {
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
}
.up-gap-row-90 {
  row-gap: 90px;
}
.up-gap-95 {
  gap: 95px;
}
.up-gap-col-95 {
  -webkit-column-gap: 95px;
     -moz-column-gap: 95px;
          column-gap: 95px;
}
.up-gap-row-95 {
  row-gap: 95px;
}
.up-gap-100 {
  gap: 100px;
}
.up-gap-col-100 {
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.up-gap-row-100 {
  row-gap: 100px;
}
[class*='up-ofi'] {
  width: 100%;
  display: block;
  position: relative;
}
[class*='up-ofi'] img {
  width: 100%;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
[class*='up-ofi-']::after {
  content: '';
  display: block;
}
[class*='up-ofi-'] img {
  position: absolute;
  top: 0;
  left: 0;
}
.up-ofi-10::after {
  padding-top: 10%;
}
.up-ofi-15::after {
  padding-top: 15%;
}
.up-ofi-20::after {
  padding-top: 20%;
}
.up-ofi-25::after {
  padding-top: 25%;
}
.up-ofi-30::after {
  padding-top: 30%;
}
.up-ofi-35::after {
  padding-top: 35%;
}
.up-ofi-40::after {
  padding-top: 40%;
}
.up-ofi-45::after {
  padding-top: 45%;
}
.up-ofi-50::after {
  padding-top: 50%;
}
.up-ofi-55::after {
  padding-top: 55%;
}
.up-ofi-60::after {
  padding-top: 60%;
}
.up-ofi-65::after {
  padding-top: 65%;
}
.up-ofi-70::after {
  padding-top: 70%;
}
.up-ofi-75::after {
  padding-top: 75%;
}
.up-ofi-80::after {
  padding-top: 80%;
}
.up-ofi-85::after {
  padding-top: 85%;
}
.up-ofi-90::after {
  padding-top: 90%;
}
.up-ofi-95::after {
  padding-top: 95%;
}
.up-ofi-100::after {
  padding-top: 100%;
}
.up-ofi-105::after {
  padding-top: 105%;
}
.up-ofi-110::after {
  padding-top: 110%;
}
.up-ofi-115::after {
  padding-top: 115%;
}
.up-ofi-120::after {
  padding-top: 120%;
}
.up-ofi-125::after {
  padding-top: 125%;
}
.up-ofi-130::after {
  padding-top: 130%;
}
.up-ofi-135::after {
  padding-top: 135%;
}
.up-ofi-140::after {
  padding-top: 140%;
}
.up-ofi-145::after {
  padding-top: 145%;
}
.up-ofi-150::after {
  padding-top: 150%;
}
.up-ofi-155::after {
  padding-top: 155%;
}
.up-ofi-160::after {
  padding-top: 160%;
}
.up-ofi-165::after {
  padding-top: 165%;
}
.up-ofi-170::after {
  padding-top: 170%;
}
.up-ofi-175::after {
  padding-top: 175%;
}
.up-ofi-180::after {
  padding-top: 180%;
}
.up-ofi-185::after {
  padding-top: 185%;
}
.up-ofi-190::after {
  padding-top: 190%;
}
.up-ofi-195::after {
  padding-top: 195%;
}
.up-ofi-200::after {
  padding-top: 200%;
}
.up-obp-c img {
  -o-object-position: center;
     object-position: center;
}
.up-obp-t img {
  -o-object-position: top;
     object-position: top;
}
.up-obp-b img {
  -o-object-position: bottom;
     object-position: bottom;
}
.up-obp-l img {
  -o-object-position: left;
     object-position: left;
}
.up-obp-r img {
  -o-object-position: right;
     object-position: right;
}
.up-obf-cover img {
  -o-object-fit: cover;
     object-fit: cover;
}
.up-obf-contain img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*# sourceMappingURL=base.css.map */
