@charset "utf-8";
/* version 1.1 */
/* カラム */
[class*="up-col"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.up-col3-0 {
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
}
.up-col3-0 > * {
  width: calc((100% - 0px * 2) / 3);
}
.up-col3-10 {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.up-col3-10 > * {
  width: calc((100% - 10px * 2) / 3);
}
.up-col3-20 {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.up-col3-20 > * {
  width: calc((100% - 20px * 2) / 3);
}
.up-col3-30 {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.up-col3-30 > * {
  width: calc((100% - 30px * 2) / 3);
}
.up-col3-40 {
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.up-col3-40 > * {
  width: calc((100% - 40px * 2) / 3);
}
.up-col3-50 {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.up-col3-50 > * {
  width: calc((100% - 50px * 2) / 3);
}
.up-col3-60 {
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.up-col3-60 > * {
  width: calc((100% - 60px * 2) / 3);
}
.up-col3-70 {
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.up-col3-70 > * {
  width: calc((100% - 70px * 2) / 3);
}
.up-col3-80 {
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.up-col3-80 > * {
  width: calc((100% - 80px * 2) / 3);
}
.up-col3-90 {
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
}
.up-col3-90 > * {
  width: calc((100% - 90px * 2) / 3);
}
.up-col3-100 {
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.up-col3-100 > * {
  width: calc((100% - 100px * 2) / 3);
}
.up-col3-1\% {
  -webkit-column-gap: 1%;
     -moz-column-gap: 1%;
          column-gap: 1%;
}
.up-col3-1\% > * {
  width: calc((100% - 1% * 2) / 3);
}
.up-col3-2\% {
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
}
.up-col3-2\% > * {
  width: calc((100% - 2% * 2) / 3);
}
.up-col3-3\% {
  -webkit-column-gap: 3%;
     -moz-column-gap: 3%;
          column-gap: 3%;
}
.up-col3-3\% > * {
  width: calc((100% - 3% * 2) / 3);
}
.up-col3-4\% {
  -webkit-column-gap: 4%;
     -moz-column-gap: 4%;
          column-gap: 4%;
}
.up-col3-4\% > * {
  width: calc((100% - 4% * 2) / 3);
}
.up-col3-5\% {
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
.up-col3-5\% > * {
  width: calc((100% - 5% * 2) / 3);
}
.up-col3-6\% {
  -webkit-column-gap: 6%;
     -moz-column-gap: 6%;
          column-gap: 6%;
}
.up-col3-6\% > * {
  width: calc((100% - 6% * 2) / 3);
}
.up-col3-7\% {
  -webkit-column-gap: 7%;
     -moz-column-gap: 7%;
          column-gap: 7%;
}
.up-col3-7\% > * {
  width: calc((100% - 7% * 2) / 3);
}
.up-col3-8\% {
  -webkit-column-gap: 8%;
     -moz-column-gap: 8%;
          column-gap: 8%;
}
.up-col3-8\% > * {
  width: calc((100% - 8% * 2) / 3);
}
.up-col3-9\% {
  -webkit-column-gap: 9%;
     -moz-column-gap: 9%;
          column-gap: 9%;
}
.up-col3-9\% > * {
  width: calc((100% - 9% * 2) / 3);
}
.up-col3-10\% {
  -webkit-column-gap: 10%;
     -moz-column-gap: 10%;
          column-gap: 10%;
}
.up-col3-10\% > * {
  width: calc((100% - 10% * 2) / 3);
}
@media only screen and (max-width: 1024px) {
  .up-col3-0\@tb {
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
  }
  .up-col3-0\@tb > * {
    width: calc((100% - 0px * 2) / 3);
  }
  .up-col3-10\@tb {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .up-col3-10\@tb > * {
    width: calc((100% - 10px * 2) / 3);
  }
  .up-col3-20\@tb {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .up-col3-20\@tb > * {
    width: calc((100% - 20px * 2) / 3);
  }
  .up-col3-30\@tb {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .up-col3-30\@tb > * {
    width: calc((100% - 30px * 2) / 3);
  }
  .up-col3-40\@tb {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .up-col3-40\@tb > * {
    width: calc((100% - 40px * 2) / 3);
  }
  .up-col3-50\@tb {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .up-col3-50\@tb > * {
    width: calc((100% - 50px * 2) / 3);
  }
  .up-col3-60\@tb {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
  .up-col3-60\@tb > * {
    width: calc((100% - 60px * 2) / 3);
  }
  .up-col3-70\@tb {
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
  .up-col3-70\@tb > * {
    width: calc((100% - 70px * 2) / 3);
  }
  .up-col3-80\@tb {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
  .up-col3-80\@tb > * {
    width: calc((100% - 80px * 2) / 3);
  }
  .up-col3-90\@tb {
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px;
  }
  .up-col3-90\@tb > * {
    width: calc((100% - 90px * 2) / 3);
  }
  .up-col3-100\@tb {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
  .up-col3-100\@tb > * {
    width: calc((100% - 100px * 2) / 3);
  }
  .up-col3-1\%\@tb {
    -webkit-column-gap: 1%;
       -moz-column-gap: 1%;
            column-gap: 1%;
  }
  .up-col3-1\%\@tb > * {
    width: calc((100% - 1% * 2) / 3);
  }
  .up-col3-2\%\@tb {
    -webkit-column-gap: 2%;
       -moz-column-gap: 2%;
            column-gap: 2%;
  }
  .up-col3-2\%\@tb > * {
    width: calc((100% - 2% * 2) / 3);
  }
  .up-col3-3\%\@tb {
    -webkit-column-gap: 3%;
       -moz-column-gap: 3%;
            column-gap: 3%;
  }
  .up-col3-3\%\@tb > * {
    width: calc((100% - 3% * 2) / 3);
  }
  .up-col3-4\%\@tb {
    -webkit-column-gap: 4%;
       -moz-column-gap: 4%;
            column-gap: 4%;
  }
  .up-col3-4\%\@tb > * {
    width: calc((100% - 4% * 2) / 3);
  }
  .up-col3-5\%\@tb {
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
  }
  .up-col3-5\%\@tb > * {
    width: calc((100% - 5% * 2) / 3);
  }
  .up-col3-6\%\@tb {
    -webkit-column-gap: 6%;
       -moz-column-gap: 6%;
            column-gap: 6%;
  }
  .up-col3-6\%\@tb > * {
    width: calc((100% - 6% * 2) / 3);
  }
  .up-col3-7\%\@tb {
    -webkit-column-gap: 7%;
       -moz-column-gap: 7%;
            column-gap: 7%;
  }
  .up-col3-7\%\@tb > * {
    width: calc((100% - 7% * 2) / 3);
  }
  .up-col3-8\%\@tb {
    -webkit-column-gap: 8%;
       -moz-column-gap: 8%;
            column-gap: 8%;
  }
  .up-col3-8\%\@tb > * {
    width: calc((100% - 8% * 2) / 3);
  }
  .up-col3-9\%\@tb {
    -webkit-column-gap: 9%;
       -moz-column-gap: 9%;
            column-gap: 9%;
  }
  .up-col3-9\%\@tb > * {
    width: calc((100% - 9% * 2) / 3);
  }
  .up-col3-10\%\@tb {
    -webkit-column-gap: 10%;
       -moz-column-gap: 10%;
            column-gap: 10%;
  }
  .up-col3-10\%\@tb > * {
    width: calc((100% - 10% * 2) / 3);
  }
}
@media only screen and (max-width: 599px) {
  .up-col3-0\@sp {
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
  }
  .up-col3-0\@sp > * {
    width: calc((100% - 0px * 2) / 3);
  }
  .up-col3-10\@sp {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .up-col3-10\@sp > * {
    width: calc((100% - 10px * 2) / 3);
  }
  .up-col3-20\@sp {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .up-col3-20\@sp > * {
    width: calc((100% - 20px * 2) / 3);
  }
  .up-col3-30\@sp {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .up-col3-30\@sp > * {
    width: calc((100% - 30px * 2) / 3);
  }
  .up-col3-40\@sp {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .up-col3-40\@sp > * {
    width: calc((100% - 40px * 2) / 3);
  }
  .up-col3-50\@sp {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .up-col3-50\@sp > * {
    width: calc((100% - 50px * 2) / 3);
  }
  .up-col3-60\@sp {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
  .up-col3-60\@sp > * {
    width: calc((100% - 60px * 2) / 3);
  }
  .up-col3-70\@sp {
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
  .up-col3-70\@sp > * {
    width: calc((100% - 70px * 2) / 3);
  }
  .up-col3-80\@sp {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
  .up-col3-80\@sp > * {
    width: calc((100% - 80px * 2) / 3);
  }
  .up-col3-90\@sp {
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px;
  }
  .up-col3-90\@sp > * {
    width: calc((100% - 90px * 2) / 3);
  }
  .up-col3-100\@sp {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
  .up-col3-100\@sp > * {
    width: calc((100% - 100px * 2) / 3);
  }
  .up-col3-1\%\@sp {
    -webkit-column-gap: 1%;
       -moz-column-gap: 1%;
            column-gap: 1%;
  }
  .up-col3-1\%\@sp > * {
    width: calc((100% - 1% * 2) / 3);
  }
  .up-col3-2\%\@sp {
    -webkit-column-gap: 2%;
       -moz-column-gap: 2%;
            column-gap: 2%;
  }
  .up-col3-2\%\@sp > * {
    width: calc((100% - 2% * 2) / 3);
  }
  .up-col3-3\%\@sp {
    -webkit-column-gap: 3%;
       -moz-column-gap: 3%;
            column-gap: 3%;
  }
  .up-col3-3\%\@sp > * {
    width: calc((100% - 3% * 2) / 3);
  }
  .up-col3-4\%\@sp {
    -webkit-column-gap: 4%;
       -moz-column-gap: 4%;
            column-gap: 4%;
  }
  .up-col3-4\%\@sp > * {
    width: calc((100% - 4% * 2) / 3);
  }
  .up-col3-5\%\@sp {
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
  }
  .up-col3-5\%\@sp > * {
    width: calc((100% - 5% * 2) / 3);
  }
  .up-col3-6\%\@sp {
    -webkit-column-gap: 6%;
       -moz-column-gap: 6%;
            column-gap: 6%;
  }
  .up-col3-6\%\@sp > * {
    width: calc((100% - 6% * 2) / 3);
  }
  .up-col3-7\%\@sp {
    -webkit-column-gap: 7%;
       -moz-column-gap: 7%;
            column-gap: 7%;
  }
  .up-col3-7\%\@sp > * {
    width: calc((100% - 7% * 2) / 3);
  }
  .up-col3-8\%\@sp {
    -webkit-column-gap: 8%;
       -moz-column-gap: 8%;
            column-gap: 8%;
  }
  .up-col3-8\%\@sp > * {
    width: calc((100% - 8% * 2) / 3);
  }
  .up-col3-9\%\@sp {
    -webkit-column-gap: 9%;
       -moz-column-gap: 9%;
            column-gap: 9%;
  }
  .up-col3-9\%\@sp > * {
    width: calc((100% - 9% * 2) / 3);
  }
  .up-col3-10\%\@sp {
    -webkit-column-gap: 10%;
       -moz-column-gap: 10%;
            column-gap: 10%;
  }
  .up-col3-10\%\@sp > * {
    width: calc((100% - 10% * 2) / 3);
  }
}
@media only screen and (max-width: 599px) {
  .up-col-1\@sp > * {
    width: 100%;
  }
}

/*# sourceMappingURL=base_new1.1.css.map */
