@charset "utf-8";
/*===================================
  基本設定
===================================*/
.color01 {
  color: #000;
}
.color02 {
  color: #000;
}
.color03 {
  color: #000;
}
.color04 {
  color: #000;
}
.bgcolor01 {
  background-color: #000;
}
.bgcolor02 {
  background-color: #000;
}
.bgcolor03 {
  background-color: #000;
}
.bgcolor04 {
  background-color: #000;
}

/* 共通コンテンツ間隔 */
.area {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 599px) {
  .area {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* 共通要素読み込みコメント（取り込み後削除） */
[class*='load-'] {
  position: relative;
  min-height: 50px;
  border: 3px solid #00bcd4;
}
[class*='load-']:before {
  position: absolute;
  z-index: 100;
  display: block;
  background: #00bcd4;
  color: #ff0;
  content: '共通要素';
  text-align: center;
  font-weight: bold;
}

/*===================================
  共通ブロック　block-cmn
==================================*/
/* 共通ブロック１ */

/*===================================
  共通タイトル　ttl-cmn
===================================*/
/* 共通タイトル１ */

/*===================================
  共通リスト　list-cmn
==================================*/
/* 共通リスト１ */

/*===================================
  共通ボタン btn-cmn
===================================*/
/* 共通ボタン１ */

/*===================================
  他共通エレメント -cmn
===================================*/

/*===================================
  共通要素
===================================*/
/**
ヘッダー
header
*/

/**
グローバルナビ
gnav
*/

/**
フッター
footer
*/

/**
フッターナビ
fnav
*/

/**
サイドメニュー
side
*/

/*===================================
  各個別コンテンツ
===================================*/
/**
トップ
*/
/*ホームビジュアル（トップ）*/
.homevisual {
  position: relative;
}
.homevisual .img {
  position: relative;
  min-height: 300px;
}
.homevisual .img:before {
  display: block;
  padding-top: 40%;
  content: '';
}
.homevisual .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover; object-position: 50% 50%;';
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}
.homevisual .head {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 40px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 599px) {
  .homevisual .head {
    font-size: 28px;
  }
}

/* A-BiSUスライダー用 */
.mainimg {
  position: relative;
  overflow: hidden;
}
.mainimg img {
  width: 100%;
}
.mainimg .uk-slidenav-position {
  position: relative;
  overflow: hidden;
  min-height: 300px;
}
.mainimg .uk-slidenav-position:after {
  display: block;
  padding-top: 50%;
  content: '';
}
.mainimg .uk-slideshow {
  position: absolute;
  top: 0;
  height: 100% !important;
}
.mainimg .uk-slideshow li {
  height: 100% !important;
}
.mainimg .uk-slideshow .uk-flex {
  height: 100%;
}
.mainimg .uk-slideshow img {
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover; object-position: 50% 50%;';
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

/**
下層共通
*/

/**
各下層ページ
*/
