tb_max = 1024px
tb()
  @media (max-width: tb_max)
    {block}

// スマホのメディアクエリ
sp_max = 599px
sp()
  @media (max-width: sp_max)
    {block}

// innerの左右マージン
innerMargin()
  margin-left: auto
  margin-right: auto

// innerのプロパティ
innerProperty()
  width: 96%
  max-width: 768px

// テキスト省略
textEllipsis(maxHeight, line_num)
  max-height: maxHeight
  display: -webkit-box
  overflow: hidden
  text-overflow: ellipsis
  -webkit-box-orient: vertical
  -webkit-line-clamp: line_num

// 単位
unitlist1 = px \%
unitlist2 = px em
unitlist3 = px \% em
unitlist4 = px \% vw
unitlist5 = px \% vh

// marginとpadding（クラス名に単位なし）
spaces($min = 0, $max = 100, $step = 1, $unit = 'px', $device = '')
  $props = {
    m: 'margin',
    p: 'padding'
  }
  $spaces = {
    t: 'top',
    r: 'right',
    b: 'bottom',
    l: 'left'
  }

  for $pKey, $pVal in $props
    for $i in ($min / $step) .. ($max / $step)
      $num = $i * $step
      $value = $i == 0 ? $num : unit($num, $unit)

      .up-{$pKey}-{$num}{$device}
        {$pVal}: $value

      for $key, $val in $spaces
        .up-{$pKey}{$key}-{$num}{$device}
          {$pVal}-{$val}: $value

// marginとpadding（クラス名にem）
spaces_unit_em($min = 0, $max = 100, $step = 1, $unit = 'em', $device = '')
  $props = {
    m: 'margin',
    p: 'padding'
  }
  $spaces = {
    t: 'top',
    r: 'right',
    b: 'bottom',
    l: 'left'
  }

  for $pKey, $pVal in $props
    for $i in ($min / $step) .. ($max / $step)
      $num = $i * $step
      $value = $i == 0 ? $num : unit($num, $unit)

      .up-{$pKey}-{$num}{$unit}{$device}
        {$pVal}: $value

      for $key, $val in $spaces
        .up-{$pKey}{$key}-{$num}{$unit}{$device}
          {$pVal}-{$val}: $value

// marginとpadding（クラス名に%）
spaces_unit_percent($min = 0, $max = 100, $step = 1, $unit = '%', $device = '')
  $props = {
    m: 'margin',
    p: 'padding'
  }
  $spaces = {
    t: 'top',
    r: 'right',
    b: 'bottom',
    l: 'left'
  }

  for $pKey, $pVal in $props
    for $i in ($min / $step) .. ($max / $step)
      $num = $i * $step
      $value = $i == 0 ? $num : unit($num, $unit)

      .up-{$pKey}-{$num}\\{$unit}{$device}
        {$pVal}: $value

      for $key, $val in $spaces
        .up-{$pKey}{$key}-{$num}\\{$unit}{$device}
          {$pVal}-{$val}: $value

// 見たまま編集画面用　セレクタを変数として定義
commonSelectors = '
  > div[data-collection-list-content],
> div[data-recommend-collection-list-content],
> div[data-collection-filtered-content],
> div[data-collection-archive-content],
> div[data-product-list-content],
> div[data-product-recommend-content]
'

inherit01()
  width: 100%
  display: inherit
  flex-wrap: inherit
  flex-direction: inherit
  align-content: inherit
  align-items: inherit
  align-self: inherit
  justify-content: inherit
  justify-items: inherit
  justify-self: inherit