/* 見たまま編集バリデーション */
[datup-element-id] .up-none
  display inherit

[datup-element-id] [class*="heightLine"]
  height auto !important

[datup-element-id] .fead-mv
  opacity 1
[datup-element-id] .fead-up
  opacity 1
  transform translateY(0)
[datup-element-id] .fead-left
  opacity 1
  transform translate3d(0,0,0)
[datup-element-id] .fead-right
  opacity 1
  transform translate3d(0,0,0)

[datup-element-id] .imgalt
  position relative
  z-index 50
  overflow hidden
  padding 2px 4px
  max-height 70px
  background #333
  color orange
  text-align left
  font-size 14px

[datup-element-id] .altcolor
  color red

[datup-common-area]
  position relative

[datup-common-area]:hover:before
  position absolute !important
  bottom 100%
  left 50%
  box-sizing border-box
  padding 5px
  min-width 200px
  width 100%
  background #555
  color #FDC44F
  content "共通要素です。"
  text-align center
  font-weight bold
  font-size 12px
  transform translateX(-50%)

a[datup-href="#"]
  position relative !important
  display block
  border solid red 5px !important
  opacity 1

a[datup-href="#"]:hover:before
  position absolute !important
  bottom 100%
  left 50%
  box-sizing border-box
  padding 5px
  min-width 200px
  width 100%
  background #555
  color red
  content "リンクが設定されていない可能性があります。"
  font-weight bold
  font-size 12px
  transform translateX(-50%)

a[datup-href*="."]
  position relative !important
  display block
  border solid red 5px !important
  opacity 1

a[datup-href*="."]:hover:before
  position absolute !important
  bottom 100%
  left 50%
  box-sizing border-box
  padding 5px
  min-width 200px
  width 100%
  background #555
  color red
  content "外部リンクの可能性があります。リンクが飛ばない可能性がありますので注意してください。"
  font-weight bold
  font-size 12px
  transform translateX(-50%)

[datup-element-id][datup-uk-slideshow]:hover:before
  position absolute
  z-index 1000
  display block
  clear both
  padding 5px
  width 100%
  background #4c4c4c
  color red
  content "※こちらは見たまま編集ができません。①画像をダブルクリック、②変更（歯車マーク）、③スライドショーから編集してください。"
  text-align left
  letter-spacing 1px
  font-weight bold
  font-size 12px
  line-height 1.8

[datup-collection-list-content]:hover:before
  position absolute
  z-index 1000
  display block
  clear both
  padding 5px
  width 100%
  background #4c4c4c
  color red
  content "※こちらは見たまま編集ができません。①ページのどこかをダブルクリック、②左下（もしくは左上）のCMSロゴをクリック、③画面右上のメニュー（三本線マーク）から「カスタムコンテンツ管理」をクリック、④編集したいカスタムコンテンツの一覧（三本線マーク）から記事投稿・記事編集ができます。"
  text-align left
  letter-spacing 1px
  font-weight bold
  font-size 12px
  line-height 1.8

.up-flex
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    display flex
    width 100%

.up-jc-start
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    justify-content flex-start

.up-jc-end
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    justify-content flex-end

.up-jc-center
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    justify-content center

.up-jc-between
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    justify-content space-between

.up-jc-around
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    justify-content space-around

.up-jc-evenly
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    justify-content space-evenly

.up-row
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    flex-direction row

.up-rowr
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    flex-direction row-reverse

.up-col
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    flex-direction column

.up-colr
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    flex-direction column-reverse

.up-ai-start
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-items flex-start

.up-ai-center
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-items center

.up-ai-end
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-items flex-end

.up-ai-baseline
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-items baseline

.up-ai-stretch
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-items stretch

.up-ac-start
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-content flex-start

.up-ac-center
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-content center

.up-ac-end
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-content flex-end

.up-ac-between
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-content space-between

.up-ac-around
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    align-content space-around

.up-wrap
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    flex-wrap wrap

.up-wrapr
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    flex-wrap wrap-reverse

.up-nowrap
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    flex-wrap nowrap

.up-col1
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 100%
.up-col2
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 50%
.up-col3
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 33.333%
.up-col4
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 25%
.up-col5
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 20%
.up-col6
  > div[datup-collection-list-content],
  > div[datup-recommend-collection-list-content],
  > div[datup-collection-filtered-content],
  > div[datup-collection-archive-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 16.666%

for gapy in range(0,100,10)
  .up-gapy{gapy}
    > div[datup-collection-list-content],
    > div[datup-recommend-collection-list-content],
    > div[datup-collection-filtered-content],
    > div[datup-collection-archive-content]
      > *
        margin-bottom gapy px
for gapx in range(1,10,1)
  .up-gapx{gapx}p
    > div[datup-collection-list-content],
    > div[datup-recommend-collection-list-content],
    > div[datup-collection-filtered-content],
    > div[datup-collection-archive-content]
      margin-left -(gapx/2)%
      margin-right -(gapx/2)%
      > *
        margin-left (ceil((gapx/2),3))%
        margin-right (ceil((gapx/2),3))%
for gapx in range(1,10,1)
  .up-col2.up-gapx{gapx}p
    > div[datup-collection-list-content],
    > div[datup-recommend-collection-list-content],
    > div[datup-collection-filtered-content],
    > div[datup-collection-archive-content]
      > *
        width (50 - gapx)%
  .up-col3.up-gapx{gapx}p
    > div[datup-collection-list-content],
    > div[datup-recommend-collection-list-content],
    > div[datup-collection-filtered-content],
    > div[datup-collection-archive-content]
      > *
        width (33.333 - gapx)%
  .up-col4.up-gapx{gapx}p
    > div[datup-collection-list-content],
    > div[datup-recommend-collection-list-content],
    > div[datup-collection-filtered-content],
    > div[datup-collection-archive-content]
      > *
        width (25 - gapx)%
  .up-col5.up-gapx{gapx}p
    > div[datup-collection-list-content],
    > div[datup-recommend-collection-list-content],
    > div[datup-collection-filtered-content],
    > div[datup-collection-archive-content]
      > *
        width (20 - gapx)%
  .up-col6.up-gapx{gapx}p
    > div[datup-collection-list-content],
    > div[datup-recommend-collection-list-content],
    > div[datup-collection-filtered-content],
    > div[datup-collection-archive-content]
      > *
        width (16.666 - gapx)%
