/* 見たまま編集バリデーション */
[data-element-id]
  .up-relative\\\@edit
    position relative
  .up-absolute\\\@edit
    position absolute

[data-element-id] .up-none
  display inherit

[data-element-id] [class*="heightLine"]
  height auto !important

[data-element-id] .fead-mv
  opacity 1
[data-element-id] .fead-up
  opacity 1
  transform translateY(0)
[data-element-id] .fead-left
  opacity 1
  transform translate3d(0,0,0)
[data-element-id] .fead-right
  opacity 1
  transform translate3d(0,0,0)

[data-element-id] .imgalt
  position relative
  z-index 50
  overflow hidden
  padding 2px 4px
  max-height 70px
  background #333
  color orange
  text-align left
  font-size 14px

[data-element-id] .altcolor
  color red

[data-common-area]
  position relative

[data-common-area]:hover:before
  position absolute !important
  bottom 100%
  left 50%
  box-sizing border-box
  padding 5px
  min-width 200px
  width 100%
  background #555
  color #FDC44F
  content "共通要素です。"
  text-align center
  font-weight bold
  font-size 12px
  transform translateX(-50%)

a[data-href="#"]
  position relative !important
  display block
  border solid red 5px !important
  opacity 1

a[data-href="#"]:hover:before
  position absolute !important
  bottom 100%
  left 50%
  box-sizing border-box
  padding 5px
  min-width 200px
  width 100%
  background #555
  color red
  content "リンクが設定されていない可能性があります。"
  font-weight bold
  font-size 12px
  transform translateX(-50%)

a[data-href*="."]
  position relative !important
  display block
  border solid red 5px !important
  opacity 1

a[data-href*="."]:hover:before
  position absolute !important
  bottom 100%
  left 50%
  box-sizing border-box
  padding 5px
  min-width 200px
  width 100%
  background #555
  color red
  content "外部リンクの可能性があります。リンクが飛ばない可能性がありますので注意してください。"
  font-weight bold
  font-size 12px
  transform translateX(-50%)

[data-element-id][data-uk-slideshow]:hover:before
  position absolute
  z-index 1000
  display block
  clear both
  padding 5px
  width 100%
  background #4c4c4c
  color red
  content "※こちらは見たまま編集ができません。①画像をダブルクリック、②変更（歯車マーク）、③スライドショーから編集してください。"
  text-align left
  letter-spacing 1px
  font-weight bold
  font-size 12px
  line-height 1.8

[data-collection-list-content]:hover:before
  position absolute
  z-index 1000
  display block
  clear both
  padding 5px
  width 100%
  background #4c4c4c
  color red
  content "※こちらは見たまま編集ができません。①ページのどこかをダブルクリック、②左下（もしくは左上）のCMSロゴをクリック、③画面右上のメニュー（三本線マーク）から「カスタムコンテンツ管理」をクリック、④編集したいカスタムコンテンツの一覧（三本線マーク）から記事投稿・記事編集ができます。"
  text-align left
  letter-spacing 1px
  font-weight bold
  font-size 12px
  line-height 1.8

.up-flex
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    display flex
    width 100%

.up-jc-fs
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    justify-content flex-start

.up-jc-fe
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    justify-content flex-end

.up-jc-c
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    justify-content center

.up-jc-sb
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    justify-content space-between

.up-jc-sa
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    justify-content space-around

.up-jc-se
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    justify-content space-evenly

.up-fd-row
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    flex-direction row

.up-fd-rowr
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    flex-direction row-reverse

.up-fd-col
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    flex-direction column

.up-fd-colr
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    flex-direction column-reverse

.up-ai-fs
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-items flex-start

.up-ai-c
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-items center

.up-ai-fe
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-items flex-end

.up-ai-b
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-items baseline

.up-ai-s
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-items stretch

.up-ac-fs
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-content flex-start

.up-ac-c
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-content center

.up-ac-fe
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-content flex-end

.up-ac-sb
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-content space-between

.up-ac-sa
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    align-content space-around

.up-wrap
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    flex-wrap wrap

.up-wrapr
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    flex-wrap wrap-reverse

.up-nowrap
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    flex-wrap nowrap

.up-col1
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 100%
.up-col2
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 50%
.up-col3
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 33.333%
.up-col4
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 25%
.up-col5
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 20%
.up-col6
  > div[data-collection-list-content],
  > div[data-recommend-collection-list-content],
  > div[data-collection-filtered-content],
  > div[data-collection-archive-content],
  > div[data-product-list-content],
  > div[data-product-recommend-content]
    display flex
    flex-wrap wrap
    width 100%
    > *
      width 16.666%

for gapy in range(0,100,10)
  .up-gapy{gapy}
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        margin-bottom gapy px

for gapx-px in range(0,30,5)
  .up-gapx{gapx-px}
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      margin-left 0
      margin-right -(gapx-px/2)px
      > *
        margin-left (ceil((gapx-px/2),3))px
        margin-right (ceil((gapx-px/2),3))px
for gapx-px in range(0,30,5)
  .up-col1.up-gapx{gapx-px}
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width 100%
  .up-col2.up-gapx{gapx-px}
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width "calc(50% - %spx)" % (gapx-px)
  .up-col3.up-gapx{gapx-px}
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width "calc(33.333% - %spx)" % (gapx-px)
  .up-col4.up-gapx{gapx-px}
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width "calc(25% - %spx)" % (gapx-px)
  .up-col5.up-gapx{gapx-px}
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width "calc(20% - %spx)" % (gapx-px)
  .up-col6.up-gapx{gapx-px}
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width "calc(16.666% - %spx)" % (gapx-px)

for gapx in range(1,10,1)
  .up-gapx{gapx}p
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      margin-left 0
      margin-right -(gapx/2)%
      > *
        margin-left (ceil((gapx/2),3))%
        margin-right (ceil((gapx/2),3))%
for gapx in range(1,10,1)
  .up-col1.up-gapx{gapx}p
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width 100%
  .up-col2.up-gapx{gapx}p
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width (50 - gapx)%
  .up-col3.up-gapx{gapx}p
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width (33.333 - gapx)%
  .up-col4.up-gapx{gapx}p
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width (25 - gapx)%
  .up-col5.up-gapx{gapx}p
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width (20 - gapx)%
  .up-col6.up-gapx{gapx}p
    > div[data-collection-list-content],
    > div[data-recommend-collection-list-content],
    > div[data-collection-filtered-content],
    > div[data-collection-archive-content],
    > div[data-product-list-content],
    > div[data-product-recommend-content]
      > *
        width (16.666 - gapx)%
