@charset "utf-8"
/* version 0.2.5 */

html
  color #000
  font-weight normal
  font-size 16px
  font-family "游ゴシック",YuGothic,Hiragino Sans,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro",Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif
  /* font-family "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝", "Sawarabi Mincho", serif */
  /* font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif; */
  /* font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO"; */
  line-height 1.5
  -webkit-text-size-adjust 100%
  word-break: break-all;

*,
:after,
:before
  box-sizing border-box

body,
div,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
form,
input,
button,
figure,
figcaption,
p,
pre,
a,
time
  margin 0
  padding 0


h1,
h2,
h3,
h4,
h5,
h6
  color inherit
  font-weight inherit
  font-size inherit
  font-family inherit
  line-height inherit

button,
input,
optgroup,
select,
textarea
  padding 0
  color inherit
  line-height inherit

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object
  display block

button,
input,
optgroup,
select,
textarea
  margin 0
  font-size 100%
  font-family inherit
  line-height 1.15

img,
video,
iframe
  max-width 100%
  height auto

b,
strong
  font-weight bolder

ol,
ul
  list-style none

time
  display block

img
  border-style none
  vertical-align top
  border none
  max-width 100%
  height auto
img:not([src*="."])
  display none

button,
[role="button"]
  cursor pointer

table
  border-collapse collapse
th
  font-weight normal

.img img
  margin-right auto
  margin-left auto

.map
  position relative
  overflow hidden
  &:after
    display block
    padding-top 50%
    content ""
  iframe
    position absolute
    top 0
    right 0
    left 0
    margin auto
    max-width initial
    width 100%
    height 100%

a,
button
  color inherit
  text-decoration none
  transition 0.4s ease
  &:hover
    opacity 0.6
    text-decoration none
    color inherit
    cursor pointer
  &[href*="tel"]
    pointer-events none
  @media (max-width 1024px)
    &[href*="tel"]
      pointer-events initial !important

.wrapper
  overflow hidden
  min-width 320px
[data-element-id] .wrapper
  padding-top 0 !important
  opacity 1

/* inner */
.inner
  margin 0 auto
  max-width 1000px
  width 92%
.inner600
  margin 0 auto
  max-width 600px
  width 92%
.inner700
  margin 0 auto
  max-width 700px
  width 92%
.inner800
  margin 0 auto
  max-width 800px
  width 92%
.inner900
  margin 0 auto
  max-width 900px
  width 92%
.inner1100
  margin 0 auto
  max-width 1100px
  width 98%
.inner1200
  margin 0 auto
  max-width 1200px
  width 98%
@media (max-width 1024px)
  .inner,
  .inner600,
  .inner700,
  .inner800,
  .inner900
    max-width 768px
    width 96%

[class*="heightLine"]
  display block

/* フィード */
.fead-mv
  opacity 0
  &.mv
    opacity 1
    transition 0.5s ease-out
.fead-up
  opacity 0
  transform translateY(50px)
  &.mv
    opacity 1
    transform translateY(0)
    transition 0.5s ease-out
.fead-right
  opacity 0
  transform translateX(-20%)
  &.mv
    opacity 1
    transform translateX(0)
    transition 1s
.fead-left
  opacity 0
  transform translateX(20%)
  &.mv
    opacity 1
    transform translateX(0)
    transition 1s


/* clear */
.up-clear
  clear both
.up-clearfix
  display block
.up-clearfix:before
  display block
  clear both
  content ""
.up-clearfix:after
  display block
  clear both
  content ""

/* overflow */
.up-over-hidden
  overflow hidden

/* font-family */
.up-gothic
  font-family "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
.up-mincho
  font-family "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif

/* font-style */
.up-italic
  font-style italic

/* text-decoration */
.up-underline
  text-decoration underline

/* list-style-type */
.up-list-disc
  list-style-type disc
.up-list-decimal
  list-style-type decimal

/* list-style-position */
.up-list-inside
  list-style-position inside
.up-list-outside
  list-style-position outside

/* font-weight */
.up-fw-light
  font-weight lighter
.up-fw-normal
  font-weight normal
.up-fw-bold
  font-weight bold

/* 画像比率固定 */
[class*="up-of-img"]
  position relative
  display block
  width 100%
  img
    width 100%
    height 100% !important
    /* IE対策 */
    font-family "object-fit: cover; object-position: 50% 50%;"
    object-fit cover
    object-position 50% 50%

/* 子要素のaタグをブロック化 */
.up-adb a
  display block

/* ３点リーダー（１行） */
.up-reader1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

/* 正円 */
.up-circle
  overflow hidden
  border-radius 50%


/*===================================
  以下@tb,@spが用意されているクラス
===================================*/
/* display */
.up-db
  display block
.up-dib
  display inline-block
.up-flex
  display flex
.up-none
  display none

/* box-sizing */
.up-content
  box-sizing content-box

/* position */
.up-fixed
  position fixed
.up-absolute
  position absolute
.up-relative
  position relative

/* z-index */
for z in range(-5,5,1)
  .up-z{z}
    z-index z

/* color */
.up-red
  color red
.up-blue
  color blue
.up-yellow
  color yellow
.up-gray
  color gray
.up-black
  color black
.up-white
  color white

/* background-color */
.up-bgc-red
  background-color red
.up-bgc-blue
  background-color blue
.up-bgc-yellow
  background-color yellow
.up-bgc-gray
  background-color gray
.up-bgc-black
  background-color black
.up-bgc-white
  background-color white

/* text-align */
.up-tac
  text-align center
.up-tal
  text-align left
.up-tar
  text-align right

/* font-size */
for fz in range(10,20,1)
  .up-fz{fz}
    font-size (fz)px
for fz in range(22,70,2)
  .up-fz{fz}
    font-size (fz)px
for fz in range(80,300,20)
  .up-fz{fz}
    font-size (fz)px
.up-fz1vw
  font-size 1vw
for fz-vw in range(1,9,1)
  .up-fz1\\\.{fz-vw}vw
    font-size (1 + fz-vw/10)vw
.up-fz2vw
  font-size 2vw
for fz-vw in range(1,9,1)
  .up-fz2\\\.{fz-vw}vw
    font-size (2 + fz-vw/10)vw
.up-fz3vw
  font-size 3vw


/* line-height */
.up-lh1
  line-height 1
for lh in range(1,9,1)
  .up-lh1\\\.{lh}
    line-height (1 + lh/10)
.up-lh2
  line-height 2
for lh in range(1,9,1)
  .up-lh2\\\.{lh}
    line-height (2 + lh/10)
.up-lh3
  line-height 3

/* cursor */
.up-pointer
  cursor pointer

/* br */
.up-br br
  display inline
.up-br-none br
  display none


/* flex-wrap */
.up-wrap
  flex-wrap wrap
.up-wrapr
  flex-wrap wrap-reverse
.up-nowrap
  flex-wrap nowrap

/* flex-direction */
.up-fd-row
  flex-direction row
.up-fd-rowr
  flex-direction row-reverse
.up-fd-col
  flex-direction column
.up-fd-colr
  flex-direction column-reverse

/* 偶数と奇数番目で左右反転 */
.up-fd-even > *:nth-child(even),
.up-fd-odd > *:nth-child(odd)
  flex-direction: row-reverse;

/* justify-content */
.up-jc-fs
  justify-content flex-start
.up-jc-fe
  justify-content flex-end
.up-jc-c
  justify-content center
.up-jc-sb
  justify-content space-between
.up-jc-sa
  justify-content space-around
.up-jc-se
  justify-content space-evenly

/* align-items */
.up-ai-fs
  align-items flex-start
.up-ai-c
  align-items center
.up-ai-fe
  align-items flex-end
.up-ai-b
  align-items baseline
.up-ai-s
  align-items stretch

/* align-content */
.up-ac-fs
  align-content flex-start
.up-ac-c
  align-content center
.up-ac-fe
  align-content flex-end
.up-ac-sb
  align-content space-between
.up-ac-sa
  align-content space-around

/* align-self */
.up-as-fs
  align-self flex-start
.up-as-c
  align-self center
.up-as-s
  align-self stretch
.up-as-fe
  align-self flex-end
.up-as-auto
  align-self auto

/* grow, shrink */
.up-grow0
  flex-grow 0
.up-grow1
  flex-grow 1
.up-shrink0
  flex-shrink 0
.up-shrink1
  flex-shrink 1

/* width */
.up-w-auto
  width auto
.up-w48p
  width 48%
for width-px in range(0,500,5)
  .up-w{width-px}
    width (width-px)px
for width-p in range(5,100,5)
  .up-w{width-p}p
    width (width-p)%

/* min-width */
for min-width-px in range(0,500,50)
  .up-minw{min-width-px}
    min-width (min-width-px)px

/* max-width */
for max-width-px in range(0,1000,50)
  .up-maxw{max-width-px}
    max-width (max-width-px)px

/* height */
.up-h-auto
  height auto
.up-h-auto-i
  height auto !important
.up-h0
  height 0
.up-h48p
  height 48%
for height-p in range(5,100,5)
  .up-h{height-p}p
    height (height-p)%

/* min-height */
for min-height-px in range(0,500,50)
  .up-minh{min-height-px}
    min-height (min-height-px)px

/* max-height */
for max-height-px in range(0,700,50)
  .up-maxh{max-height-px}
    max-height (max-height-px)px


/* margin */
.up-m-auto
  margin auto
.up-ml-auto
  margin-left auto
.up-mr-auto
  margin-right auto
.up-mx-auto
  margin-right auto
  margin-left auto

range-margin-px = 0,10,1
for margin-px in range(range-margin-px)
  .up-m{margin-px}
    margin (margin-px)px
for margin-px in range(range-margin-px)
  .up-mx{margin-px}
    margin-right (margin-px)px
    margin-left (margin-px)px
for margin-px in range(range-margin-px)
  .up-my{margin-px}
    margin-top (margin-px)px
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-mt{margin-px}
    margin-top (margin-px)px
for margin-px in range(range-margin-px)
  .up-mr{margin-px}
    margin-right (margin-px)px
for margin-px in range(range-margin-px)
  .up-mb{margin-px}
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-ml{margin-px}
    margin-left (margin-px)px

.up-m15
  margin 15px
.up-mx15
  margin-right 15px
  margin-left 15px
.up-my15
  margin-top 15px
  margin-bottom 15px
.up-mt15
  margin-top 15px
.up-mr15
  margin-right 15px
.up-mb15
  margin-bottom 15px
.up-ml15
  margin-left 15px

range-margin-px = 20,150,10
for margin-px in range(range-margin-px)
  .up-m{margin-px}
    margin (margin-px)px
for margin-px in range(range-margin-px)
  .up-mx{margin-px}
    margin-right (margin-px)px
    margin-left (margin-px)px
for margin-px in range(range-margin-px)
  .up-my{margin-px}
    margin-top (margin-px)px
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-mt{margin-px}
    margin-top (margin-px)px
for margin-px in range(range-margin-px)
  .up-mr{margin-px}
    margin-right (margin-px)px
for margin-px in range(range-margin-px)
  .up-mb{margin-px}
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-ml{margin-px}
    margin-left (margin-px)px

range-margin-p = 1,10,1
for margin-p in range(range-margin-p)
  .up-m{margin-p - 1}\\\.5p
    margin (margin-p - .5)%
  .up-m{margin-p}p
    margin (margin-p)%
for margin-p in range(range-margin-p)
  .up-mx{margin-p - 1}\\\.5p
    margin-right (margin-p - .5)%
    margin-left (margin-p - .5)%
  .up-mx{margin-p}p
    margin-right (margin-p)%
    margin-left (margin-p)%
for margin-p in range(range-margin-p)
  .up-my{margin-p - 1}\\\.5p
    margin-top (margin-p - .5)%
    margin-bottom (margin-p - .5)%
  .up-my{margin-p}p
    margin-top (margin-p)%
    margin-bottom (margin-p)%
for margin-p in range(range-margin-p)
  .up-mt{margin-p - 1}\\\.5p
    margin-top (margin-p - .5)%
  .up-mt{margin-p}p
    margin-top (margin-p)%
for margin-p in range(range-margin-p)
  .up-mr{margin-p - 1}\\\.5p
    margin-right (margin-p - .5)%
  .up-mr{margin-p}p
    margin-right (margin-p)%
for margin-p in range(range-margin-p)
  .up-mb{margin-p - 1}\\\.5p
    margin-bottom (margin-p - .5)%
  .up-mb{margin-p}p
    margin-bottom (margin-p)%
for margin-p in range(range-margin-p)
  .up-ml{margin-p - 1}\\\.5p
    margin-left (margin-p - .5)%
  .up-ml{margin-p}p
    margin-left (margin-p)%

/* padding */
range-padding-px = 0,10,1
for padding-px in range(range-padding-px)
  .up-p{padding-px}
    padding (padding-px)px
for padding-px in range(range-padding-px)
  .up-px{padding-px}
    padding-right (padding-px)px
    padding-left (padding-px)px
for padding-px in range(range-padding-px)
  .up-py{padding-px}
    padding-top (padding-px)px
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pt{padding-px}
    padding-top (padding-px)px
for padding-px in range(range-padding-px)
  .up-pr{padding-px}
    padding-right (padding-px)px
for padding-px in range(range-padding-px)
  .up-pb{padding-px}
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pl{padding-px}
    padding-left (padding-px)px

.up-px15
  padding-right 15px
  padding-left 15px
.up-py15
  padding-top 15px
  padding-bottom 15px
.up-pt15
  padding-top 15px
.up-pr15
  padding-right 15px
.up-pb15
  padding-bottom 15px
.up-pl15
  padding-left 15px

range-padding-px = 20,150,10
for padding-px in range(range-padding-px)
  .up-p{padding-px}
    padding (padding-px)px
for padding-px in range(range-padding-px)
  .up-px{padding-px}
    padding-right (padding-px)px
    padding-left (padding-px)px
for padding-px in range(range-padding-px)
  .up-py{padding-px}
    padding-top (padding-px)px
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pt{padding-px}
    padding-top (padding-px)px
for padding-px in range(range-padding-px)
  .up-pr{padding-px}
    padding-right (padding-px)px
for padding-px in range(range-padding-px)
  .up-pb{padding-px}
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pl{padding-px}
    padding-left (padding-px)px

/* カラム */
.up-col2
  display flex
  flex-wrap wrap
  > *
    width 50%
.up-col3
  display flex
  flex-wrap wrap
  > *
    width 33.333%
.up-col4
  display flex
  flex-wrap wrap
  > *
    width 25%
.up-col5
  display flex
  flex-wrap wrap
  > *
    width 20%
.up-col6
  display flex
  flex-wrap wrap
  > *
    width 16.666%
for gapy in range(0,100,10)
  .up-gapy{gapy}
    > *
      margin-bottom gapy px

for gapx in range(1,10,1)
  .up-gapx{gapx}p
    margin-left -(gapx/2)%
    margin-right -(gapx/2)%
    > *
      margin-left (ceil((gapx/2),3))%
      margin-right (ceil((gapx/2),3))%
for gapx in range(1,10,1)
  .up-col1.up-gapx{gapx}p
    > *
      width (100 - gapx)%
  .up-col2.up-gapx{gapx}p
    > *
      width (50 - gapx)%
  .up-col3.up-gapx{gapx}p
    > *
      width (33.333 - gapx)%
  .up-col4.up-gapx{gapx}p
    > *
      width (25 - gapx)%
  .up-col5.up-gapx{gapx}p
    > *
      width (20 - gapx)%
  .up-col6.up-gapx{gapx}p
    > *
      width (16.666 - gapx)%

for gapx-px in range(0,30,5)
  .up-gapx{gapx-px}
    margin-left -(gapx-px/2)px
    margin-right -(gapx-px/2)px
    > *
      margin-left (ceil((gapx-px/2),3))px
      margin-right (ceil((gapx-px/2),3))px
for gapx-px in range(0,30,5)
  .up-col1.up-gapx{gapx-px}
    > *
      width "calc(100% - %spx)" % (gapx-px)
  .up-col2.up-gapx{gapx-px}
    > *
      width "calc(50% - %spx)" % (gapx-px)
  .up-col3.up-gapx{gapx-px}
    > *
      width "calc(33.333% - %spx)" % (gapx-px)
  .up-col4.up-gapx{gapx-px}
    > *
      width "calc(25% - %spx)" % (gapx-px)
  .up-col5.up-gapx{gapx-px}
    > *
      width "calc(20% - %spx)" % (gapx-px)
  .up-col6.up-gapx{gapx-px}
    > *
      width "calc(16.666% - %spx)" % (gapx-px)

/* 画像比率固定 */
for image in range(10,170,5)
  .up-of-img{image}
    &:after
      content ""
      display block
      padding-top (image)%
    img
      position absolute
      top 0
      left 0

/* object-position */
.up-of-c img
  font-family "object-fit: cover; object-position: center center;"
  object-position center
.up-of-t img
  font-family "object-fit: cover; object-position: center top;"
  object-position top
.up-of-r img
  font-family "object-fit: cover; object-position: right center;"
  object-position right
.up-of-b img
  font-family "object-fit: cover; object-position: center bottom;"
  object-position bottom
.up-of-l img
  font-family "object-fit: cover; object-position: left center;"
  object-position left

/* object-position */
.up-of-contain img
  font-family "object-fit: contain; object-position: center center;"
  object-position contain


@media only screen and (max-width 1024px)
  /* display */
  .up-db_tb
    display block
  .up-dib_tb
    display inline-block
  .up-flex_tb
    display flex
  .up-none_tb
    display none

  /* box-sizing */
  .up-content_tb
    box-sizing content-box

  /* position */
  .up-fixed_tb
    position fixed
  .up-asolute_tb
    position absolute
  .up-relative_tb
    position relative

  /* z-index */
  for z in range(-5,5,1)
    .up-z{z}_tb
      z-index z

  /* color */
  .up-red_tb
    color red
  .up-blue_tb
    color blue
  .up-yellow_tb
    color yellow
  .up-gray_tb
    color gray
  .up-black_tb
    color black
  .up-white_tb
    color white

  /* background-color */
  .up-bgc-red_tb
    background-color red
  .up-bgc-blue_tb
    background-color blue
  .up-bgc-yellow_tb
    background-color yellow
  .up-bgc-gray_tb
    background-color gray
  .up-bgc-black_tb
    background-color black
  .up-bgc-white_tb
    background-color white

  /* text-align */
  .up-tac_tb
    text-align center
  .up-tal_tb
    text-align left
  .up-tar_tb
    text-align right

  /* font-size */
  for fz in range(10,20,1)
    .up-fz{fz}_tb
      font-size (fz)px
  for fz in range(22,70,2)
    .up-fz{fz}_tb
      font-size (fz)px
  for fz in range(80,300,20)
    .up-fz{fz}_tb
      font-size (fz)px

  .up-fz1vw_tb
    font-size 1vw
  for fz-vw in range(1,9,1)
    .up-fz1\\\.{fz-vw}vw_tb
      font-size (1 + fz-vw/10)vw
  .up-fz2vw_tb
    font-size 2vw
  for fz-vw in range(1,9,1)
    .up-fz2\\\.{fz-vw}vw_tb
      font-size (2 + fz-vw/10)vw
  .up-fz3vw_tb
    font-size 3vw

  /* line-height */
  .up-lh1_tb
    line-height 1
  for lh in range(1,9,1)
    .up-lh1\\\.{lh}_tb
      line-height (1 + lh/10)
  .up-lh2_tb
    line-height 2
  for lh in range(1,9,1)
    .up-lh2\\\.{lh}_tb
      line-height (2 + lh/10)
  .up-lh3_tb
    line-height 3

  /* br */
  .up-br_tb br
    display inline
  .up-br-none_tb br
    display none

  /* flex-wrap */
  .up-wrap_tb
    flex-wrap wrap
  .up-wrapr_tb
    flex-wrap wrap-reverse
  .up-nowrap_tb
    flex-wrap nowrap

  /* flex-direction */
  .up-fd-row_tb
    flex-direction row
  .up-fd-rowr_tb
    flex-direction row-reverse
  .up-fd-col_tb
    flex-direction column
  .up-fd-colr_tb
    flex-direction column-reverse

  /* justify-content */
  .up-jc-fs_tb
    justify-content flex-start
  .up-jc-fe_tb
    justify-content flex-end
  .up-jc-c_tb
    justify-content center
  .up-jc-sb_tb
    justify-content space-between
  .up-jc-sa_tb
    justify-content space-around
  .up-jc-se_tb
    justify-content space-evenly

  /* align-items */
  .up-ai-fs_tb
    align-items flex-start
  .up-ai-c_tb
    align-items center
  .up-ai-fe_tb
    align-items flex-end
  .up-ai-b_tb
    align-items baseline
  .up-ai-s_tb
    align-items stretch

  /* align-content */
  .up-ac-fs_tb
    align-content flex-start
  .up-ac-c_tb
    align-content center
  .up-ac-fe_tb
    align-content flex-end
  .up-ac-sb_tb
    align-content space-between
  .up-ac-sa_tb
    align-content space-around

  /* align-self */
  .up-as-fs_tb
    align-self flex-start
  .up-as-c_tb
    align-self center
  .up-as-s_tb
    align-self stretch
  .up-as-fe_tb
    align-self flex-end
  .up-as-auto_tb
    align-self auto

  /* grow, shrink */
  .up-grow0_tb
    flex-grow 0
  .up-grow1_tb
    flex-grow 1
  .up-shrink0_tb
    flex-shrink 0
  .up-shrink1_tb
    flex-shrink 1

  /* width */
  .up-w-auto_tb
    width auto
  .up-w48p_tb
    width 48%
  for width-px in range(0,500,5)
    .up-w{width-px}_tb
      width (width-px)px
  for width-p in range(5,100,5)
    .up-w{width-p}p_tb
      width (width-p)%

  /* min-width */
  for min-width-px in range(0,500,50)
    .up-minw{min-width-px}_tb
      min-width (min-width-px)px

  /* max-width */
  for max-width-px in range(0,1000,50)
    .up-maxw{max-width-px}_tb
      max-width (max-width-px)px

  /* height */
  .up-h-auto_tb
    height auto
  .up-h-auto-i_tb
    height auto !important
  .up-h0_tb
    height 0
  .up-h48p_tb
    height 48%
  for height-p in range(5,100,5)
    .up-h{height-p}p_tb
      height (height-p)%

  /* min-height */
  for min-height-px in range(0,500,50)
    .up-minh{min-height-px}_tb
      min-height (min-height-px)px

  /* max-height */
  for max-height-px in range(0,700,50)
    .up-maxh{max-height-px}_tb
      max-height (max-height-px)px

  /* margin */
  .up-m-auto_tb
    margin auto
  .up-ml-auto_tb
    margin-left auto
  .up-mr-auto_tb
    margin-right auto
  .up-mx-auto_tb
    margin-right auto
    margin-left auto

  range-margin-px = 0,10,1
  for margin-px in range(range-margin-px)
    .up-m{margin-px}_tb
      margin (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mx{margin-px}_tb
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my{margin-px}_tb
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt{margin-px}_tb
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr{margin-px}_tb
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb{margin-px}_tb
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml{margin-px}_tb
      margin-left (margin-px)px

  .up-m15_tb
    margin 15px
  .up-mx15_tb
    margin-right 15px
    margin-left 15px
  .up-my15_tb
    margin-top 15px
    margin-bottom 15px
  .up-mt15_tb
    margin-top 15px
  .up-mr15_tb
    margin-right 15px
  .up-mb15_tb
    margin-bottom 15px
  .up-ml15_tb
    margin-left 15px

  range-margin-px = 20,150,10
  for margin-px in range(range-margin-px)
    .up-m{margin-px}_tb
      margin (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mx{margin-px}_tb
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my{margin-px}_tb
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt{margin-px}_tb
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr{margin-px}_tb
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb{margin-px}_tb
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml{margin-px}_tb
      margin-left (margin-px)px

  range-margin-p = 1,10,1
  for margin-p in range(range-margin-p)
    .up-m{margin-p - 1}\\\.5p_tb
      margin (margin-p - .5)%
    .up-m{margin-p}p_tb
      margin (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mx{margin-p - 1}\\\.5p_tb
      margin-right (margin-p - .5)%
      margin-left (margin-p - .5)%
    .up-mx{margin-p}p_tb
      margin-right (margin-p)%
      margin-left (margin-p)%
  for margin-p in range(range-margin-p)
    .up-my{margin-p - 1}\\\.5p_tb
      margin-top (margin-p - .5)%
      margin-bottom (margin-p - .5)%
    .up-my{margin-p}p_tb
      margin-top (margin-p)%
      margin-bottom (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mt{margin-p - 1}\\\.5p_tb
      margin-top (margin-p - .5)%
    .up-mt{margin-p}p_tb
      margin-top (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mr{margin-p - 1}\\\.5p_tb
      margin-right (margin-p - .5)%
    .up-mr{margin-p}p_tb
      margin-right (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mb{margin-p - 1}\\\.5p_tb
      margin-bottom (margin-p - .5)%
    .up-mb{margin-p}p_tb
      margin-bottom (margin-p)%
  for margin-p in range(range-margin-p)
    .up-ml{margin-p - 1}\\\.5p_tb
      margin-left (margin-p - .5)%
    .up-ml{margin-p}p_tb
      margin-left (margin-p)%


  /* padding */
  range-padding-px = 0,10,1
  for padding-px in range(range-padding-px)
    .up-p{padding-px}_tb
      padding (padding-px)px
  for padding-px in range(range-padding-px)
    .up-px{padding-px}_tb
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py{padding-px}_tb
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt{padding-px}_tb
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr{padding-px}_tb
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb{padding-px}_tb
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl{padding-px}_tb
      padding-left (padding-px)px

  .up-p15_tb
    padding 15px
  .up-px15_tb
    padding-right 15px
    padding-left 15px
  .up-py15_tb
    padding-top 15px
    padding-bottom 15px
  .up-pt15_tb
    padding-top 15px
  .up-pr15_tb
    padding-right 15px
  .up-pb15_tb
    padding-bottom 15px
  .up-pl15_tb
    padding-left 15px

  range-padding-px = 20,150,10
  for padding-px in range(range-padding-px)
    .up-p{padding-px}_tb
      padding (padding-px)px
  for padding-px in range(range-padding-px)
    .up-px{padding-px}_tb
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py{padding-px}_tb
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt{padding-px}_tb
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr{padding-px}_tb
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb{padding-px}_tb
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl{padding-px}_tb
      padding-left (padding-px)px

  /* カラム */
  .up-col1_tb
    display flex
    flex-wrap wrap
    > *
      width 100%
  .up-col2_tb
    display flex
    flex-wrap wrap
    > *
      width 50%
  .up-col3_tb
    display flex
    flex-wrap wrap
    > *
      width 33.333%
  .up-col4_tb
    display flex
    flex-wrap wrap
    > *
      width 25%
  .up-col5_tb
    display flex
    flex-wrap wrap
    > *
      width 20%
  .up-col6_tb
    display flex
    flex-wrap wrap
    > *
      width 16.666%

  for gapy in range(0,100,10)
    .up-gapy{gapy}_tb
      > *
        margin-bottom gapy px

  for gapx in range(1,10,1)
    .up-gapx{gapx}p_tb
      margin-left -(gapx/2)%
      margin-right -(gapx/2)%
      > *
        margin-left (ceil((gapx/2),3))%
        margin-right (ceil((gapx/2),3))%
  for gapx-px in range(0,30,5)
    .up-gapx{gapx-px}_tb
      margin-left -(gapx-px/2)px
      margin-right -(gapx-px/2)px
      > *
        margin-left (ceil((gapx-px/2),3))px
        margin-right (ceil((gapx-px/2),3))px

  /* gapx-p(pc*tb) */
  for gapx in range(1,10,1)
    .up-col1.up-gapx{gapx}p_tb,
    .up-col1_tb.up-gapx{gapx}p
      > *
        width (100 - gapx)%
    .up-col2.up-gapx{gapx}p_tb,
    .up-col2_tb.up-gapx{gapx}p
      > *
        width (50 - gapx)%
    .up-col3.up-gapx{gapx}p_tb,
    .up-col3_tb.up-gapx{gapx}p
      > *
        width (33.333 - gapx)%
    .up-col4.up-gapx{gapx}p_tb,
    .up-col4_tb.up-gapx{gapx}p
      > *
        width (25 - gapx)%
    .up-col5.up-gapx{gapx}p_tb,
    .up-col5_tb.up-gapx{gapx}p
      > *
        width (20 - gapx)%
    .up-col6.up-gapx{gapx}p_tb,
    .up-col6_tb.up-gapx{gapx}p
      > *
        width (16.666 - gapx)%
  /* gapx-px(pc*tb) */
  for gapx-px in range(0,30,5)
    .up-col1.up-gapx{gapx-px}_tb,
    .up-col1_tb.up-gapx{gapx-px}
      > *
        width "calc(100% - %spx)" % (gapx-px)
    .up-col2.up-gapx{gapx-px}_tb,
    .up-col2_tb.up-gapx{gapx-px}
      > *
        width "calc(50% - %spx)" % (gapx-px)
    .up-col3.up-gapx{gapx-px}_tb,
    .up-col3_tb.up-gapx{gapx-px}
      > *
        width "calc(33.333% - %spx)" % (gapx-px)
    .up-col4.up-gapx{gapx-px}_tb,
    .up-col4_tb.up-gapx{gapx-px}
      > *
        width "calc(25% - %spx)" % (gapx-px)
    .up-col5.up-gapx{gapx-px}_tb,
    .up-col5_tb.up-gapx{gapx-px}
      > *
        width "calc(20% - %spx)" % (gapx-px)
    .up-col6.up-gapx{gapx-px}_tb,
    .up-col6_tb.up-gapx{gapx-px}
      > *
        width "calc(16.666% - %spx)" % (gapx-px)

  /* gapx-p(tb*tb) */
  for gapx in range(1,10,1)
    .up-col1_tb.up-gapx{gapx}p_tb
      > *
        width (100 - gapx)%
    .up-col2_tb.up-gapx{gapx}p_tb
      > *
        width (50 - gapx)%
    .up-col3_tb.up-gapx{gapx}p_tb
      > *
        width (33.333 - gapx)%
    .up-col4_tb.up-gapx{gapx}p_tb
      > *
        width (25 - gapx)%
    .up-col5_tb.up-gapx{gapx}p_tb
      > *
        width (20 - gapx)%
    .up-col6_tb.up-gapx{gapx}p_tb
      > *
        width (16.666 - gapx)%
  /* gapx-px(tb*tb) */
  for gapx-px in range(0,30,5)
    .up-col1_tb.up-gapx{gapx-px}_tb
      > *
        width "calc(100% - %spx)" % (gapx-px)
    .up-col2_tb.up-gapx{gapx-px}_tb
      > *
        width "calc(50% - %spx)" % (gapx-px)
    .up-col3_tb.up-gapx{gapx-px}_tb
      > *
        width "calc(33.333% - %spx)" % (gapx-px)
    .up-col4_tb.up-gapx{gapx-px}_tb
      > *
        width "calc(25% - %spx)" % (gapx-px)
    .up-col5_tb.up-gapx{gapx-px}_tb
      > *
        width "calc(20% - %spx)" % (gapx-px)
    .up-col6_tb.up-gapx{gapx-px}_tb
      > *
        width "calc(16.666% - %spx)" % (gapx-px)

  /* 画像比率固定 */
  for image in range(10,170,5)
    .up-of-img{image}_tb
      &:after
        content ""
        display block
        padding-top (image)%
      img
        position absolute
        top 0
        left 0

  /* object-position */
  .up-of-c_tb img
    font-family "object-fit: cover; object-position: center center;"
    object-position center
  .up-of-t_tb img
    font-family "object-fit: cover; object-position: center top;"
    object-position top
  .up-of-r_tb img
    font-family "object-fit: cover; object-position: right center;"
    object-position right
  .up-of-b_tb img
    font-family "object-fit: cover; object-position: center bottom;"
    object-position bottom
  .up-of-l_tb img
    font-family "object-fit: cover; object-position: left center;"
    object-position left

  /* object-fit */
  .up-of-contain_tb img
    font-family "object-fit: contain; object-position: center center;"
    object-fit contain

@media only screen and (max-width 599px)
  /* display */
  .up-db_sp
    display block
  .up-dib_sp
    display inline-block
  .up-flex_sp
    display flex
  .up-none_sp
    display none

  /* box-sizing */
  .up-content_sp
    box-sizing content-box

  /* position */
  .up-fixed_sp
    position fixed
  .up-asolute_sp
    position absolute
  .up-relative_sp
    position relative

  /* z-index */
  for z in range(-5,5,1)
    .up-z{z}_sp
      z-index z

  /* color */
  .up-red_sp
    color red
  .up-blue_sp
    color blue
  .up-yellow_sp
    color yellow
  .up-gray_sp
    color gray
  .up-black_sp
    color black
  .up-white_sp
    color white

  /* background-color */
  .up-bgc-red_sp
    background-color red
  .up-bgc-blue_sp
    background-color blue
  .up-bgc-yellow_sp
    background-color yellow
  .up-bgc-gray_sp
    background-color gray
  .up-bgc-black_sp
    background-color black
  .up-bgc-white_sp
    background-color white

  /* text-align */
  .up-tac_sp
    text-align center
  .up-tal_sp
    text-align left
  .up-tar_sp
    text-align right

  /* font-size */
  for fz in range(10,20,1)
    .up-fz{fz}_sp
      font-size (fz)px
  for fz in range(22,70,2)
    .up-fz{fz}_sp
      font-size (fz)px
  for fz in range(80,300,20)
    .up-fz{fz}_sp
      font-size (fz)px
  .up-fz1vw_sp
    font-size 1vw
  for fz-vw in range(1,9,1)
    .up-fz1\\\.{fz-vw}vw_sp
      font-size (1 + fz-vw/10)vw
  .up-fz2vw_sp
    font-size 2vw
  for fz-vw in range(1,9,1)
    .up-fz2\\\.{fz-vw}vw_sp
      font-size (2 + fz-vw/10)vw
  .up-fz3vw_sp
    font-size 3vw

  /* line-height */
  .up-lh1_sp
    line-height 1
  for lh in range(1,9,1)
    .up-lh1\\\.{lh}_sp
      line-height (1 + lh/10)
  .up-lh2_sp
    line-height 2
  for lh in range(1,9,1)
    .up-lh2\\\.{lh}_sp
      line-height (2 + lh/10)
  .up-lh3_sp
    line-height 3

  /* br */
  .up-br_sp br
    display inline
  .up-br-none_sp br
    display none

  /* flex-wrap */
  .up-wrap_sp
    flex-wrap wrap
  .up-wrapr_sp
    flex-wrap wrap-reverse
  .up-nowrap_sp
    flex-wrap nowrap

  /* flex-direction */
  .up-fd-row_sp
    flex-direction row
  .up-fd-rowr_sp
    flex-direction row-reverse
  .up-fd-col_sp
    flex-direction column
  .up-fd-colr_sp
    flex-direction column-reverse

  /* justify-content */
  .up-jc-fs_sp
    justify-content flex-start
  .up-jc-fe_sp
    justify-content flex-end
  .up-jc-c_sp
    justify-content center
  .up-jc-sb_sp
    justify-content space-between
  .up-jc-sa_sp
    justify-content space-around
  .up-jc-se_sp
    justify-content space-evenly

  /* align-items */
  .up-ai-fs_sp
    align-items flex-start
  .up-ai-c_sp
    align-items center
  .up-ai-fe_sp
    align-items flex-end
  .up-ai-b_sp
    align-items baseline
  .up-ai-s_sp
    align-items stretch

  /* align-content */
  .up-ac-fs_sp
    align-content flex-start
  .up-ac-c_sp
    align-content center
  .up-ac-fe_sp
    align-content flex-end
  .up-ac-sb_sp
    align-content space-between
  .up-ac-sa_sp
    align-content space-around

  /* align-self */
  .up-as-fs_sp
    align-self flex-start
  .up-as-c_sp
    align-self center
  .up-as-s_sp
    align-self stretch
  .up-as-fe_sp
    align-self flex-end
  .up-as-auto_sp
    align-self auto

  /* grow, shrink */
  .up-grow0_sp
    flex-grow 0
  .up-grow1_sp
    flex-grow 1
  .up-shrink0_sp
    flex-shrink 0
  .up-shrink1_sp
    flex-shrink 1

  /* width */
  .up-w-auto_sp
    width auto
  .up-w48p_sp
    width 48%
  for width-px in range(0,500,5)
    .up-w{width-px}_sp
      width (width-px)px
  for width-p in range(5,100,5)
    .up-w{width-p}p_sp
      width (width-p)%

  /* min-width */
  for min-width-px in range(0,500,50)
    .up-minw{min-width-px}_sp
      min-width (min-width-px)px

  /* max-width */
  for max-width-px in range(0,1000,50)
    .up-maxw{max-width-px}_sp
      max-width (max-width-px)px

  /* max-height */
  for max-height-px in range(0,700,50)
    .up-maxh{max-height-px}_sp
      max-height (max-height-px)px

  /* height */
  .up-h-auto_sp
    height auto
  .up-h-auto-i_sp
    height auto !important
  .up-h0_sp
    height 0
  .up-h48p_sp
    height 48%
  for height-p in range(5,100,5)
    .up-h{height-p}p_sp
      height (height-p)%

  /* min-height */
  for min-height-px in range(0,500,50)
    .up-minh{min-height-px}_sp
      min-height (min-height-px)px

  /* margin */
  .up-m-auto_sp
    margin auto
  .up-ml-auto_sp
    margin-left auto
  .up-mr-auto_sp
    margin-right auto
  .up-mx-auto_sp
    margin-right auto
    margin-left auto

  range-margin-px = 0,10,1
  for margin-px in range(range-margin-px)
    .up-m{margin-px}_sp
      margin (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mx{margin-px}_sp
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my{margin-px}_sp
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt{margin-px}_sp
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr{margin-px}_sp
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb{margin-px}_sp
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml{margin-px}_sp
      margin-left (margin-px)px

  .up-m15_sp
    margin 15px
  .up-mx15_sp
    margin-right 15px
    margin-left 15px
  .up-my15_sp
    margin-top 15px
    margin-bottom 15px
  .up-mt15_sp
    margin-top 15px
  .up-mr15_sp
    margin-right 15px
  .up-mb15_sp
    margin-bottom 15px
  .up-ml15_sp
    margin-left 15px

  range-margin-px = 20,150,10
  for margin-px in range(range-margin-px)
    .up-m{margin-px}_sp
      margin (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mx{margin-px}_sp
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my{margin-px}_sp
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt{margin-px}_sp
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr{margin-px}_sp
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb{margin-px}_sp
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml{margin-px}_sp
      margin-left (margin-px)px

  range-margin-p = 1,10,1
  for margin-p in range(range-margin-p)
    .up-m{margin-p - 1}\\\.5p_sp
      margin (margin-p - .5)%
    .up-m{margin-p}p_sp
      margin (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mx{margin-p - 1}\\\.5p_sp
      margin-right (margin-p - .5)%
      margin-left (margin-p - .5)%
    .up-mx{margin-p}p_sp
      margin-right (margin-p)%
      margin-left (margin-p)%
  for margin-p in range(range-margin-p)
    .up-my{margin-p - 1}\\\.5p_sp
      margin-top (margin-p - .5)%
      margin-bottom (margin-p - .5)%
    .up-my{margin-p}p_sp
      margin-top (margin-p)%
      margin-bottom (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mt{margin-p - 1}\\\.5p_sp
      margin-top (margin-p - .5)%
    .up-mt{margin-p}p_sp
      margin-top (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mr{margin-p - 1}\\\.5p_sp
      margin-right (margin-p - .5)%
    .up-mr{margin-p}p_sp
      margin-right (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mb{margin-p - 1}\\\.5p_sp
      margin-bottom (margin-p - .5)%
    .up-mb{margin-p}p_sp
      margin-bottom (margin-p)%
  for margin-p in range(range-margin-p)
    .up-ml{margin-p - 1}\\\.5p_sp
      margin-left (margin-p - .5)%
    .up-ml{margin-p}p_sp
      margin-left (margin-p)%


  /* padding */
  range-padding-px = 0,10,1
  for padding-px in range(range-padding-px)
    .up-p{padding-px}_sp
      padding (padding-px)px
  for padding-px in range(range-padding-px)
    .up-px{padding-px}_sp
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py{padding-px}_sp
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt{padding-px}_sp
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr{padding-px}_sp
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb{padding-px}_sp
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl{padding-px}_sp
      padding-left (padding-px)px

  .up-p15_sp
    padding 15px
  .up-px15_sp
    padding-right 15px
    padding-left 15px
  .up-py15_sp
    padding-top 15px
    padding-bottom 15px
  .up-pt15_sp
    padding-top 15px
  .up-pr15_sp
    padding-right 15px
  .up-pb15_sp
    padding-bottom 15px
  .up-pl15_sp
    padding-left 15px

  range-padding-px = 20,150,10
  for padding-px in range(range-padding-px)
    .up-p{padding-px}_sp
      padding (padding-px)px
  for padding-px in range(range-padding-px)
    .up-px{padding-px}_sp
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py{padding-px}_sp
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt{padding-px}_sp
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr{padding-px}_sp
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb{padding-px}_sp
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl{padding-px}_sp
      padding-left (padding-px)px

  /* カラム */
  .up-col1_sp
    display flex
    flex-wrap wrap
    > *
      width 100%
  .up-col2_sp
    display flex
    flex-wrap wrap
    > *
      width 50%
  .up-col3_sp
    display flex
    flex-wrap wrap
    > *
      width 33.333%
  .up-col4_sp
    display flex
    flex-wrap wrap
    > *
      width 25%
  .up-col5_sp
    display flex
    flex-wrap wrap
    > *
      width 20%
  .up-col6_sp
    display flex
    flex-wrap wrap
    > *
      width 16.666%

  for gapy in range(0,100,10)
    .up-gapy{gapy}_sp
      > *
        margin-bottom gapy px

  for gapx in range(1,10,1)
    .up-gapx{gapx}p_sp
      margin-left -(gapx/2)%
      margin-right -(gapx/2)%
      > *
        margin-left (ceil((gapx/2),3))%
        margin-right (ceil((gapx/2),3))%
  for gapx-px in range(0,30,5)
    .up-gapx{gapx-px}_sp
      margin-left -(gapx-px/2)px
      margin-right -(gapx-px/2)px
      > *
        margin-left (ceil((gapx-px/2),3))px
        margin-right (ceil((gapx-px/2),3))px

  /* gapx-p(pc*sp) */
  for gapx in range(1,10,1)
    .up-col1.up-gapx{gapx}p_sp,
    .up-col1_sp.up-gapx{gapx}p
      > *
        width (100 - gapx)%
    .up-col2.up-gapx{gapx}p_sp,
    .up-col2_sp.up-gapx{gapx}p
      > *
        width (50 - gapx)%
    .up-col3.up-gapx{gapx}p_sp,
    .up-col3_sp.up-gapx{gapx}p
      > *
        width (33.333 - gapx)%
    .up-col4.up-gapx{gapx}p_sp,
    .up-col4_sp.up-gapx{gapx}p
      > *
        width (25 - gapx)%
    .up-col5.up-gapx{gapx}p_sp,
    .up-col5_sp.up-gapx{gapx}p
      > *
        width (20 - gapx)%
    .up-col6.up-gapx{gapx}p_sp,
    .up-col6_sp.up-gapx{gapx}p
      > *
        width (16.666 - gapx)%
  /* gapx-px(pc*sp) */
  for gapx-px in range(0,30,5)
    .up-col1.up-gapx{gapx-px}_sp,
    .up-col1_sp.up-gapx{gapx-px}
      > *
        width "calc(100% - %spx)" % (gapx-px)
    .up-col2.up-gapx{gapx-px}_sp,
    .up-col2_sp.up-gapx{gapx-px}
      > *
        width "calc(50% - %spx)" % (gapx-px)
    .up-col3.up-gapx{gapx-px}_sp,
    .up-col3_sp.up-gapx{gapx-px}
      > *
        width "calc(33.333% - %spx)" % (gapx-px)
    .up-col4.up-gapx{gapx-px}_sp,
    .up-col4_sp.up-gapx{gapx-px}
      > *
        width "calc(25% - %spx)" % (gapx-px)
    .up-col5.up-gapx{gapx-px}_sp,
    .up-col5_sp.up-gapx{gapx-px}
      > *
        width "calc(20% - %spx)" % (gapx-px)
    .up-col6.up-gapx{gapx-px}_sp,
    .up-col6_sp.up-gapx{gapx-px}
      > *
        width "calc(16.666% - %spx)" % (gapx-px)

  /* gapx-p(tb*sp) */
  for gapx in range(1,10,1)
    .up-col1_tb.up-gapx{gapx}p_sp,
    .up-col1_sp.up-gapx{gapx}p_tb
      > *
        width (100 - gapx)%
    .up-col2_tb.up-gapx{gapx}p_sp,
    .up-col2_sp.up-gapx{gapx}p_tb
      > *
        width (50 - gapx)%
    .up-col3_tb.up-gapx{gapx}p_sp,
    .up-col3_sp.up-gapx{gapx}p_tb
      > *
        width (33.333 - gapx)%
    .up-col4_tb.up-gapx{gapx}p_sp,
    .up-col4_sp.up-gapx{gapx}p_tb
      > *
        width (25 - gapx)%
    .up-col5_tb.up-gapx{gapx}p_sp,
    .up-col5_sp.up-gapx{gapx}p_tb
      > *
        width (20 - gapx)%
    .up-col6_tb.up-gapx{gapx}p_sp,
    .up-col6_sp.up-gapx{gapx}p_tb
      > *
        width (16.666 - gapx)%
  /* gapx-px(tb*sp) */
  for gapx-px in range(0,30,5)
    .up-col1_tb.up-gapx{gapx-px}_sp,
    .up-col1_sp.up-gapx{gapx-px}_tb
      > *
        width "calc(100% - %spx)" % (gapx-px)
    .up-col2_tb.up-gapx{gapx-px}_sp,
    .up-col2_sp.up-gapx{gapx-px}_tb
      > *
        width "calc(50% - %spx)" % (gapx-px)
    .up-col3_tb.up-gapx{gapx-px}_sp,
    .up-col3_sp.up-gapx{gapx-px}_tb
      > *
        width "calc(33.333% - %spx)" % (gapx-px)
    .up-col4_tb.up-gapx{gapx-px}_sp,
    .up-col4_sp.up-gapx{gapx-px}_tb
      > *
        width "calc(25% - %spx)" % (gapx-px)
    .up-col5_tb.up-gapx{gapx-px}_sp,
    .up-col5_sp.up-gapx{gapx-px}_tb
      > *
        width "calc(20% - %spx)" % (gapx-px)
    .up-col6_tb.up-gapx{gapx-px}_sp,
    .up-col6_sp.up-gapx{gapx-px}_tb
      > *
        width "calc(16.666% - %spx)" % (gapx-px)

  /* gapx-p(sp*sp) */
  for gapx in range(1,10,1)
    .up-col1_sp.up-gapx{gapx}p_sp
      > *
        width (100 - gapx)%
    .up-col2_sp.up-gapx{gapx}p_sp
      > *
        width (50 - gapx)%
    .up-col3_sp.up-gapx{gapx}p_sp
      > *
        width (33.333 - gapx)%
    .up-col4_sp.up-gapx{gapx}p_sp
      > *
        width (25 - gapx)%
    .up-col5_sp.up-gapx{gapx}p_sp
      > *
        width (20 - gapx)%
    .up-col6_sp.up-gapx{gapx}p_sp
      > *
        width (16.666 - gapx)%
  /* gapx-px(sp*sp) */
  for gapx-px in range(0,30,5)
    .up-col1_sp.up-gapx{gapx-px}_sp
      > *
        width "calc(100% - %spx)" % (gapx-px)
    .up-col2_sp.up-gapx{gapx-px}_sp
      > *
        width "calc(50% - %spx)" % (gapx-px)
    .up-col3_sp.up-gapx{gapx-px}_sp
      > *
        width "calc(33.333% - %spx)" % (gapx-px)
    .up-col4_sp.up-gapx{gapx-px}_sp
      > *
        width "calc(25% - %spx)" % (gapx-px)
    .up-col5_sp.up-gapx{gapx-px}_sp
      > *
        width "calc(20% - %spx)" % (gapx-px)
    .up-col6_sp.up-gapx{gapx-px}_sp
      > *
        width "calc(16.666% - %spx)" % (gapx-px)

  /* 画像比率固定 */
  for image in range(10,170,5)
    .up-of-img{image}_sp
      &:after
        content ""
        display block
        padding-top (image)%
      img
        position absolute
        top 0
        left 0

  /* object-position */
  .up-of-c_sp img
    font-family "object-fit: cover; object-position: center center;"
    object-position center
  .up-of-t_sp img
    font-family "object-fit: cover; object-position: center top;"
    object-position top
  .up-of-r_sp img
    font-family "object-fit: cover; object-position: right center;"
    object-position right
  .up-of-b_sp img
    font-family "object-fit: cover; object-position: center bottom;"
    object-position bottom
  .up-of-l_sp img
    font-family "object-fit: cover; object-position: left center;"
    object-position left

  /* object-fit */
  .up-of-contain_sp img
    font-family "object-fit: contain; object-position: center center;"
    object-fit contain
