@charset "utf-8"
/* version 1.1 */

html
  color #000
  font-weight normal
  font-size 16px
  font-family "游ゴシック",YuGothic,Hiragino Sans,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro",Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif
  /* font-family "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝", "Sawarabi Mincho", serif */
  /* font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif; */
  /* font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO"; */
  line-height 1.5
  -webkit-text-size-adjust 100%
  word-break: break-word;

*,
:after,
:before
  box-sizing border-box

body,
div,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
form,
input,
button,
figure,
figcaption,
p,
pre,
a,
time
  margin 0
  padding 0


h1,
h2,
h3,
h4,
h5,
h6
  color inherit
  font-weight inherit
  font-size inherit
  font-family inherit
  line-height inherit

button,
input,
optgroup,
select,
textarea
  padding 0
  color inherit
  line-height inherit

svg,
video,
canvas,
audio,
iframe,
embed,
object
  display block

button,
input,
optgroup,
select,
textarea
  margin 0
  font-size 100%
  font-family inherit
  line-height 1.15

img,
video,
iframe
  max-width 100%
  height auto

b,
strong
  font-weight bolder

ol,
ul
  list-style none

time
  display block

img
  border-style none
  vertical-align top
  border none
  max-width 100%
  height auto
img:not([src*="."])
  display none

button,
[role="button"]
  cursor pointer

table
  border-collapse collapse
th
  font-weight normal

.img img
  text-align center

.map
  position relative
  overflow hidden
  &:after
    display block
    padding-top 50%
    content ""
  iframe
    position absolute
    top 0
    right 0
    left 0
    margin auto
    max-width initial
    width 100%
    height 100%

a,
button
  color inherit
  text-decoration none
  transition 0.4s ease
  &:hover
    opacity 0.6
    text-decoration none
    color inherit
    cursor pointer
  &[href*="tel"]
    pointer-events none
  @media (max-width 1024px)
    &[href*="tel"]
      pointer-events initial !important

.wrapper
  overflow hidden
  min-width 320px
[data-element-id] .wrapper
  padding-top 0 !important
  opacity 1

/* inner */
.inner500,
.inner600,
.inner700,
.inner800,
.inner900,
.inner,
.inner1100,
.inner1200,
.inner1300,
.inner1400,
.inner1500
  margin-left auto
  margin-right auto

.inner500,
.inner600,
.inner700,
.inner800,
.inner900,
.inner
  width 92%

.inner1100,
.inner1200,
.inner1300,
.inner1400,
.inner1500
  width 98%

.inner500
  max-width 500px
.inner600
  max-width 600px
.inner700
  max-width 700px
.inner800
  max-width 800px
.inner900
  max-width 900px
.inner
  max-width 1000px
.inner1100
  max-width 1100px
.inner1200
  max-width 1200px
.inner1300
  max-width 1300px
.inner1400
  max-width 1400px
.inner1500
  max-width 1500px
@media (max-width 1024px)
  .inner500,
  .inner600,
  .inner700,
  .inner800,
  .inner900,
  .inner,
  .inner1100,
  .inner1200,
  .inner1300,
  .inner1400,
  .inner1500
    max-width 768px
    width 96%

[class*="heightLine"]
  display block

/* フィード */
.fead-mv
  opacity 0
  &.mv
    opacity 1
    transition 0.5s ease-out
.fead-up
  opacity 0
  transform translateY(50px)
  &.mv
    opacity 1
    transform translateY(0)
    transition 0.5s ease-out
.fead-right
  opacity 0
  transform translateX(-20%)
  &.mv
    opacity 1
    transform translateX(0)
    transition 1s
.fead-left
  opacity 0
  transform translateX(20%)
  &.mv
    opacity 1
    transform translateX(0)
    transition 1s
.fead-text
  opacity 0
  &.mv
    opacity 1
    transition 0s
    transition-delay 0s
  .str
    opacity 0
    &.textin
      opacity 1
      transition 1s
.fead-cover
  position relative
  &:before
    content ""
    width 100%
    height 100%
    display block
    background #000
    position absolute
    top 0
    right 0
    z-index 15
  &.mv
    &:before
      width 0
      transition 0.8s
      transition-delay 0.6s
.fead-order
  & > *
    opacity 0
    transform translateY(50px)
  &.mv
    opacity 1
    transform translateY(0)
    transition 0.5s ease-out

/* clear */
.up-clear
  clear both
.up-clearfix
  display block
.up-clearfix:before
  display block
  clear both
  content ""
.up-clearfix:after
  display block
  clear both
  content ""

/* overflow */
.up-over-hidden
  overflow hidden

/* font-family */
.up-ff-gothic
  font-family "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
.up-ff-mincho
  font-family "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
.up-ff-meiryo
  font-family "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif

/* font-style */
.up-fs-italic
  font-style italic

/* text-decoration */
.up-td-under
  text-decoration underline

/* list-style-type */
.up-lst-disc
  list-style-type disc
.up-lst-deci
  list-style-type decimal

/* list-style-position */
.up-lsp-in
  list-style-position inside
.up-lsp-out
  list-style-position outside

/* font-weight */
.up-fw-light
  font-weight lighter
.up-fw-normal
  font-weight normal
.up-fw-bold
  font-weight bold

/* cursor */
.up-cur-pointer
  cursor pointer

/* 画像比率固定 */
[class*="up-ofi"]
  position relative
  display block
  width 100%
  img
    width 100%
    height 100% !important
    /* IE対策 */
    font-family "object-fit: cover; object-position: 50% 50%;"
    object-fit cover
    object-position 50% 50%

/* 子要素のaタグをブロック化 */
.up-adb a
  display block

/* ３点リーダー（１行） */
.up-reader1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

/* 正円 */
.up-circle
  overflow hidden
  border-radius 50%


/*===================================
  以下@tb,@spが用意されているクラス
===================================*/
/* display */
.up-d-block
  display block
.up-d-iblock
  display inline-block
.up-d-flex
  display flex
.up-d-none
  display none

/* box-sizing */
.up-bz-content
  box-sizing content-box

/* position */
.up-pos-rel
  position relative
.up-pos-abs
  position absolute
.up-pos-fix
  position fixed

/* z-index */
for z in range(-5,-1,1)
  .up-z-n{abs(z)}
    z-index z
for z in range(0,5,1)
  .up-z-{z}
    z-index z

/* color */
.up-c-red
  color red
.up-c-blue
  color blue
.up-c-yellow
  color yellow
.up-c-gray
  color gray
.up-c-black
  color black
.up-c-white
  color white

/* background-color */
.up-bgc-red
  background-color red
.up-bgc-blue
  background-color blue
.up-bgc-yellow
  background-color yellow
.up-bgc-gray
  background-color gray
.up-bgc-black
  background-color black
.up-bgc-white
  background-color white

/* text-align */
.up-ta-c
  text-align center
.up-ta-l
  text-align left
.up-ta-r
  text-align right

/* font-size */
for fz in range(10,20,1)
  .up-fz-{fz}
    font-size (fz)px
for fz in range(22,70,2)
  .up-fz-{fz}
    font-size (fz)px
for fz in range(80,150,20)
  .up-fz-{fz}
    font-size (fz)px

.up-fz-1vw
  font-size 1vw
for fz-vw in range(1,9,1)
  .up-fz-1\\\.{fz-vw}vw
    font-size (1 + fz-vw/10)vw
.up-fz-2vw
  font-size 2vw
for fz-vw in range(1,9,1)
  .up-fz-2\\\.{fz-vw}vw
    font-size (2 + fz-vw/10)vw
.up-fz-3vw
  font-size 3vw


/* line-height */
.up-lh-1
  line-height 1
for lh in range(1,9,1)
  .up-lh-1\\\.{lh}
    line-height (1 + lh/10)
.up-lh-2
  line-height 2
for lh in range(1,9,1)
  .up-lh-2\\\.{lh}
    line-height (2 + lh/10)
.up-lh-3
  line-height 3


/* br */
.up-br br
  display inline
.up-br-none br
  display none


/* flex-wrap */
.up-fxw-wrap
  flex-wrap wrap
.up-fxw-wrapr
  flex-wrap wrap-reverse
.up-fxw-nowrap
  flex-wrap nowrap

/* flex-direction */
.up-fxd-row
  flex-direction row
.up-fxd-rowr
  flex-direction row-reverse
.up-fxd-col
  flex-direction column
.up-fxd-colr
  flex-direction column-reverse

/* 偶数と奇数番目で左右反転 */
.up-fxd-even > *:nth-child(even),
.up-fxd-odd > *:nth-child(odd)
  flex-direction: row-reverse;

/* justify-content */
.up-jc-fs
  justify-content flex-start
.up-jc-fe
  justify-content flex-end
.up-jc-c
  justify-content center
.up-jc-sb
  justify-content space-between
.up-jc-sa
  justify-content space-around
.up-jc-se
  justify-content space-evenly

/* align-items */
.up-ai-fs
  align-items flex-start
.up-ai-c
  align-items center
.up-ai-fe
  align-items flex-end
.up-ai-b
  align-items baseline
.up-ai-s
  align-items stretch

/* align-content */
.up-ac-fs
  align-content flex-start
.up-ac-c
  align-content center
.up-ac-fe
  align-content flex-end
.up-ac-sb
  align-content space-between
.up-ac-sa
  align-content space-around

/* align-self */
.up-as-fs
  align-self flex-start
.up-as-c
  align-self center
.up-as-s
  align-self stretch
.up-as-fe
  align-self flex-end
.up-as-auto
  align-self auto

/* grow, shrink */
.up-fxg-0
  flex-grow 0
.up-fxg-1
  flex-grow 1
.up-fxsh-0
  flex-shrink 0
.up-fxsh-1
  flex-shrink 1


/* width(px) */
.up-w-auto
  width auto
for width-px in range(0,10,1)
  .up-w-{width-px}
    width (width-px)px
for width-px in range(20,300,10)
  .up-w-{width-px}
    width (width-px)px
for width-px in range(350,1000,50)
  .up-w-{width-px}
    width (width-px)px
/* width(%) */
.up-w-48\\\%
  width 48%
for width-p in range(5,100,5)
  .up-w-{width-p}\\\%
    width (width-p)%

/* min-width(px) */
.up-minw-auto
  min-width auto
for min-width-px in range(0,10,1)
  .up-minw-{min-width-px}
    min-width (min-width-px)px
for min-width-px in range(20,300,10)
  .up-minw-{min-width-px}
    min-width (min-width-px)px
for min-width-px in range(350,1000,50)
  .up-minw-{min-width-px}
    min-width (min-width-px)px
/* min-width(%) */
.up-minw-48\\\%
  min-width 48%
for min-width-p in range(5,100,5)
  .up-minw-{min-width-p}\\\%
    min-width (min-width-p)%

/* max-width(px) */
for max-width-px in range(0,10,1)
  .up-maxw-{max-width-px}
    max-width (max-width-px)px
for max-width-px in range(20,300,10)
  .up-maxw-{max-width-px}
    max-width (max-width-px)px
for max-width-px in range(350,1000,50)
  .up-maxw-{max-width-px}
    max-width (max-width-px)px
/* max-width(%) */
.up-maxw-48\\\%
  max-width 48%
for max-width-p in range(5,100,5)
  .up-maxw-{max-width-p}\\\%
    max-width (max-width-p)%


/* height(px) */
.up-h-auto
  height auto
.up-h-auto-i
  height auto !important
for height-px in range(0,10,1)
  .up-h-{height-px}
    height (height-px)px
for height-px in range(20,300,10)
  .up-h-{height-px}
    height (height-px)px
for height-px in range(350,1000,50)
  .up-h-{height-px}
    height (height-px)px
/* height(%) */
.up-h-48\\\%
  height 48%
for height-p in range(5,100,5)
  .up-h-{height-p}\\\%
    height (height-p)%

/* min-height(px) */
.up-minh-auto
  min-height auto
for min-height-px in range(0,10,1)
  .up-minh-{min-height-px}
    min-height (min-height-px)px
for min-height-px in range(20,300,10)
  .up-minh-{min-height-px}
    min-height (min-height-px)px
for min-height-px in range(350,1000,50)
  .up-minh-{min-height-px}
    min-height (min-height-px)px
/* min-height(%) */
.up-minh-48\\\%
  min-height 48%
for min-height-p in range(5,100,5)
  .up-minh-{min-height-p}\\\%
    min-height (min-height-p)%

/* max-height(px) */
for max-height-px in range(0,10,1)
  .up-maxh-{max-height-px}
    max-height (max-height-px)px
for max-height-px in range(20,300,10)
  .up-maxh-{max-height-px}
    max-height (max-height-px)px
for max-height-px in range(350,1000,50)
  .up-maxh-{max-height-px}
    max-height (max-height-px)px
/* max-height(%) */
.up-maxh-48\\\%
  max-height 48%
for max-height-p in range(5,100,5)
  .up-maxh-{max-height-p}\\\%
    max-height (max-height-p)%


/* margin */
.up-m-auto
  margin auto
/* margin all(px 1~10) */
range-margin-px = 0,10,1
for margin-px in range(range-margin-px)
  .up-m-{margin-px}
    margin (margin-px)px
/* margin all(px 15~150) */
range-margin-px = 15,150,5
for margin-px in range(range-margin-px)
  .up-m-{margin-px}
    margin (margin-px)px
/* margin all(% 0.5~10) */
range-margin-p = 1,10,1
for margin-p in range(range-margin-p)
  .up-m-{margin-p - 1}\\\.5\\\%
    margin (margin-p - .5)%
  .up-m-{margin-p}\\\%
    margin (margin-p)%

.up-ml-auto
  margin-left auto
.up-mr-auto
  margin-right auto
.up-mx-auto
  margin-right auto
  margin-left auto
/* margin(px 1~10) */
range-margin-px = 0,10,1
for margin-px in range(range-margin-px)
  .up-mx-{margin-px}
    margin-right (margin-px)px
    margin-left (margin-px)px
for margin-px in range(range-margin-px)
  .up-my-{margin-px}
    margin-top (margin-px)px
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-mt-{margin-px}
    margin-top (margin-px)px
for margin-px in range(range-margin-px)
  .up-mr-{margin-px}
    margin-right (margin-px)px
for margin-px in range(range-margin-px)
  .up-mb-{margin-px}
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-ml-{margin-px}
    margin-left (margin-px)px
/* margin(px 15~150) */
range-margin-px = 15,150,5
for margin-px in range(range-margin-px)
  .up-mx-{margin-px}
    margin-right (margin-px)px
    margin-left (margin-px)px
for margin-px in range(range-margin-px)
  .up-my-{margin-px}
    margin-top (margin-px)px
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-mt-{margin-px}
    margin-top (margin-px)px
for margin-px in range(range-margin-px)
  .up-mr-{margin-px}
    margin-right (margin-px)px
for margin-px in range(range-margin-px)
  .up-mb-{margin-px}
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-ml-{margin-px}
    margin-left (margin-px)px
/* margin(% 0.5~10) */
range-margin-p = 1,10,1
for margin-p in range(range-margin-p)
  .up-mx-{margin-p - 1}\\\.5\\\%
    margin-right (margin-p - .5)%
    margin-left (margin-p - .5)%
  .up-mx-{margin-p}\\\%
    margin-right (margin-p)%
    margin-left (margin-p)%
for margin-p in range(range-margin-p)
  .up-my-{margin-p - 1}\\\.5\\\%
    margin-top (margin-p - .5)%
    margin-bottom (margin-p - .5)%
  .up-my-{margin-p}\\\%
    margin-top (margin-p)%
    margin-bottom (margin-p)%
for margin-p in range(range-margin-p)
  .up-mt-{margin-p - 1}\\\.5\\\%
    margin-top (margin-p - .5)%
  .up-mt-{margin-p}\\\%
    margin-top (margin-p)%
for margin-p in range(range-margin-p)
  .up-mr-{margin-p - 1}\\\.5\\\%
    margin-right (margin-p - .5)%
  .up-mr-{margin-p}\\\%
    margin-right (margin-p)%
for margin-p in range(range-margin-p)
  .up-mb-{margin-p - 1}\\\.5\\\%
    margin-bottom (margin-p - .5)%
  .up-mb-{margin-p}\\\%
    margin-bottom (margin-p)%
for margin-p in range(range-margin-p)
  .up-ml-{margin-p - 1}\\\.5\\\%
    margin-left (margin-p - .5)%
  .up-ml-{margin-p}\\\%
    margin-left (margin-p)%


/* padding all(px 0~10) */
range-padding-px = 0,10,1
for padding-px in range(range-padding-px)
  .up-p-{padding-px}
    padding (padding-px)px
/* padding all(px 15~150) */
range-padding-px = 15,150,5
for padding-px in range(range-padding-px)
  .up-p-{padding-px}
    padding (padding-px)px
/* padding all(% 0.5~10) */
range-padding-p = 1,10,1
for padding-p in range(range-padding-p)
  .up-p-{padding-p - 1}\\\.5\\\%
    padding (padding-p - .5)%
  .up-p-{padding-p}\\\%
    padding (padding-p)%

/* padding (px 0~10) */
range-padding-px = 0,10,1
for padding-px in range(range-padding-px)
  .up-px-{padding-px}
    padding-right (padding-px)px
    padding-left (padding-px)px
for padding-px in range(range-padding-px)
  .up-py-{padding-px}
    padding-top (padding-px)px
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pt-{padding-px}
    padding-top (padding-px)px
for padding-px in range(range-padding-px)
  .up-pr-{padding-px}
    padding-right (padding-px)px
for padding-px in range(range-padding-px)
  .up-pb-{padding-px}
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pl-{padding-px}
    padding-left (padding-px)px
/* padding (px 15~150) */
range-padding-px = 15,150,5
for padding-px in range(range-padding-px)
  .up-px-{padding-px}
    padding-right (padding-px)px
    padding-left (padding-px)px
for padding-px in range(range-padding-px)
  .up-py-{padding-px}
    padding-top (padding-px)px
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pt-{padding-px}
    padding-top (padding-px)px
for padding-px in range(range-padding-px)
  .up-pr-{padding-px}
    padding-right (padding-px)px
for padding-px in range(range-padding-px)
  .up-pb-{padding-px}
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pl-{padding-px}
    padding-left (padding-px)px
/* padding(% 0.5~10) */
range-padding-p = 1,10,1
for padding-p in range(range-padding-p)
  .up-px-{padding-p - 1}\\\.5\\\%
    padding-right (padding-p - .5)%
    padding-left (padding-p - .5)%
  .up-px-{padding-p}\\\%
    padding-right (padding-p)%
    padding-left (padding-p)%
for padding-p in range(range-padding-p)
  .up-py-{padding-p - 1}\\\.5\\\%
    padding-top (padding-p - .5)%
    padding-bottom (padding-p - .5)%
  .up-py-{padding-p}\\\%
    padding-top (padding-p)%
    padding-bottom (padding-p)%
for padding-p in range(range-padding-p)
  .up-pt-{padding-p - 1}\\\.5\\\%
    padding-top (padding-p - .5)%
  .up-pt-{padding-p}\\\%
    padding-top (padding-p)%
for padding-p in range(range-padding-p)
  .up-pr-{padding-p - 1}\\\.5\\\%
    padding-right (padding-p - .5)%
  .up-pr-{padding-p}\\\%
    padding-right (padding-p)%
for padding-p in range(range-padding-p)
  .up-pb-{padding-p - 1}\\\.5\\\%
    padding-bottom (padding-p - .5)%
  .up-pb-{padding-p}\\\%
    padding-bottom (padding-p)%
for padding-p in range(range-padding-p)
  .up-pl-{padding-p - 1}\\\.5\\\%
    padding-left (padding-p - .5)%
  .up-pl-{padding-p}\\\%
    padding-left (padding-p)%


/* カラム */
.up-col-2
  display flex
  flex-wrap wrap
  > *
    width 50%
.up-col-3
  display flex
  flex-wrap wrap
  > *
    width 33.333%
.up-col-4
  display flex
  flex-wrap wrap
  > *
    width 25%
.up-col-5
  display flex
  flex-wrap wrap
  > *
    width 20%
.up-col-6
  display flex
  flex-wrap wrap
  > *
    width 16.666%

/* gapy(px) */
for gapy-px in range(0,100,10)
  .up-gapy-{gapy-px}
    > *
      padding-bottom gapy-px px
/* gapy(%) */
for gapy in range(1,10,1)
  .up-gapy-{gapy}\\\%
    > *
      padding-bottom (gapy)%

/* gapx(px) */
for gapx-px in range(0,100,10)
  .up-gapx-{gapx-px}
    margin-left -(gapx-px/2)px
    margin-right -(gapx-px/2)px
    > *
      padding-left (ceil((gapx-px/2),3))px
      padding-right (ceil((gapx-px/2),3))px
/* gapx(%) */
for gapx in range(1,10,1)
  .up-gapx-{gapx}\\\%
    margin-left -(gapx/2)%
    margin-right -(gapx/2)%
    > *
      padding-left (ceil((gapx/2),3))%
      padding-right (ceil((gapx/2),3))%


/* 画像比率固定 */
for image in range(10,170,5)
  .up-ofi-{image}
    &:after
      content ""
      display block
      padding-top (image)%
    img
      position absolute
      top 0
      left 0

/* object-position */
.up-obp-c img
  font-family "object-fit: cover; object-position: center center;"
  object-position center
.up-obp-t img
  font-family "object-fit: cover; object-position: center top;"
  object-position top
.up-obp-r img
  font-family "object-fit: cover; object-position: right center;"
  object-position right
.up-obp-b img
  font-family "object-fit: cover; object-position: center bottom;"
  object-position bottom
.up-obp-l img
  font-family "object-fit: cover; object-position: left center;"
  object-position left

/* object-position */
.up-obf-contain img
  font-family "object-fit: contain; object-position: center center;"
  object-fit contain


/* 表示・非表示 */
.up-show
  display block
.up-hide
  display none


@media only screen and (max-width 1024px)
  /* display */
  .up-d-block\\\@tb
    display block
  .up-d-iblock\\\@tb
    display inline-block
  .up-d-flex\\\@tb
    display flex
  .up-d-none\\\@tb
    display none

  /* box-sizing */
  .up-bz-content\\\@tb
    box-sizing content-box

  /* position */
  .up-pos-rel\\\@tb
    position relative
  .up-pos-abs\\\@tb
    position absolute
  .up-pos-fix\\\@tb
    position fixed

  /* z-index */
  for z in range(-5,-1,1)
    .up-z-n{abs(z)}\\\@tb
      z-index z
  for z in range(0,5,1)
    .up-z-{z}\\\@tb
      z-index z

  /* color */
  .up-c-red\\\@tb
    color red
  .up-c-blue\\\@tb
    color blue
  .up-c-yellow\\\@tb
    color yellow
  .up-c-gray\\\@tb
    color gray
  .up-c-black\\\@tb
    color black
  .up-c-white\\\@tb
    color white

  /* background-color */
  .up-bgc-red\\\@tb
    background-color red
  .up-bgc-blue\\\@tb
    background-color blue
  .up-bgc-yellow\\\@tb
    background-color yellow
  .up-bgc-gray\\\@tb
    background-color gray
  .up-bgc-black\\\@tb
    background-color black
  .up-bgc-white\\\@tb
    background-color white

  /* text-align */
  .up-ta-c\\\@tb
    text-align center
  .up-ta-l\\\@tb
    text-align left
  .up-ta-r\\\@tb
    text-align right

  /* font-size */
  for fz in range(10,20,1)
    .up-fz-{fz}\\\@tb
      font-size (fz)px
  for fz in range(22,70,2)
    .up-fz-{fz}\\\@tb
      font-size (fz)px
  for fz in range(80,150,20)
    .up-fz-{fz}\\\@tb
      font-size (fz)px

  .up-fz-1vw\\\@tb
    font-size 1vw
  for fz-vw in range(1,9,1)
    .up-fz-1\\\.{fz-vw}vw\\\@tb
      font-size (1 + fz-vw/10)vw
  .up-fz-2vw\\\@tb
    font-size 2vw
  for fz-vw in range(1,9,1)
    .up-fz-2\\\.{fz-vw}vw\\\@tb
      font-size (2 + fz-vw/10)vw
  .up-fz-3vw\\\@tb
    font-size 3vw


  /* line-height */
  .up-lh-1\\\@tb
    line-height 1
  for lh in range(1,9,1)
    .up-lh-1\\\.{lh}\\\@tb
      line-height (1 + lh/10)
  .up-lh-2\\\@tb
    line-height 2
  for lh in range(1,9,1)
    .up-lh-2\\\.{lh}\\\@tb
      line-height (2 + lh/10)
  .up-lh-3\\\@tb
    line-height 3


  /* br */
  .up-br\\\@tb br
    display inline
  .up-br-none\\\@tb br
    display none

  /* flex-wrap */
  .up-fxw-wrap\\\@tb
    flex-wrap wrap
  .up-fxw-wrapr\\\@tb
    flex-wrap wrap-reverse
  .up-fxw-nowrap\\\@tb
    flex-wrap nowrap

  /* flex-direction */
  .up-fxd-row\\\@tb
    flex-direction row
  .up-fxd-rowr\\\@tb
    flex-direction row-reverse
  .up-fxd-col\\\@tb
    flex-direction column
  .up-fxd-colr\\\@tb
    flex-direction column-reverse

  /* justify-content */
  .up-jc-fs\\\@tb
    justify-content flex-start
  .up-jc-fe\\\@tb
    justify-content flex-end
  .up-jc-c\\\@tb
    justify-content center
  .up-jc-sb\\\@tb
    justify-content space-between
  .up-jc-sa\\\@tb
    justify-content space-around
  .up-jc-se\\\@tb
    justify-content space-evenly

  /* align-items */
  .up-ai-fs\\\@tb
    align-items flex-start
  .up-ai-c\\\@tb
    align-items center
  .up-ai-fe\\\@tb
    align-items flex-end
  .up-ai-b\\\@tb
    align-items baseline
  .up-ai-s\\\@tb
    align-items stretch

  /* align-content */
  .up-ac-fs\\\@tb
    align-content flex-start
  .up-ac-c\\\@tb
    align-content center
  .up-ac-fe\\\@tb
    align-content flex-end
  .up-ac-sb\\\@tb
    align-content space-between
  .up-ac-sa\\\@tb
    align-content space-around

  /* align-self */
  .up-as-fs\\\@tb
    align-self flex-start
  .up-as-c\\\@tb
    align-self center
  .up-as-s\\\@tb
    align-self stretch
  .up-as-fe\\\@tb
    align-self flex-end
  .up-as-auto\\\@tb
    align-self auto

  /* grow, shrink */
  .up-fxg-0\\\@tb
    flex-grow 0
  .up-fxg-1\\\@tb
    flex-grow 1
  .up-fxsh-0\\\@tb
    flex-shrink 0
  .up-fxsh-1\\\@tb
    flex-shrink 1


  /* width(px) */
  .up-w-auto\\\@tb
    width auto
  for width-px in range(0,10,1)
    .up-w-{width-px}\\\@tb
      width (width-px)px
  for width-px in range(20,300,10)
    .up-w-{width-px}\\\@tb
      width (width-px)px
  for width-px in range(350,1000,50)
    .up-w-{width-px}\\\@tb
      width (width-px)px
  /* width(%) */
  .up-w-48\\\%\\\@tb
    width 48%
  for width-p in range(5,100,5)
    .up-w-{width-p}\\\%\\\@tb
      width (width-p)%

  /* min-width(px) */
  .up-minw-auto\\\@tb
    min-width auto
  for min-width-px in range(0,10,1)
    .up-minw-{min-width-px}\\\@tb
      min-width (min-width-px)px
  for min-width-px in range(20,300,10)
    .up-minw-{min-width-px}\\\@tb
      min-width (min-width-px)px
  for min-width-px in range(350,1000,50)
    .up-minw-{min-width-px}\\\@tb
      min-width (min-width-px)px
  /* min-width(%) */
  .up-minw-48\\\%\\\@tb
    min-width 48%
  for min-width-p in range(5,100,5)
    .up-minw-{min-width-p}\\\%\\\@tb
      min-width (min-width-p)%

  /* max-width(px) */
  for max-width-px in range(0,10,1)
    .up-maxw-{max-width-px}\\\@tb
      max-width (max-width-px)px
  for max-width-px in range(20,300,10)
    .up-maxw-{max-width-px}\\\@tb
      max-width (max-width-px)px
  for max-width-px in range(350,1000,50)
    .up-maxw-{max-width-px}\\\@tb
      max-width (max-width-px)px
  /* max-width(%) */
  .up-maxw-48\\\%\\\@tb
    max-width 48%
  for max-width-p in range(5,100,5)
    .up-maxw-{max-width-p}\\\%\\\@tb
      max-width (max-width-p)%


  /* height(px) */
  .up-h-auto\\\@tb
    height auto
  .up-h-auto-i\\\@tb
    height auto !important
  for height-px in range(0,10,1)
    .up-h-{height-px}\\\@tb
      height (height-px)px
  for height-px in range(20,300,10)
    .up-h-{height-px}\\\@tb
      height (height-px)px
  for height-px in range(350,1000,50)
    .up-h-{height-px}\\\@tb
      height (height-px)px
  /* height(%) */
  .up-h-48\\\%\\\@tb
    height 48%
  for height-p in range(5,100,5)
    .up-h-{height-p}\\\%\\\@tb
      height (height-p)%

  /* min-height(px) */
  .up-minh-auto\\\@tb
    min-height auto
  for min-height-px in range(0,10,1)
    .up-minh-{min-height-px}\\\@tb
      min-height (min-height-px)px
  for min-height-px in range(20,300,10)
    .up-minh-{min-height-px}\\\@tb
      min-height (min-height-px)px
  for min-height-px in range(350,1000,50)
    .up-minh-{min-height-px}\\\@tb
      min-height (min-height-px)px
  /* min-height(%) */
  .up-minh-48\\\%\\\@tb
    min-height 48%
  for min-height-p in range(5,100,5)
    .up-minh-{min-height-p}\\\%\\\@tb
      min-height (min-height-p)%

  /* max-height(px) */
  for max-height-px in range(0,10,1)
    .up-maxh-{max-height-px}\\\@tb
      max-height (max-height-px)px
  for max-height-px in range(20,300,10)
    .up-maxh-{max-height-px}\\\@tb
      max-height (max-height-px)px
  for max-height-px in range(350,1000,50)
    .up-maxh-{max-height-px}\\\@tb
      max-height (max-height-px)px
  /* max-height(%) */
  .up-maxh-48\\\%\\\@tb
    max-height 48%
  for max-height-p in range(5,100,5)
    .up-maxh-{max-height-p}\\\%\\\@tb
      max-height (max-height-p)%


  /* margin */
  .up-m-auto\\\@tb
    margin auto
  /* margin all(px 1~10) */
  range-margin-px = 0,10,1
  for margin-px in range(range-margin-px)
    .up-m-{margin-px}\\\@tb
      margin (margin-px)px
  /* margin all(px 15~150) */
  range-margin-px = 15,150,5
  for margin-px in range(range-margin-px)
    .up-m-{margin-px}\\\@tb
      margin (margin-px)px
  /* margin all(% 0.5~10) */
  range-margin-p = 1,10,1
  for margin-p in range(range-margin-p)
    .up-m-{margin-p - 1}\\\.5\\\%\\\@tb
      margin (margin-p - .5)%
    .up-m-{margin-p}\\\%\\\@tb
      margin (margin-p)%

  .up-ml-auto\\\@tb
    margin-left auto
  .up-mr-auto\\\@tb
    margin-right auto
  .up-mx-auto\\\@tb
    margin-right auto
    margin-left auto
  /* margin(px 1~10) */
  range-margin-px = 0,10,1
  for margin-px in range(range-margin-px)
    .up-mx-{margin-px}\\\@tb
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my-{margin-px}\\\@tb
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt-{margin-px}\\\@tb
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr-{margin-px}\\\@tb
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb-{margin-px}\\\@tb
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml-{margin-px}\\\@tb
      margin-left (margin-px)px
  /* margin(px 15~150) */
  range-margin-px = 15,150,5
  for margin-px in range(range-margin-px)
    .up-mx-{margin-px}\\\@tb
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my-{margin-px}\\\@tb
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt-{margin-px}\\\@tb
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr-{margin-px}\\\@tb
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb-{margin-px}\\\@tb
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml-{margin-px}\\\@tb
      margin-left (margin-px)px
  /* margin(% 0.5~10) */
  range-margin-p = 1,10,1
  for margin-p in range(range-margin-p)
    .up-mx-{margin-p - 1}\\\.5\\\%\\\@tb
      margin-right (margin-p - .5)%
      margin-left (margin-p - .5)%
    .up-mx-{margin-p}\\\%\\\@tb
      margin-right (margin-p)%
      margin-left (margin-p)%
  for margin-p in range(range-margin-p)
    .up-my-{margin-p - 1}\\\.5\\\%\\\@tb
      margin-top (margin-p - .5)%
      margin-bottom (margin-p - .5)%
    .up-my-{margin-p}\\\%\\\@tb
      margin-top (margin-p)%
      margin-bottom (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mt-{margin-p - 1}\\\.5\\\%\\\@tb
      margin-top (margin-p - .5)%
    .up-mt-{margin-p}\\\%\\\@tb
      margin-top (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mr-{margin-p - 1}\\\.5\\\%\\\@tb
      margin-right (margin-p - .5)%
    .up-mr-{margin-p}\\\%\\\@tb
      margin-right (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mb-{margin-p - 1}\\\.5\\\%\\\@tb
      margin-bottom (margin-p - .5)%
    .up-mb-{margin-p}\\\%\\\@tb
      margin-bottom (margin-p)%
  for margin-p in range(range-margin-p)
    .up-ml-{margin-p - 1}\\\.5\\\%\\\@tb
      margin-left (margin-p - .5)%
    .up-ml-{margin-p}\\\%\\\@tb
      margin-left (margin-p)%


  /* padding all(px 0~10) */
  range-padding-px = 0,10,1
  for padding-px in range(range-padding-px)
    .up-p-{padding-px}\\\@tb
      padding (padding-px)px
  /* padding all(px 15~150) */
  range-padding-px = 15,150,5
  for padding-px in range(range-padding-px)
    .up-p-{padding-px}\\\@tb
      padding (padding-px)px
  /* padding all(% 0.5~10) */
  range-padding-p = 1,10,1
  for padding-p in range(range-padding-p)
    .up-p-{padding-p - 1}\\\.5\\\%\\\@tb
      padding (padding-p - .5)%
    .up-p-{padding-p}\\\%\\\@tb
      padding (padding-p)%

  /* padding (px 0~10) */
  range-padding-px = 0,10,1
  for padding-px in range(range-padding-px)
    .up-px-{padding-px}\\\@tb
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py-{padding-px}\\\@tb
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt-{padding-px}\\\@tb
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr-{padding-px}\\\@tb
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb-{padding-px}\\\@tb
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl-{padding-px}\\\@tb
      padding-left (padding-px)px
  /* padding (px 15~150) */
  range-padding-px = 15,150,5
  for padding-px in range(range-padding-px)
    .up-px-{padding-px}\\\@tb
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py-{padding-px}\\\@tb
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt-{padding-px}\\\@tb
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr-{padding-px}\\\@tb
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb-{padding-px}\\\@tb
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl-{padding-px}\\\@tb
      padding-left (padding-px)px
  /* padding(% 0.5~10) */
  range-padding-p = 1,10,1
  for padding-p in range(range-padding-p)
    .up-px-{padding-p - 1}\\\.5\\\%\\\@tb
      padding-right (padding-p - .5)%
      padding-left (padding-p - .5)%
    .up-px-{padding-p}\\\%\\\@tb
      padding-right (padding-p)%
      padding-left (padding-p)%
  for padding-p in range(range-padding-p)
    .up-py-{padding-p - 1}\\\.5\\\%\\\@tb
      padding-top (padding-p - .5)%
      padding-bottom (padding-p - .5)%
    .up-py-{padding-p}\\\%\\\@tb
      padding-top (padding-p)%
      padding-bottom (padding-p)%
  for padding-p in range(range-padding-p)
    .up-pt-{padding-p - 1}\\\.5\\\%\\\@tb
      padding-top (padding-p - .5)%
    .up-pt-{padding-p}\\\%\\\@tb
      padding-top (padding-p)%
  for padding-p in range(range-padding-p)
    .up-pr-{padding-p - 1}\\\.5\\\%\\\@tb
      padding-right (padding-p - .5)%
    .up-pr-{padding-p}\\\%\\\@tb
      padding-right (padding-p)%
  for padding-p in range(range-padding-p)
    .up-pb-{padding-p - 1}\\\.5\\\%\\\@tb
      padding-bottom (padding-p - .5)%
    .up-pb-{padding-p}\\\%\\\@tb
      padding-bottom (padding-p)%
  for padding-p in range(range-padding-p)
    .up-pl-{padding-p - 1}\\\.5\\\%\\\@tb
      padding-left (padding-p - .5)%
    .up-pl-{padding-p}\\\%\\\@tb
      padding-left (padding-p)%

  /* カラム */
  .up-col-1\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 100%
  .up-col-2\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 50%
  .up-col-3\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 33.333%
  .up-col-4\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 25%
  .up-col-5\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 20%
  .up-col-6\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 16.666%

  /* gapy(px) */
  for gapy-px in range(0,100,10)
    .up-gapy-{gapy-px}\\\@tb
      > *
        padding-bottom gapy-px px
  /* gapy(%) */
  for gapy in range(1,10,1)
    .up-gapy-{gapy}\\\%\\\@tb
      > *
        padding-bottom (gapy)%

  /* gapx(px) */
  for gapx-px in range(0,100,10)
    .up-gapx-{gapx-px}\\\@tb
      margin-left -(gapx-px/2)px
      margin-right -(gapx-px/2)px
      > *
        padding-left (ceil((gapx-px/2),3))px
        padding-right (ceil((gapx-px/2),3))px
  /* gapx(%) */
  for gapx in range(1,10,1)
    .up-gapx-{gapx}\\\%\\\@tb
      margin-left -(gapx/2)%
      margin-right -(gapx/2)%
      > *
        padding-left (ceil((gapx/2),3))%
        padding-right (ceil((gapx/2),3))%


  /* 画像比率固定 */
  for image in range(10,170,5)
    .up-ofi-{image}\\\@tb
      &:after
        content ""
        display block
        padding-top (image)%
      img
        position absolute
        top 0
        left 0

  /* object-position */
  .up-obp-c\\\@tb img
    font-family "object-fit: cover; object-position: center center;"
    object-position center
  .up-obp-t\\\@tb img
    font-family "object-fit: cover; object-position: center top;"
    object-position top
  .up-obp-r\\\@tb img
    font-family "object-fit: cover; object-position: right center;"
    object-position right
  .up-obp-b\\\@tb img
    font-family "object-fit: cover; object-position: center bottom;"
    object-position bottom
  .up-obp-l\\\@tb img
    font-family "object-fit: cover; object-position: left center;"
    object-position left

  /* object-fit */
  .up-obf-contain\\\@tb img
    font-family "object-fit: contain; object-position: center center;"
    object-fit contain

  /* 表示・非表示 */
  .up-show\\\@tb
    display block
  .up-hide\\\@tb
    display none

@media only screen and (max-width 599px)
  /* display */
  .up-d-block\\\@sp
    display block
  .up-d-iblock\\\@sp
    display inline-block
  .up-d-flex\\\@sp
    display flex
  .up-d-none\\\@sp
    display none

  /* box-sizing */
  .up-bz-content\\\@sp
    box-sizing content-box

  /* position */
  .up-pos-rel\\\@sp
    position relative
  .up-pos-abs\\\@sp
    position absolute
  .up-pos-fix\\\@sp
    position fixed

  /* z-index */
  for z in range(-5,-1,1)
    .up-z-n{abs(z)}\\\@sp
      z-index z
  for z in range(0,5,1)
    .up-z-{z}\\\@sp
      z-index z

  /* color */
  .up-c-red\\\@sp
    color red
  .up-c-blue\\\@sp
    color blue
  .up-c-yellow\\\@sp
    color yellow
  .up-c-gray\\\@sp
    color gray
  .up-c-black\\\@sp
    color black
  .up-c-white\\\@sp
    color white

  /* background-color */
  .up-bgc-red\\\@sp
    background-color red
  .up-bgc-blue\\\@sp
    background-color blue
  .up-bgc-yellow\\\@sp
    background-color yellow
  .up-bgc-gray\\\@sp
    background-color gray
  .up-bgc-black\\\@sp
    background-color black
  .up-bgc-white\\\@sp
    background-color white

  /* text-align */
  .up-ta-c\\\@sp
    text-align center
  .up-ta-l\\\@sp
    text-align left
  .up-ta-r\\\@sp
    text-align right

  /* font-size */
  for fz in range(10,20,1)
    .up-fz-{fz}\\\@sp
      font-size (fz)px
  for fz in range(22,70,2)
    .up-fz-{fz}\\\@sp
      font-size (fz)px
  for fz in range(80,150,20)
    .up-fz-{fz}\\\@sp
      font-size (fz)px

  .up-fz-1vw\\\@sp
    font-size 1vw
  for fz-vw in range(1,9,1)
    .up-fz-1\\\.{fz-vw}vw\\\@sp
      font-size (1 + fz-vw/10)vw
  .up-fz-2vw\\\@sp
    font-size 2vw
  for fz-vw in range(1,9,1)
    .up-fz-2\\\.{fz-vw}vw\\\@sp
      font-size (2 + fz-vw/10)vw
  .up-fz-3vw\\\@sp
    font-size 3vw


  /* line-height */
  .up-lh-1\\\@sp
    line-height 1
  for lh in range(1,9,1)
    .up-lh-1\\\.{lh}\\\@sp
      line-height (1 + lh/10)
  .up-lh-2\\\@sp
    line-height 2
  for lh in range(1,9,1)
    .up-lh-2\\\.{lh}\\\@sp
      line-height (2 + lh/10)
  .up-lh-3\\\@sp
    line-height 3


  /* br */
  .up-br\\\@sp br
    display inline
  .up-br-none\\\@sp br
    display none

  /* flex-wrap */
  .up-fxw-wrap\\\@sp
    flex-wrap wrap
  .up-fxw-wrapr\\\@sp
    flex-wrap wrap-reverse
  .up-fxw-nowrap\\\@sp
    flex-wrap nowrap

  /* flex-direction */
  .up-fxd-row\\\@sp
    flex-direction row
  .up-fxd-rowr\\\@sp
    flex-direction row-reverse
  .up-fxd-col\\\@sp
    flex-direction column
  .up-fxd-colr\\\@sp
    flex-direction column-reverse

  /* justify-content */
  .up-jc-fs\\\@sp
    justify-content flex-start
  .up-jc-fe\\\@sp
    justify-content flex-end
  .up-jc-c\\\@sp
    justify-content center
  .up-jc-sb\\\@sp
    justify-content space-between
  .up-jc-sa\\\@sp
    justify-content space-around
  .up-jc-se\\\@sp
    justify-content space-evenly

  /* align-items */
  .up-ai-fs\\\@sp
    align-items flex-start
  .up-ai-c\\\@sp
    align-items center
  .up-ai-fe\\\@sp
    align-items flex-end
  .up-ai-b\\\@sp
    align-items baseline
  .up-ai-s\\\@sp
    align-items stretch

  /* align-content */
  .up-ac-fs\\\@sp
    align-content flex-start
  .up-ac-c\\\@sp
    align-content center
  .up-ac-fe\\\@sp
    align-content flex-end
  .up-ac-sb\\\@sp
    align-content space-between
  .up-ac-sa\\\@sp
    align-content space-around

  /* align-self */
  .up-as-fs\\\@sp
    align-self flex-start
  .up-as-c\\\@sp
    align-self center
  .up-as-s\\\@sp
    align-self stretch
  .up-as-fe\\\@sp
    align-self flex-end
  .up-as-auto\\\@sp
    align-self auto

  /* grow, shrink */
  .up-fxg-0\\\@sp
    flex-grow 0
  .up-fxg-1\\\@sp
    flex-grow 1
  .up-fxsh-0\\\@sp
    flex-shrink 0
  .up-fxsh-1\\\@sp
    flex-shrink 1


  /* width(px) */
  .up-w-auto\\\@sp
    width auto
  for width-px in range(0,10,1)
    .up-w-{width-px}\\\@sp
      width (width-px)px
  for width-px in range(20,300,10)
    .up-w-{width-px}\\\@sp
      width (width-px)px
  for width-px in range(350,1000,50)
    .up-w-{width-px}\\\@sp
      width (width-px)px
  /* width(%) */
  .up-w-48\\\%\\\@sp
    width 48%
  for width-p in range(5,100,5)
    .up-w-{width-p}\\\%\\\@sp
      width (width-p)%

  /* min-width(px) */
  .up-minw-auto\\\@sp
    min-width auto
  for min-width-px in range(0,10,1)
    .up-minw-{min-width-px}\\\@sp
      min-width (min-width-px)px
  for min-width-px in range(20,300,10)
    .up-minw-{min-width-px}\\\@sp
      min-width (min-width-px)px
  for min-width-px in range(350,1000,50)
    .up-minw-{min-width-px}\\\@sp
      min-width (min-width-px)px
  /* min-width(%) */
  .up-minw-48\\\%\\\@sp
    min-width 48%
  for min-width-p in range(5,100,5)
    .up-minw-{min-width-p}\\\%\\\@sp
      min-width (min-width-p)%

  /* max-width(px) */
  for max-width-px in range(0,10,1)
    .up-maxw-{max-width-px}\\\@sp
      max-width (max-width-px)px
  for max-width-px in range(20,300,10)
    .up-maxw-{max-width-px}\\\@sp
      max-width (max-width-px)px
  for max-width-px in range(350,1000,50)
    .up-maxw-{max-width-px}\\\@sp
      max-width (max-width-px)px
  /* max-width(%) */
  .up-maxw-48\\\%\\\@sp
    max-width 48%
  for max-width-p in range(5,100,5)
    .up-maxw-{max-width-p}\\\%\\\@sp
      max-width (max-width-p)%


  /* height(px) */
  .up-h-auto\\\@sp
    height auto
  .up-h-auto-i\\\@sp
    height auto !important
  for height-px in range(0,10,1)
    .up-h-{height-px}\\\@sp
      height (height-px)px
  for height-px in range(20,300,10)
    .up-h-{height-px}\\\@sp
      height (height-px)px
  for height-px in range(350,1000,50)
    .up-h-{height-px}\\\@sp
      height (height-px)px
  /* height(%) */
  .up-h-48\\\%\\\@sp
    height 48%
  for height-p in range(5,100,5)
    .up-h-{height-p}\\\%\\\@sp
      height (height-p)%

  /* min-height(px) */
  .up-minh-auto\\\@sp
    min-height auto
  for min-height-px in range(0,10,1)
    .up-minh-{min-height-px}\\\@sp
      min-height (min-height-px)px
  for min-height-px in range(20,300,10)
    .up-minh-{min-height-px}\\\@sp
      min-height (min-height-px)px
  for min-height-px in range(350,1000,50)
    .up-minh-{min-height-px}\\\@sp
      min-height (min-height-px)px
  /* min-height(%) */
  .up-minh-48\\\%\\\@sp
    min-height 48%
  for min-height-p in range(5,100,5)
    .up-minh-{min-height-p}\\\%\\\@sp
      min-height (min-height-p)%

  /* max-height(px) */
  for max-height-px in range(0,10,1)
    .up-maxh-{max-height-px}\\\@sp
      max-height (max-height-px)px
  for max-height-px in range(20,300,10)
    .up-maxh-{max-height-px}\\\@sp
      max-height (max-height-px)px
  for max-height-px in range(350,1000,50)
    .up-maxh-{max-height-px}\\\@sp
      max-height (max-height-px)px
  /* max-height(%) */
  .up-maxh-48\\\%\\\@sp
    max-height 48%
  for max-height-p in range(5,100,5)
    .up-maxh-{max-height-p}\\\%\\\@sp
      max-height (max-height-p)%


  /* margin */
  .up-m-auto\\\@sp
    margin auto
  /* margin all(px 1~10) */
  range-margin-px = 0,10,1
  for margin-px in range(range-margin-px)
    .up-m-{margin-px}\\\@sp
      margin (margin-px)px
  /* margin all(px 15~150) */
  range-margin-px = 15,150,5
  for margin-px in range(range-margin-px)
    .up-m-{margin-px}\\\@sp
      margin (margin-px)px
  /* margin all(% 0.5~10) */
  range-margin-p = 1,10,1
  for margin-p in range(range-margin-p)
    .up-m-{margin-p - 1}\\\.5\\\%\\\@sp
      margin (margin-p - .5)%
    .up-m-{margin-p}\\\%\\\@sp
      margin (margin-p)%

  .up-ml-auto\\\@sp
    margin-left auto
  .up-mr-auto\\\@sp
    margin-right auto
  .up-mx-auto\\\@sp
    margin-right auto
    margin-left auto
  /* margin(px 1~10) */
  range-margin-px = 0,10,1
  for margin-px in range(range-margin-px)
    .up-mx-{margin-px}\\\@sp
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my-{margin-px}\\\@sp
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt-{margin-px}\\\@sp
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr-{margin-px}\\\@sp
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb-{margin-px}\\\@sp
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml-{margin-px}\\\@sp
      margin-left (margin-px)px
  /* margin(px 15~150) */
  range-margin-px = 15,150,5
  for margin-px in range(range-margin-px)
    .up-mx-{margin-px}\\\@sp
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my-{margin-px}\\\@sp
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt-{margin-px}\\\@sp
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr-{margin-px}\\\@sp
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb-{margin-px}\\\@sp
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml-{margin-px}\\\@sp
      margin-left (margin-px)px
  /* margin(% 0.5~10) */
  range-margin-p = 1,10,1
  for margin-p in range(range-margin-p)
    .up-mx-{margin-p - 1}\\\.5\\\%\\\@sp
      margin-right (margin-p - .5)%
      margin-left (margin-p - .5)%
    .up-mx-{margin-p}\\\%\\\@sp
      margin-right (margin-p)%
      margin-left (margin-p)%
  for margin-p in range(range-margin-p)
    .up-my-{margin-p - 1}\\\.5\\\%\\\@sp
      margin-top (margin-p - .5)%
      margin-bottom (margin-p - .5)%
    .up-my-{margin-p}\\\%\\\@sp
      margin-top (margin-p)%
      margin-bottom (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mt-{margin-p - 1}\\\.5\\\%\\\@sp
      margin-top (margin-p - .5)%
    .up-mt-{margin-p}\\\%\\\@sp
      margin-top (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mr-{margin-p - 1}\\\.5\\\%\\\@sp
      margin-right (margin-p - .5)%
    .up-mr-{margin-p}\\\%\\\@sp
      margin-right (margin-p)%
  for margin-p in range(range-margin-p)
    .up-mb-{margin-p - 1}\\\.5\\\%\\\@sp
      margin-bottom (margin-p - .5)%
    .up-mb-{margin-p}\\\%\\\@sp
      margin-bottom (margin-p)%
  for margin-p in range(range-margin-p)
    .up-ml-{margin-p - 1}\\\.5\\\%\\\@sp
      margin-left (margin-p - .5)%
    .up-ml-{margin-p}\\\%\\\@sp
      margin-left (margin-p)%


  /* padding all(px 0~10) */
  range-padding-px = 0,10,1
  for padding-px in range(range-padding-px)
    .up-p-{padding-px}\\\@sp
      padding (padding-px)px
  /* padding all(px 15~150) */
  range-padding-px = 15,150,5
  for padding-px in range(range-padding-px)
    .up-p-{padding-px}\\\@sp
      padding (padding-px)px
  /* padding all(% 0.5~10) */
  range-padding-p = 1,10,1
  for padding-p in range(range-padding-p)
    .up-p-{padding-p - 1}\\\.5\\\%\\\@sp
      padding (padding-p - .5)%
    .up-p-{padding-p}\\\%\\\@sp
      padding (padding-p)%

  /* padding (px 0~10) */
  range-padding-px = 0,10,1
  for padding-px in range(range-padding-px)
    .up-px-{padding-px}\\\@sp
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py-{padding-px}\\\@sp
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt-{padding-px}\\\@sp
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr-{padding-px}\\\@sp
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb-{padding-px}\\\@sp
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl-{padding-px}\\\@sp
      padding-left (padding-px)px
  /* padding (px 15~150) */
  range-padding-px = 15,150,5
  for padding-px in range(range-padding-px)
    .up-px-{padding-px}\\\@sp
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py-{padding-px}\\\@sp
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt-{padding-px}\\\@sp
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr-{padding-px}\\\@sp
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb-{padding-px}\\\@sp
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl-{padding-px}\\\@sp
      padding-left (padding-px)px
  /* padding(% 0.5~10) */
  range-padding-p = 1,10,1
  for padding-p in range(range-padding-p)
    .up-px-{padding-p - 1}\\\.5\\\%\\\@sp
      padding-right (padding-p - .5)%
      padding-left (padding-p - .5)%
    .up-px-{padding-p}\\\%\\\@sp
      padding-right (padding-p)%
      padding-left (padding-p)%
  for padding-p in range(range-padding-p)
    .up-py-{padding-p - 1}\\\.5\\\%\\\@sp
      padding-top (padding-p - .5)%
      padding-bottom (padding-p - .5)%
    .up-py-{padding-p}\\\%\\\@sp
      padding-top (padding-p)%
      padding-bottom (padding-p)%
  for padding-p in range(range-padding-p)
    .up-pt-{padding-p - 1}\\\.5\\\%\\\@sp
      padding-top (padding-p - .5)%
    .up-pt-{padding-p}\\\%\\\@sp
      padding-top (padding-p)%
  for padding-p in range(range-padding-p)
    .up-pr-{padding-p - 1}\\\.5\\\%\\\@sp
      padding-right (padding-p - .5)%
    .up-pr-{padding-p}\\\%\\\@sp
      padding-right (padding-p)%
  for padding-p in range(range-padding-p)
    .up-pb-{padding-p - 1}\\\.5\\\%\\\@sp
      padding-bottom (padding-p - .5)%
    .up-pb-{padding-p}\\\%\\\@sp
      padding-bottom (padding-p)%
  for padding-p in range(range-padding-p)
    .up-pl-{padding-p - 1}\\\.5\\\%\\\@sp
      padding-left (padding-p - .5)%
    .up-pl-{padding-p}\\\%\\\@sp
      padding-left (padding-p)%


  /* カラム */
  .up-col-1\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 100%
  .up-col-2\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 50%
  .up-col-3\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 33.333%
  .up-col-4\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 25%
  .up-col-5\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 20%
  .up-col-6\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 16.666%

  /* gapy(px) */
  for gapy-px in range(0,100,10)
    .up-gapy-{gapy-px}\\\@sp
      > *
        padding-bottom gapy-px px
  /* gapy(%) */
  for gapy in range(1,10,1)
    .up-gapy-{gapy}\\\%\\\@sp
      > *
        padding-bottom (gapy)%

  /* gapx(px) */
  for gapx-px in range(0,100,10)
    .up-gapx-{gapx-px}\\\@sp
      margin-left -(gapx-px/2)px
      margin-right -(gapx-px/2)px
      > *
        padding-left (ceil((gapx-px/2),3))px
        padding-right (ceil((gapx-px/2),3))px
  /* gapx(%) */
  for gapx in range(1,10,1)
    .up-gapx-{gapx}\\\%\\\@sp
      margin-left -(gapx/2)%
      margin-right -(gapx/2)%
      > *
        padding-left (ceil((gapx/2),3))%
        padding-right (ceil((gapx/2),3))%


  /* 画像比率固定 */
  for image in range(10,170,5)
    .up-ofi-{image}\\\@sp
      &:after
        content ""
        display block
        padding-top (image)%
      img
        position absolute
        top 0
        left 0

  /* object-position */
  .up-obp-c\\\@sp img
    font-family "object-fit: cover; object-position: center center;"
    object-position center
  .up-obp-t\\\@sp img
    font-family "object-fit: cover; object-position: center top;"
    object-position top
  .up-obp-r\\\@sp img
    font-family "object-fit: cover; object-position: right center;"
    object-position right
  .up-obp-b\\\@sp img
    font-family "object-fit: cover; object-position: center bottom;"
    object-position bottom
  .up-obp-l\\\@sp img
    font-family "object-fit: cover; object-position: left center;"
    object-position left

  /* object-fit */
  .up-obf-contain\\\@sp img
    font-family "object-fit: contain; object-position: center center;"
    object-fit contain

  /* 表示・非表示 */
  .up-show\\\@sp
    display block
  .up-hide\\\@sp
    display none
