@charset "utf-8"
html
  color #000
  font-weight 500
  font-size 16px
  font-family "游ゴシック",YuGothic,Hiragino Sans,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro",Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif
  /* font-family '游明朝', 'YuMincho', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝', 'Sawarabi Mincho', serif */
  /* font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif; */
  /* font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO"; */
  line-height 1.5
  -webkit-text-size-adjust 100%

body,
div,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
form,
input,
button,
figure,
p,
pre,
a,
time
  box-sizing border-box
  margin 0
  padding 0

:after,
:before
  box-sizing border-box

h1,
h2,
h3,
h4,
h5,
h6
  color inherit
  font-weight inherit
  font-size inherit
  font-family inherit
  line-height inherit

button,
input,
optgroup,
select,
textarea
  padding 0
  color inherit
  line-height inherit

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object
  display block
  vertical-align middle

button,
input,
optgroup,
select,
textarea
  margin 0
  font-size 100%
  font-family inherit
  line-height 1.15

img,
video,
iframe
  max-width 100%
  height auto

b,
strong
  font-weight bolder

ol,
ul
  list-style none

time
  display block

img
  border-style none

button,
[role="button"]
  cursor pointer

table
  border-collapse collapse
th
  font-weight normal

.img img
  margin-right auto
  margin-left auto

.map
  position relative
  overflow hidden
  &:after
    display block
    padding-top 50%
    content ""
  iframe
    position absolute
    top 0
    right 0
    left 0
    margin auto
    max-width initial
    width 100%
    height 100%

a
  color inherit
  text-decoration none
  transition 0.4s ease
  &:hover
    opacity 0.6
    text-decoration none
    color inherit
  &[href*="tel"]
    pointer-events none
  @media (max-width 1024px)
    &[href*="tel"]
      pointer-events initial !important

#wrapper
  overflow hidden
[datup-element-id] #wrapper
  padding-top 0 !important
  opacity 1

/* inner */
.inner
  margin 0 auto
  max-width 1000px
  width 92%
.inner600
  margin 0 auto
  max-width 600px
  width 92%
.inner700
  margin 0 auto
  max-width 700px
  width 92%
.inner800
  margin 0 auto
  max-width 800px
  width 92%
.inner900
  margin 0 auto
  max-width 900px
  width 92%
.inner1100
  margin 0 auto
  max-width 1100px
  width 98%
.inner1200
  margin 0 auto
  max-width 1200px
  width 98%
@media (max-width 1024px)
  .inner,
  .inner600,
  .inner700,
  .inner800,
  .inner900
    max-width 768px
    width 96%

[class*="heightLine"]
  display block

/* フィード */
.fead-mv
  opacity 0
  transition 0.5s ease-out
.fead-up
  opacity 0
  transition 0.5s ease-out
  transform translateY(20px)
  &.mv
    transform translateY(0)
.fead-right
  opacity 0
  transition 1s
  transform translate3d(-100vw,0,0)
  &.mv
    opacity 1
    transform translate3d(0,0,0)
.fead-left
  opacity 0
  transition 1s
  transform translate3d(100vw,0,0)
  &.mv
    opacity 1
    transform translate3d(0,0,0)
.mv
  opacity 1

/* clear */
.up-clear
  clear both
.up-clearfix
  display block
.up-clearfix:before
  display block
  clear both
  content ""
.up-clearfix:after
  display block
  clear both
  content ""

/* overflow */
.up-over-hidden
  overflow hidden

/* font-style */
.up-italic
  font-style italic

/* text-decoration */
.up-underline
  text-decoration underline

/* list-style-type */
.up-list-disc
  list-style-type disc
.up-list-decimal
  list-style-type decimal

/* font-weight */
.up-fw400
  font-weight 400
.up-fw500
  font-weight 500
.up-fw600
  font-weight 600

/* object-fit */
.up-of-contain img
  font-family "object-fit: contain; object-position: 50% 50%;"
  object-fit contain
.up-of-cover img
  font-family "object-fit: cover; object-position: 50% 50%;"
  object-fit cover

/* object-position */
.up-of-c img
  font-family "object-fit: cover; object-position: center center;"
  object-position center
.up-of-t img
  font-family "object-fit: cover; object-position: center top;"
  object-position top
.up-of-r img
  font-family "object-fit: cover; object-position: right center;"
  object-position right
.up-of-b img
  font-family "object-fit: cover; object-position: center bottom;"
  object-position bottom
.up-of-l img
  font-family "object-fit: cover; object-position: left center;"
  object-position left

/* 画像比率固定 */
[class*="up-of-image"]
  position relative
  display block
  width 100%
  &:after
    display block
    content ""
  img
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    /* IE対策 */
    font-family "object-fit: cover; object-position: 50% 50%;"
    object-fit cover
    object-position 50% 50%
for image in range(30,170,5)
  .up-of-image{image}
    &:after
      padding-top (image)%

/*===================================
  以下@tb,@spが用意されているクラス
===================================*/
/* display */
.up-flex
  display flex
.up-none
  display none

/* position */
.up-fixed
  position fixed
.up-asolute
  position absolute
.up-relative
  position relative

/* color */
.up-red
  color red
.up-blue
  color blue
.up-yellow
  color yellow
.up-gray
  color gray
.up-black
  color black
.up-white
  color white

/* background-color */
.up-bg-red
  background-color red
.up-bg-blue
  background-color blue
.up-bg-yellow
  background-color yellow
.up-bg-gray
  background-color gray
.up-bg-black
  background-color black
.up-bg-white
  background-color white

/* text-align */
.up-tac
  text-align center
.up-tal
  text-align left
.up-tar
  text-align right

/* font-size */
for fz in range(10,20,1)
  .up-fz{fz}
    font-size (fz)px
for fz in range(22,70,2)
  .up-fz{fz}
    font-size (fz)px
for fz in range(80,300,20)
  .up-fz{fz}
    font-size (fz)px

/* flex-wrap */
.up-wrap
  flex-wrap wrap
.up-wrapr
  flex-wrap wrap-reverse

/* flex-direction */
.up-fd-row
  flex-direction row
.up-fd-rowr
  flex-direction row-reverse
.up-fd-col
  flex-direction column
.up-fd-colr
  flex-direction column-reverse

/* justify-content */
.up-jc-start
  justify-content flex-start
.up-jc-end
  justify-content flex-end
.up-jc-center
  justify-content center
.up-jc-between
  justify-content space-between
.up-jc-around
  justify-content space-around
.up-jc-evenly
  justify-content space-evenly

/* align-items */
.up-ai-start
  align-items flex-start
.up-ai-center
  align-items center
.up-ai-end
  align-items flex-end
.up-ai-baseline
  align-items baseline
.up-ai-stretch
  align-items stretch

/* align-content */
.up-ac-start
  align-content flex-start
.up-ac-center
  align-content center
.up-ac-end
  align-content flex-end
.up-ac-between
  align-content space-between
.up-ac-around
  align-content space-around

/* align-self */
.up-as-start
  align-self flex-start
.up-as-center
  align-self center
.up-as-stretch
  align-self stretch
.up-as-end
  align-self flex-end
.up-as-auto
  align-self auto

/* grow, shrink */
.up-grow0
  flex-grow 0
.up-grow1
  flex-grow 1
.up-shrink0
  flex-shrink 0
.up-shrink1
  flex-shrink 1

/* width */
.up-w-auto
  width auto
.up-w0
  width 0
.up-w48p
  width 48%
for width-p in range(5,100,5)
  .up-w{width-p}p
    width (width-p)%

/* max-width */
for max-width-px in range(0,1000,50)
  .up-maxw{max-width-px}
    max-width (max-width-px)px

/* margin */
.up-m-auto
  margin auto
.up-ml-auto
  margin-left auto
.up-mr-auto
  margin-right auto
.up-mx-auto
  margin-right auto
  margin-left auto

range-margin-px = 0,10,1
for margin-px in range(range-margin-px)
  .up-mx{margin-px}
    margin-right (margin-px)px
    margin-left (margin-px)px
for margin-px in range(range-margin-px)
  .up-my{margin-px}
    margin-top (margin-px)px
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-mt{margin-px}
    margin-top (margin-px)px
for margin-px in range(range-margin-px)
  .up-mr{margin-px}
    margin-right (margin-px)px
for margin-px in range(range-margin-px)
  .up-mb{margin-px}
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-ml{margin-px}
    margin-left (margin-px)px

range-margin-px = 20,150,10
for margin-px in range(range-margin-px)
  .up-mx{margin-px}
    margin-right (margin-px)px
    margin-left (margin-px)px
for margin-px in range(range-margin-px)
  .up-my{margin-px}
    margin-top (margin-px)px
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-mt{margin-px}
    margin-top (margin-px)px
for margin-px in range(range-margin-px)
  .up-mr{margin-px}
    margin-right (margin-px)px
for margin-px in range(range-margin-px)
  .up-mb{margin-px}
    margin-bottom (margin-px)px
for margin-px in range(range-margin-px)
  .up-ml{margin-px}
    margin-left (margin-px)px

/* padding */
range-padding-px = 0,10,1
for padding-px in range(range-padding-px)
  .up-p{padding-px}
    padding (padding-px)px
for padding-px in range(range-padding-px)
  .up-px{padding-px}
    padding-right (padding-px)px
    padding-left (padding-px)px
for padding-px in range(range-padding-px)
  .up-py{padding-px}
    padding-top (padding-px)px
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pt{padding-px}
    padding-top (padding-px)px
for padding-px in range(range-padding-px)
  .up-pr{padding-px}
    padding-right (padding-px)px
for padding-px in range(range-padding-px)
  .up-pb{padding-px}
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pl{padding-px}
    padding-left (padding-px)px

range-padding-px = 20,150,10
for padding-px in range(range-padding-px)
  .up-p{padding-px}
    padding (padding-px)px
for padding-px in range(range-padding-px)
  .up-px{padding-px}
    padding-right (padding-px)px
    padding-left (padding-px)px
for padding-px in range(range-padding-px)
  .up-py{padding-px}
    padding-top (padding-px)px
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pt{padding-px}
    padding-top (padding-px)px
for padding-px in range(range-padding-px)
  .up-pr{padding-px}
    padding-right (padding-px)px
for padding-px in range(range-padding-px)
  .up-pb{padding-px}
    padding-bottom (padding-px)px
for padding-px in range(range-padding-px)
  .up-pl{padding-px}
    padding-left (padding-px)px

/* カラム */
.up-col2
  display flex
  flex-wrap wrap
  > *
    width 50%
.up-col3
  display flex
  flex-wrap wrap
  > *
    width 33.333%
.up-col4
  display flex
  flex-wrap wrap
  > *
    width 25%
.up-col5
  display flex
  flex-wrap wrap
  > *
    width 20%
.up-col6
  display flex
  flex-wrap wrap
  > *
    width 16.666%
for gapy in range(0,100,10)
  .up-gapy{gapy}
    > *
      margin-bottom gapy px
for gapx in range(1,10,1)
  .up-gapx{gapx}p
    margin-left -(gapx/2)%
    margin-right -(gapx/2)%
    > *
      margin-left (ceil((gapx/2),3))%
      margin-right (ceil((gapx/2),3))%
for gapx in range(1,10,1)
  .up-col2.up-gapx{gapx}p
    > *
      width (50 - gapx)%
  .up-col3.up-gapx{gapx}p
    > *
      width (33.333 - gapx)%
  .up-col4.up-gapx{gapx}p
    > *
      width (25 - gapx)%
  .up-col5.up-gapx{gapx}p
    > *
      width (20 - gapx)%
  .up-col6.up-gapx{gapx}p
    > *
      width (16.666 - gapx)%

@media only screen and (max-width 1024px)
  /* display */
  .up-flex\\\@tb
    display flex
  .up-none\\\@tb
    display none

  /* position */
  .up-fixed\\\@tb
    position fixed
  .up-asolute\\\@tb
    position absolute
  .up-relative\\\@tb
    position relative

  /* color */
  .up-red\\\@tb
    color red
  .up-blue\\\@tb
    color blue
  .up-yellow\\\@tb
    color yellow
  .up-gray\\\@tb
    color gray
  .up-black\\\@tb
    color black
  .up-white\\\@tb
    color white

  /* background-color */
  .up-bg-red\\\@tb
    background-color red
  .up-bg-blue\\\@tb
    background-color blue
  .up-bg-yellow\\\@tb
    background-color yellow
  .up-bg-gray\\\@tb
    background-color gray
  .up-bg-black\\\@tb
    background-color black
  .up-bg-white\\\@tb
    background-color white

  /* text-align */
  .up-tac\\\@tb
    text-align center
  .up-tal\\\@tb
    text-align left
  .up-tar\\\@tb
    text-align right

  /* font-size */
  for fz in range(10,20,1)
    .up-fz{fz}\\\@tb
      font-size (fz)px
  for fz in range(22,70,2)
    .up-fz{fz}\\\@tb
      font-size (fz)px
  for fz in range(80,300,20)
    .up-fz{fz}\\\@tb
      font-size (fz)px

  /* flex-wrap */
  .up-wrap\\\@tb
    flex-wrap wrap
  .up-wrapr\\\@tb
    flex-wrap wrap-reverse

  /* flex-direction */
  .up-fd-row\\\@tb
    flex-direction row
  .up-fd-rowr\\\@tb
    flex-direction row-reverse
  .up-fd-col\\\@tb
    flex-direction column
  .up-fd-colr\\\@tb
    flex-direction column-reverse

  /* justify-content */
  .up-jc-start\\\@tb
    justify-content flex-start
  .up-jc-end\\\@tb
    justify-content flex-end
  .up-jc-center\\\@tb
    justify-content center
  .up-jc-between\\\@tb
    justify-content space-between
  .up-jc-around\\\@tb
    justify-content space-around
  .up-jc-evenly\\\@tb
    justify-content space-evenly

  /* align-items */
  .up-ai-start\\\@tb
    align-items flex-start
  .up-ai-center\\\@tb
    align-items center
  .up-ai-end\\\@tb
    align-items flex-end
  .up-ai-baseline\\\@tb
    align-items baseline
  .up-ai-stretch\\\@tb
    align-items stretch

  /* align-content */
  .up-ac-start\\\@tb
    align-content flex-start
  .up-ac-center\\\@tb
    align-content center
  .up-ac-end\\\@tb
    align-content flex-end
  .up-ac-between\\\@tb
    align-content space-between
  .up-ac-around\\\@tb
    align-content space-around

  /* align-self */
  .up-as-start\\\@tb
    align-self flex-start
  .up-as-center\\\@tb
    align-self center
  .up-as-stretch\\\@tb
    align-self stretch
  .up-as-end\\\@tb
    align-self flex-end
  .up-as-auto\\\@tb
    align-self auto

  /* grow, shrink */
  .up-grow0\\\@tb
    flex-grow 0
  .up-grow1\\\@tb
    flex-grow 1
  .up-shrink0\\\@tb
    flex-shrink 0
  .up-shrink1\\\@tb
    flex-shrink 1

  /* width */
  .up-w-auto\\\@tb
    width auto
  .up-w48p\\\@tb
    width 48%
  for width-p in range(5,100,5)
    .up-w{width-p}p\\\@tb
      width (width-p)%

  /* max-width */
  for max-width-px in range(0,1000,50)
    .up-maxw{max-width-px}\\\@tb
      max-width (max-width-px)px

  /* margin */
  .up-m-auto\\\@tb
    margin auto
  .up-ml-auto\\\@tb
    margin-left auto
  .up-mr-auto\\\@tb
    margin-right auto
  .up-mx-auto\\\@tb
    margin-right auto
    margin-left auto

  range-margin-px = 0,10,1
  for margin-px in range(range-margin-px)
    .up-mx{margin-px}\\\@tb
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my{margin-px}\\\@tb
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt{margin-px}\\\@tb
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr{margin-px}\\\@tb
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb{margin-px}\\\@tb
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml{margin-px}\\\@tb
      margin-left (margin-px)px

  range-margin-px = 20,150,10
  for margin-px in range(range-margin-px)
    .up-mx{margin-px}\\\@tb
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my{margin-px}\\\@tb
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt{margin-px}\\\@tb
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr{margin-px}\\\@tb
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb{margin-px}\\\@tb
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml{margin-px}\\\@tb
      margin-left (margin-px)px

  /* padding */
  range-padding-px = 0,10,1
  for padding-px in range(range-padding-px)
    .up-p{padding-px}\\\@tb
      padding (padding-px)px
  for padding-px in range(range-padding-px)
    .up-px{padding-px}\\\@tb
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py{padding-px}\\\@tb
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt{padding-px}\\\@tb
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr{padding-px}\\\@tb
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb{padding-px}\\\@tb
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl{padding-px}\\\@tb
      padding-left (padding-px)px

  range-padding-px = 20,150,10
  for padding-px in range(range-padding-px)
    .up-p{padding-px}\\\@tb
      padding (padding-px)px
  for padding-px in range(range-padding-px)
    .up-px{padding-px}\\\@tb
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py{padding-px}\\\@tb
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt{padding-px}\\\@tb
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr{padding-px}\\\@tb
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb{padding-px}\\\@tb
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl{padding-px}\\\@tb
      padding-left (padding-px)px

  /* カラム */
  .up-col2\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 50%
  .up-col3\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 33.333%
  .up-col4\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 25%
  .up-col5\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 20%
  .up-col6\\\@tb
    display flex
    flex-wrap wrap
    > *
      width 16.666%
  for gapy in range(0,100,10)
    .up-gapy{gapy}\\\@tb
      > *
        margin-bottom gapy px
  for gapx in range(1,10,1)
    .up-gapx{gapx}p\\\@tb
      margin-left -(gapx/2)%
      margin-right -(gapx/2)%
      > *
        margin-left (ceil((gapx/2),3))%
        margin-right (ceil((gapx/2),3))%
  for gapx in range(1,10,1)
    .up-col1.up-gapx{gapx}p\\\@tb,
    .up-col1\\\@tb.up-gapx{gapx}p
      > *
        width 100%
    .up-col2.up-gapx{gapx}p\\\@tb,
    .up-col2\\\@tb.up-gapx{gapx}p
      > *
        width (50 - gapx)%
    .up-col3.up-gapx{gapx}p\\\@tb,
    .up-col3\\\@tb.up-gapx{gapx}p
      > *
        width (33.333 - gapx)%
    .up-col4.up-gapx{gapx}p\\\@tb,
    .up-col4\\\@tb.up-gapx{gapx}p
      > *
        width (25 - gapx)%
    .up-col5.up-gapx{gapx}p\\\@tb,
    .up-col5\\\@tb.up-gapx{gapx}p
      > *
        width (20 - gapx)%
    .up-col6.up-gapx{gapx}p\\\@tb,
    .up-col6\\\@tb.up-gapx{gapx}p
      > *
        width (16.666 - gapx)%
  for gapx in range(1,10,1)
    .up-col1\\\@tb.up-gapx{gapx}p\\\@tb
      > *
        width 100%
    .up-col2\\\@tb.up-gapx{gapx}p\\\@tb
      > *
        width (50 - gapx)%
    .up-col3\\\@tb.up-gapx{gapx}p\\\@tb
      > *
        width (33.333 - gapx)%
    .up-col4\\\@tb.up-gapx{gapx}p\\\@tb
      > *
        width (25 - gapx)%
    .up-col5\\\@tb.up-gapx{gapx}p\\\@tb
      > *
        width (20 - gapx)%
    .up-col6\\\@tb.up-gapx{gapx}p\\\@tb
      > *
        width (16.666 - gapx)%

@media only screen and (max-width 599px)
  /* display */
  .up-flex\\\@sp
    display flex
  .up-none\\\@sp
    display none

  /* position */
  .up-fixed\\\@sp
    position fixed
  .up-asolute\\\@sp
    position absolute
  .up-relative\\\@sp
    position relative

  /* color */
  .up-red\\\@sp
    color red
  .up-blue\\\@sp
    color blue
  .up-yellow\\\@sp
    color yellow
  .up-gray\\\@sp
    color gray
  .up-black\\\@sp
    color black
  .up-white\\\@sp
    color white

  /* background-color */
  .up-bg-red\\\@sp
    background-color red
  .up-bg-blue\\\@sp
    background-color blue
  .up-bg-yellow\\\@sp
    background-color yellow
  .up-bg-gray\\\@sp
    background-color gray
  .up-bg-black\\\@sp
    background-color black
  .up-bg-white\\\@sp
    background-color white

  /* text-align */
  .up-tac\\\@sp
    text-align center
  .up-tal\\\@sp
    text-align left
  .up-tar\\\@sp
    text-align right

  /* font-size */
  for fz in range(10,20,1)
    .up-fz{fz}\\\@sp
      font-size (fz)px
  for fz in range(22,70,2)
    .up-fz{fz}\\\@sp
      font-size (fz)px
  for fz in range(80,300,20)
    .up-fz{fz}\\\@sp
      font-size (fz)px

  /* flex-wrap */
  .up-wrap\\\@sp
    flex-wrap wrap
  .up-wrapr\\\@sp
    flex-wrap wrap-reverse

  /* flex-direction */
  .up-fd-row\\\@sp
    flex-direction row
  .up-fd-rowr\\\@sp
    flex-direction row-reverse
  .up-fd-col\\\@sp
    flex-direction column
  .up-fd-colr\\\@sp
    flex-direction column-reverse

  /* justify-content */
  .up-jc-start\\\@sp
    justify-content flex-start
  .up-jc-end\\\@sp
    justify-content flex-end
  .up-jc-center\\\@sp
    justify-content center
  .up-jc-between\\\@sp
    justify-content space-between
  .up-jc-around\\\@sp
    justify-content space-around
  .up-jc-evenly\\\@sp
    justify-content space-evenly

  /* align-items */
  .up-ai-start\\\@sp
    align-items flex-start
  .up-ai-center\\\@sp
    align-items center
  .up-ai-end\\\@sp
    align-items flex-end
  .up-ai-baseline\\\@sp
    align-items baseline
  .up-ai-stretch\\\@sp
    align-items stretch

  /* align-content */
  .up-ac-start\\\@sp
    align-content flex-start
  .up-ac-center\\\@sp
    align-content center
  .up-ac-end\\\@sp
    align-content flex-end
  .up-ac-between\\\@sp
    align-content space-between
  .up-ac-around\\\@sp
    align-content space-around

  /* align-self */
  .up-as-start\\\@sp
    align-self flex-start
  .up-as-center\\\@sp
    align-self center
  .up-as-stretch\\\@sp
    align-self stretch
  .up-as-end\\\@sp
    align-self flex-end
  .up-as-auto\\\@sp
    align-self auto

  /* grow, shrink */
  .up-grow0\\\@sp
    flex-grow 0
  .up-grow1\\\@sp
    flex-grow 1
  .up-shrink0\\\@sp
    flex-shrink 0
  .up-shrink1\\\@sp
    flex-shrink 1

  /* width */
  .up-w-auto\\\@sp
    width auto
  .up-w48p\\\@sp
    width 48%
  for width-p in range(5,100,5)
    .up-w{width-p}p\\\@sp
      width (width-p)%

  /* max-width */
  for max-width-px in range(0,1000,50)
    .up-maxw{max-width-px}\\\@sp
      max-width (max-width-px)px

  /* margin */
  .up-m-auto\\\@sp
    margin auto
  .up-ml-auto\\\@sp
    margin-left auto
  .up-mr-auto\\\@sp
    margin-right auto
  .up-mx-auto\\\@sp
    margin-right auto
    margin-left auto

  range-margin-px = 0,10,1
  for margin-px in range(range-margin-px)
    .up-mx{margin-px}\\\@sp
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my{margin-px}\\\@sp
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt{margin-px}\\\@sp
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr{margin-px}\\\@sp
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb{margin-px}\\\@sp
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml{margin-px}\\\@sp
      margin-left (margin-px)px

  range-margin-px = 20,150,10
  for margin-px in range(range-margin-px)
    .up-mx{margin-px}\\\@sp
      margin-right (margin-px)px
      margin-left (margin-px)px
  for margin-px in range(range-margin-px)
    .up-my{margin-px}\\\@sp
      margin-top (margin-px)px
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mt{margin-px}\\\@sp
      margin-top (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mr{margin-px}\\\@sp
      margin-right (margin-px)px
  for margin-px in range(range-margin-px)
    .up-mb{margin-px}\\\@sp
      margin-bottom (margin-px)px
  for margin-px in range(range-margin-px)
    .up-ml{margin-px}\\\@sp
      margin-left (margin-px)px

  /* padding */
  range-padding-px = 0,10,1
  for padding-px in range(range-padding-px)
    .up-p{padding-px}\\\@sp
      padding (padding-px)px
  for padding-px in range(range-padding-px)
    .up-px{padding-px}\\\@sp
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py{padding-px}\\\@sp
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt{padding-px}\\\@sp
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr{padding-px}\\\@sp
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb{padding-px}\\\@sp
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl{padding-px}\\\@sp
      padding-left (padding-px)px

  range-padding-px = 20,150,10
  for padding-px in range(range-padding-px)
    .up-p{padding-px}\\\@sp
      padding (padding-px)px
  for padding-px in range(range-padding-px)
    .up-px{padding-px}\\\@sp
      padding-right (padding-px)px
      padding-left (padding-px)px
  for padding-px in range(range-padding-px)
    .up-py{padding-px}\\\@sp
      padding-top (padding-px)px
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pt{padding-px}\\\@sp
      padding-top (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pr{padding-px}\\\@sp
      padding-right (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pb{padding-px}\\\@sp
      padding-bottom (padding-px)px
  for padding-px in range(range-padding-px)
    .up-pl{padding-px}\\\@sp
      padding-left (padding-px)px

  /* カラム */
  .up-col2\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 50%
  .up-col3\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 33.333%
  .up-col4\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 25%
  .up-col5\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 20%
  .up-col6\\\@sp
    display flex
    flex-wrap wrap
    > *
      width 16.666%
  for gapy in range(0,100,10)
    .up-gapy{gapy}\\\@sp
      > *
        margin-bottom gapy px
  for gapx in range(1,10,1)
    .up-gapx{gapx}p\\\@sp
      margin-left -(gapx/2)%
      margin-right -(gapx/2)%
      > *
        margin-left (ceil((gapx/2),3))%
        margin-right (ceil((gapx/2),3))%
  for gapx in range(1,10,1)
    .up-col1.up-gapx{gapx}p\\\@sp,
    .up-col1\\\@sp.up-gapx{gapx}p
      > *
        width 100%
    .up-col2.up-gapx{gapx}p\\\@sp,
    .up-col2\\\@sp.up-gapx{gapx}p
      > *
        width (50 - gapx)%
    .up-col3.up-gapx{gapx}p\\\@sp,
    .up-col3\\\@sp.up-gapx{gapx}p
      > *
        width (33.333 - gapx)%
    .up-col4.up-gapx{gapx}p\\\@sp,
    .up-col4\\\@sp.up-gapx{gapx}p
      > *
        width (25 - gapx)%
    .up-col5.up-gapx{gapx}p\\\@sp,
    .up-col5\\\@sp.up-gapx{gapx}p
      > *
        width (20 - gapx)%
    .up-col6.up-gapx{gapx}p\\\@sp,
    .up-col6\\\@sp.up-gapx{gapx}p
      > *
        width (16.666 - gapx)%
  for gapx in range(1,10,1)
    .up-col1\\\@tb.up-gapx{gapx}p\\\@sp,
    .up-col1\\\@sp.up-gapx{gapx}p\\\@tb
      > *
        width 100%
    .up-col2\\\@tb.up-gapx{gapx}p\\\@sp,
    .up-col2\\\@sp.up-gapx{gapx}p\\\@tb
      > *
        width (50 - gapx)%
    .up-col3\\\@tb.up-gapx{gapx}p\\\@sp,
    .up-col3\\\@sp.up-gapx{gapx}p\\\@tb
      > *
        width (33.333 - gapx)%
    .up-col4\\\@tb.up-gapx{gapx}p\\\@sp,
    .up-col4\\\@sp.up-gapx{gapx}p\\\@tb
      > *
        width (25 - gapx)%
    .up-col5\\\@tb.up-gapx{gapx}p\\\@sp,
    .up-col5\\\@sp.up-gapx{gapx}p\\\@tb
      > *
        width (20 - gapx)%
    .up-col6\\\@tb.up-gapx{gapx}p\\\@sp,
    .up-col6\\\@sp.up-gapx{gapx}p\\\@tb
      > *
        width (16.666 - gapx)%
  for gapx in range(1,10,1)
    .up-col1\\\@sp.up-gapx{gapx}p\\\@sp
      > *
        width 100%
    .up-col2\\\@sp.up-gapx{gapx}p\\\@sp
      > *
        width (50 - gapx)%
    .up-col3\\\@sp.up-gapx{gapx}p\\\@sp
      > *
        width (33.333 - gapx)%
    .up-col4\\\@sp.up-gapx{gapx}p\\\@sp
      > *
        width (25 - gapx)%
    .up-col5\\\@sp.up-gapx{gapx}p\\\@sp
      > *
        width (20 - gapx)%
    .up-col6\\\@sp.up-gapx{gapx}p\\\@sp
      > *
        width (16.666 - gapx)%
