<!-- フッター -->
<footer id="footer" class="footer">
  <ul class="footer-slider" id="footer-slider">
    <li>
      <div class="pic">
        <span class="up-ofi-70">
          <img src="images/600x420.jpg.webp" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="pic">
        <span class="up-ofi-70">
          <img src="images/600x420.jpg.webp" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="pic">
        <span class="up-ofi-70">
          <img src="images/600x420.jpg.webp" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="pic">
        <span class="up-ofi-70">
          <img src="images/600x420.jpg.webp" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="pic">
        <span class="up-ofi-70">
          <img src="images/600x420.jpg.webp" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="pic">
        <span class="up-ofi-70">
          <img src="images/600x420.jpg.webp" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="pic">
        <span class="up-ofi-70">
          <img src="images/600x420.jpg.webp" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="pic">
        <span class="up-ofi-70">
          <img src="images/600x420.jpg.webp" alt="">
        </span>
      </div>
    </li>
  </ul>
  <div class="footer-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13129.33058465498!2d135.5133309!3d34.6463012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5e013bca896fad0b!2z5qCq5byP5Lya56S-44Om44OL44K944Oz44OX44Op44ON44OD44OI!5e0!3m2!1sja!2sjp!4v1661761372377!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="foot01 area-small">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb">
        <div class="up-w-40% up-w-100%@tb">
          <div class="footer-ttl up-fz-14 up-ta-c">見出しが入ります</div>
          <div class="footer-logo up-w-fit up-adb up-mx-auto up-my-20">
            <a href="index.html">
              <img src="images/logo_dummy.png" alt="">
            </a>
          </div>
          <div class="footer-address up-ta-c">
            〒000-0000 住所が入ります<br>
            住所が入ります住所が入ります住所が入ります
          </div>
          <div class="telbox01 up-mt-20 tel up-w-fit up-mx-auto">
            00-0000-0000
          </div>
        </div>
        <div class="up-w-55% up-w-100%@tb up-mt-20@tb">
          <div class="btn-cmn03 mail up-mx-auto">
            <a href="contact.html">メールでのお問い合わせ</a>
          </div>
          <div class="footer-table">
            <table>
              <thead>
                <tr>
                  <th>診療時間</th>
                  <th>月</th>
                  <th>火</th>
                  <th>水</th>
                  <th>木</th>
                  <th>金</th>
                  <th>土</th>
                  <th>日</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>9：00〜13：00</th>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td>✕</td>
                </tr>
                <tr>
                  <th>14：00〜19：00</th>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td class="or">●</td>
                  <td>✕</td>
                  <td>✕</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="up-mt-10">休診日　土曜午後・日曜・祝日</div>
        </div>
      </div>
    </div>
  </div>
  <div class="foot02 bgc01 area-small">
    <div class="inner fead-up">
      <ul class="footer-nav up-d-flex up-jc-c up-fxw-wrap">
        <li><a href="index.html">HOME</a></li>
        <li><a href="info.html">当院について</a></li>
        <li><a href="first.html">はじめての方へ</a></li>
        <li><a href="faq.html">よくある質問</a></li>
        <li><a href="news.html">新着情報</a></li>
        <li><a href="blog.html">ブログ</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
        <li><a href="nayami.html">こんなお悩みありませんか</a></li>
        <li><a href="template.html">準備中</a></li>
        <li><a href="price.html">料金表</a></li>
        <li><a href="recruit.html">求人情報</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div>© 〇〇歯科医院 ALL RIGHT RESERVED.</div>
  </div>
  <a class="totop" id="totop"></a>
  <div class="fixed_area" id="fix">
    <div class="tel-btn">
      <div class="tel-btn-icon"><img src="./images/h_tel_icon.png" alt=""></div>
      <div class="popup-box"><span class="contel tel">00-0000-0000</span></div>
    </div>
    <ul class="contact_ul">
      <li><a href="" target="_blank" class="fix_btn web"><img src="images/h_tel_reservation.png" alt="ネット予約"><span class="btn_name"><span class="fs12">24時間受付中</span>ネット予約</span></a></li>
      <li><a href="contact.html" class="fix_btn mail" target="_self"><img src="images/h_mail_icon.png" alt="メール問い合わせ"><span class="btn_name">メール問い合わせ</span></a></li>
    </ul>
  </div>
</footer>
</div>
</body>

</html>