<!-- フッター -->
<footer id="footer" class="footer border02">
  <div class="foot01 up-py-40 up-py-30@tb up-py-20@sp">
    <div class="inner fead-up">
      <ul class="footer-nav up-d-flex up-jc-c up-fxw-wrap up-col-2@sp up-gapx-40 up-gapx-20@tb up-gapx-10@sp up-fz-14 up-fw-bold up-rgap-20 up-ta-c@sp">
        <li><a href='index.html'>Home</a></li>
        <li><a href='concept.html'>Concept</a></li>
        <li><a href='salon_info.html'>Salon Info</a></li>
        <li><a href='menu.html'>Menu</a></li>
        <li><a href='coupon.html'>Coupon</a></li>
        <li><a href='staff.html'>Staff</a></li>
        <li><a href='catalog.html'>Hair Catalog</a></li>
        <li><a href='special.html'>Special Care</a></li>
        <li><a href='special.html'>Special Hair aesthetic</a></li>
        <li><a href='product.html'>Product</a></li>
        <li><a href='voice.html'>Voice</a></li>
        <li><a href='recruit.html'>Recruit</a></li>
        <li><a href='faq.html'>Q&A</a></li>
        <li><a href='blog.html'>Blog</a></li>
        <li><a href='news.html'>News</a></li>
        <li><a href='contact.html'>Contact</a></li>
      </ul>
      <div class="footer-logo up-w-fit up-mx-auto up-adb up-mt-30">
        <a href="index.html">
          <img src="images/logo_dummy.png" alt="">
        </a>
      </div>
      <ul class="footer-sns up-d-flex up-jc-c up-ai-c up-fz-26 up-fz-22@sp up-gapx-20 up-my-20">
        <li>
          <a href=""><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright bgc02 up-py-20 up-c-white">
    <div class="inner up-ta-c up-fz-12 up-fz-10@tb up-fw-bold">
      Copyright (C) 〇〇 hair. All rights reserved.
    </div>
  </div>
  <div class="totop">
    <a href="">
      <img src="images/pagetop01.png" alt="">
      <span>Page Top</span>
    </a>
  </div>
  <div class="sp-fix-box show@tb">
    <ul class="up-d-flex up-jc-sa up-ai-c">
      <li class="sns">
        <a href=""><i class="fab fa-instagram"></i></a>
      </li>
      <li class="web">
        <a href="">web予約はこちら</a>
      </li>
      <li class="tel">000-000-0000</li>
    </ul>
  </div>
</footer>
</div>
</body>

</html>