<div id="gnav" class="gnav accordion">
  <div class="toggle">
    <p><span class="bar accordion-toggle"></span></p>
  </div>
  <div class="accordion-body">
    <div class="up-hide up-show@tb show@tb">
      <div class="inner up-pt-40 up-pt-20@sp">
        <div class="gnav-logo up-w-fit up-mx-auto">
          <a href="index.html">
            <img src="./images/logo_dummy.png" alt="〇〇歯科医院">
          </a>
        </div>
        <div class="telbox01 up-mt-20 tel up-w-fit up-mx-auto">
          00-0000-0000
        </div>
        <div class="gnav-address up-mt-20 up-ta-c">
          住所が入ります住所が入ります住所が入ります
        </div>
      </div>
    </div>
    <ul class="glist up-d-flex up-fxw-wrap up-jc-sa up-fxd-col@tb inner accordion-inner">
      <li><a href="index.html">ホーム</a></li>
      <li><a href="info.html">医院について</a></li>
      <li class="on">
        <a href="nayami.html">こんなお悩みありませんか</a>
        <div class="accordionbox">
          <ul class="dropdown up-d-flex up-fxd-col@tb up-fxw-wrap">
            <li><a href="template.html"><span class="icon"><img src="./images/trouble_dirt.png" alt="歯の汚れ・黄ばみが気になる"></span>
                <span class="text">歯の黄ばみが気になる方</span>
              </a></li>
            <li><a href="template.html"><span class="icon"><img src="./images/trouble_silver.png" alt="詰め物や銀歯が目立つ"></span>
                <span class="text">詰め物や銀歯を目立たなくしたい方</span></a></li>
            <li><a href="template.html"><span class="icon"><img src="./images/trouble_cleaning.png" alt="プロに歯の掃除をしてほしい"></span>
                <span class="text">プロに歯の掃除をしてほしい</span>
              </a></li>
            <li><a href="template.html"><span class="icon"><img src="./images/trouble_lost.png" alt="歯を失ってしまった・欠けた"></span>
                <span class="text">歯が欠けた・失ってしまった方</span></a></li>
            <li><a href="template.html"><span class="icon"><img src="./images/trouble_whitening.png" alt="歯への負担少なく綺麗にしたい"></span>
                <span class="text">歯への負担少なく綺麗にしたい方</span>
              </a></li>
          </ul>
        </div>
      </li>
      <li><a href="first.html">はじめての方へ</a></li>
      <li><a href="price.html">料金表</a></li>
      <li><a href="faq.html">よくあるご質問</a></li>
      <li><a href="info.html#access" target="_self">アクセス</a></li>
      <li class="up-hide up-show@tb show@tb"><a href="blog.html" target="_self">ブログ</a></li>
      <li class="up-hide up-show@tb show@tb"><a href="news.html" target="_self">ニュース</a></li>
      <li class="up-hide up-show@tb show@tb"><a href="recruit.html">求人情報</a></li>
    </ul>
  </div>
</div>