<% let path = 'blog'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="blog01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Blog</span>
        <span class="ja">ブログ</span>
      </h2>
      <div class="up-d-flex up-fxw-wrap up-jc-sb">
        <div class="up-w-70% up-w-100%@tb">
          <ul class="blog-list up-col-2 up-gapx-20 up-gapx-10@sp up-rgap-40 up-adb">
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic border02 up-mb-15">
                  <span class="up-ofi-75">
                    <img src="images/600x420.jpg.webp" alt="">
                  </span>
                </div>
                <div class="date up-my-5 color04">2022/00/00</div>
                <div class="ttl alt up-fw-bold up-fz-18 up-reader1">
                  タイトル
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic border02 up-mb-15">
                  <span class="up-ofi-75">
                    <img src="images/600x420.jpg.webp" alt="">
                  </span>
                </div>
                <div class="date up-my-5 color04">2022/00/00</div>
                <div class="ttl alt up-fw-bold up-fz-18 up-reader1">
                  タイトル
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic border02 up-mb-15">
                  <span class="up-ofi-75">
                    <img src="images/600x420.jpg.webp" alt="">
                  </span>
                </div>
                <div class="date up-my-5 color04">2022/00/00</div>
                <div class="ttl alt up-fw-bold up-fz-18 up-reader1">
                  タイトル
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic border02 up-mb-15">
                  <span class="up-ofi-75">
                    <img src="images/600x420.jpg.webp" alt="">
                  </span>
                </div>
                <div class="date up-my-5 color04">2022/00/00</div>
                <div class="ttl alt up-fw-bold up-fz-18 up-reader1">
                  タイトル
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic border02 up-mb-15">
                  <span class="up-ofi-75">
                    <img src="images/600x420.jpg.webp" alt="">
                  </span>
                </div>
                <div class="date up-my-5 color04">2022/00/00</div>
                <div class="ttl alt up-fw-bold up-fz-18 up-reader1">
                  タイトル
                </div>
              </a>
            </li>
            <li class="altlist">
              <a href="blog_detail.html">
                <div class="pic border02 up-mb-15">
                  <span class="up-ofi-75">
                    <img src="images/600x420.jpg.webp" alt="">
                  </span>
                </div>
                <div class="date up-my-5 color04">2022/00/00</div>
                <div class="ttl alt up-fw-bold up-fz-18 up-reader1">
                  タイトル
                </div>
              </a>
            </li>
          </ul>
          <div class="pagenation up-my-80 up-my-60@tb">
            <ul class="up-d-flex up-jc-c">
              <li class="prev">
                <a href=""></a>
              </li>
              <li class="current">
                <span>1</span>
              </li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">5</a></li>
              <li class="next"><a href=""></a></li>
            </ul>
          </div>
        </div>
        <div class="up-w-25% up-w-100%@tb">
          <div class="up-col-2@tb up-col-1@sp up-gapx-20@tb up-gapy-40">
            <div>
              <dl class="category-box">
                <dt class="js-toggle">Category</dt>
                <dd style="display: none;">
                  <ul>
                    <li><a href="blog.html">All</a></li>
                    <li><a href="blog.html">カテゴリー</a></li>
                    <li><a href="blog.html">カテゴリー</a></li>
                    <li><a href="blog.html">カテゴリー</a></li>
                    <li><a href="blog.html">カテゴリー</a></li>
                  </ul>
                </dd>
              </dl>
            </div>
            <div>
              <dl class="category-box">
                <dt class="js-toggle">Archive</dt>
                <dd style="display: none;">
                  <ul>
                    <li><a href="blog.html">2022/00</a></li>
                    <li><a href="blog.html">2022/00</a></li>
                    <li><a href="blog.html">2022/00</a></li>
                    <li><a href="blog.html">2022/00</a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>