<% let path = 'catalog'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="catalog01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Hair Catalog</span>
        <span class="ja">ヘアーカタログ</span>
      </h2>
      <ul class="catalog-list up-col-5 up-gapx-20 up-gapx-10@sp up-rgap-20 up-rgap-10@sp up-col-4@tb up-col-2@sp up-adb">
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="catalog_detail.html">
            <dl class="altlist">
              <dt class="ttl alt"><span>スタイル名</span></dt>
              <dd class="pbox">
                <div class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </div>
              </dd>
            </dl>
          </a>
        </li>
      </ul>
      <div class="pagenation up-mt-80 up-mt-60@tb up-mt-40@sp">
        <ul class="up-d-flex up-jc-c">
          <li class="prev">
            <a href=""></a>
          </li>
          <li class="current">
            <span>1</span>
          </li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li class="next"><a href=""></a></li>
        </ul>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>