<% let path = 'catalog_detail'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="catalog01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Hair Catalog</span>
        <span class="ja">ヘアーカタログ</span>
      </h2>
      <div class="js-mainimg">
        <div class="up-ofi-110">
          <img src="images/600x780.jpg.webp" alt="">
        </div>
      </div>
      <div class="up-d-flex up-fxw-wrap up-jc-sb up-mt-40 up-mt-30@tb up-mt-20@sp">
        <div class="up-w-48% up-w-100%@sp">
          <ul class="js-thumb up-col-3">
            <li>
              <div class="pic up-ofi-110">
                <img src="images/600x780.jpg.webp" alt="">
              </div>
            </li>
            <li>
              <div class="pic up-ofi-110">
                <img src="images/600x780.jpg.webp" alt="">
              </div>
            </li>
            <li>
              <div class="pic up-ofi-110">
                <img src="images/600x780.jpg.webp" alt="">
              </div>
            </li>
          </ul>
        </div>
        <div class="up-w-48% up-w-100%@sp up-mt-20@sp">
          <div class="catalog-table">
            <dl class="up-d-flex up-ai-c up-jc-sb up-fxw-wrap 長い">
              <dt>髪の長さ</dt>
              <dd>
                <ul class="up-d-flex up-jc-sb">
                  <li>短い</li>
                  <li>普通</li>
                  <li>長い</li>
                </ul>
              </dd>
            </dl>
            <dl class="up-d-flex up-ai-c up-jc-sb up-fxw-wrap 普通">
              <dt>髪の量</dt>
              <dd>
                <ul class="up-d-flex up-jc-sb">
                  <li>多い</li>
                  <li>普通</li>
                  <li>少ない</li>
                </ul>
              </dd>
            </dl>
            <dl class="up-d-flex up-ai-c up-jc-sb up-fxw-wrap 硬い">
              <dt>髪質</dt>
              <dd>
                <ul class="up-d-flex up-jc-sb">
                  <li>硬い</li>
                  <li>普通</li>
                  <li>柔かい</li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="title02 up-mt-50 up-mt-40@tb up-mt-30@sp"><span class="up-ff-mincho up-fz-18 up-pr-20">COMMENT</span></div>
          <div class="txt up-mt-20">
            テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
          </div>
        </div>
      </div>
      <div class="btn-cmn03 up-mx-auto up-mt-80 up-mt-60@tb up-mt-40@sp">
        <a href="catalog.html">一覧に戻る</a>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>