<% let path = 'coupon'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="coupon01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Coupon</span>
        <span class="ja">クーポン</span>
      </h2>
      <ul class="up-col-4 up-gapx-20 up-rgap-20 up-col-2@tb up-col-1@sp">
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span class="strikethrough">10,260円</span><span>8,208円～</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
        <li>
          <div class="coupon01">
            <div class="up-d-flex up-ai-c up-jc-sb" data-mh="01">
              <div class="shopname">shop name</div>
              <div class="cat">新規の方</div>
            </div>
            <div class="ttl" data-mh="02">タイトル</div>
            <div class="price up-d-flex up-jc-c up-ai-c" data-mh="03">
              <span>0,000円</span>
            </div>
            <div class="txt up-fz-12">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>