<% let path = 'gallery'; %>
<%- include('./_header', {path: path}) %>

<main id="main" class="main">
  <div class="topvisual fead-up">
    <div class="img"><img src="https://placehold.jp/500x500.png" alt="ギャラリー一覧"></div>
    <h2 class="head">ギャラリー一覧</h2>
  </div>

  <div class="breadcrumb fead-up">
    <div class="inner">
      <ul class="list">
        <li class="item home"><a href="index.html">HOME</a></li>
        <li class="item now">Page1</li>
      </ul>
    </div>
  </div>

  <div class="gallery01 area">
    <div class="inner">
      <ul class="list-gallery01 up-col-4 up-gapx-50 up-gapx-30@tb up-gapx-10@sp up-gapy-30 up-col-3@tb up-col-2@sp">
        <li class="item altlist">
          <a href="#">
            <div class="img"><span class="up-ofi-130"><img src="https://placehold.jp/500x500.png" alt=""></span></div>
            <div class="block-txt">
              <div class="cate">カテゴリー</div>
              <div class="head alt">スタイル名スタイル名スタイル名スタイル名スタイル名スタイル名スタイル名スタイル名スタイル名</div>
            </div>
          </a>
        </li>
        <li class="item altlist">
          <a href="#">
            <div class="img"><span class="up-ofi-130"><img src="https://placehold.jp/500x500.png" alt=""></span></div>
            <div class="block-txt">
              <div class="cate">カテゴリー</div>
              <div class="head alt">スタイル名</div>
            </div>
          </a>
        </li>
        <li class="item altlist">
          <a href="#">
            <div class="img"><span class="up-ofi-130"><img src="https://placehold.jp/500x500.png" alt=""></span></div>
            <div class="block-txt">
              <div class="cate">カテゴリー</div>
              <div class="head alt">スタイル名</div>
            </div>
          </a>
        </li>
        <li class="item altlist">
          <a href="#">
            <div class="img"><span class="up-ofi-130"><img src="https://placehold.jp/500x500.png" alt=""></span></div>
            <div class="block-txt">
              <div class="cate">カテゴリー</div>
              <div class="head alt">スタイル名</div>
            </div>
          </a>
        </li>
        <li class="item altlist">
          <a href="#">
            <div class="img"><span class="up-ofi-130"><img src="https://placehold.jp/500x500.png" alt=""></span></div>
            <div class="block-txt">
              <div class="cate">カテゴリー</div>
              <div class="head alt">スタイル名</div>
            </div>
          </a>
        </li>
        <li class="item altlist">
          <a href="#">
            <div class="img"><span class="up-ofi-130"><img src="https://placehold.jp/500x500.png" alt=""></span></div>
            <div class="block-txt">
              <div class="cate">カテゴリー</div>
              <div class="head alt">スタイル名</div>
            </div>
          </a>
        </li>
        <li class="item altlist">
          <a href="#">
            <div class="img"><span class="up-ofi-130"><img src="https://placehold.jp/500x500.png" alt=""></span></div>
            <div class="block-txt">
              <div class="cate">カテゴリー</div>
              <div class="head alt">スタイル名</div>
            </div>
          </a>
        </li>
      </ul>

      <ul class="pagenation up-my-50 fead-mv">
        <li class="item prev"><a href="#"></a></li>
        <li class="item number"><a href="#">1 </a></li>
        <li class="item now">2</li>
        <li class="item number"><a href="#">3</a></li>
        <li class="item number"><a href="#">4</a></li>
        <li class="item number"><a href="#">5</a></li>
        <li class="item next"><a href="#"></a></li>
      </ul>
    </div>
  </div>


</main>

<%- include('./_footer', {path: path}) %>