<% let path = 'index'; %>
<%- include('./_header', {path: path}) %>

<div class="top-main-visual">
  <div class="top-image">
    <div class="uk-slidenav-position" data-uk-slideshow="{animation: 'fade', autoplay: true, autoplayInterval: '7000'}">
      <ul class="uk-slideshow">
        <li>
          <div class="uk-flex uk-flex-middle uk-flex-center" style="overflow: hidden;"><img src="images/dummy.png" style="width: 100%;"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="tbox">
    <div class="ttl">見出しが入ります</div>
  </div>
</div>

<%- include('./_nav') %>
<div class="bread-box bgc01">
  <div class="inner fead-up">
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><%= jsonData.pages[path].title %></li>
    </ul>
  </div>
</div>

<!-- メインコンテンツ -->
<main class="main" id="main">
  <section class="top01box area">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c up-py-10 border01">
        <div class="up-w-30% up-w-100%@tb">
          <h2 class="heading01">
            <img src="images/news_icon.png" alt="">
            <span class="ttl">お知らせ</span>
          </h2>
        </div>
        <div class="up-w-70% up-w-100%@tb up-mt-10@tb">
          <ul class="top-news-list">
            <li class="up-my-10">
              <a href="news_detail.html">
                <dl class="up-d-flex up-ai-c up-jc-sb">
                  <dt class="date up-w-100">2022/00/00</dt>
                  <dd class="ttl up-w-10% up-fxg-1 up-reader1">
                    タイトルが入ります
                  </dd>
                </dl>
              </a>
            </li>
            <li class="up-my-10">
              <a href="news_detail.html">
                <dl class="up-d-flex up-ai-c up-jc-sb">
                  <dt class="date up-w-100">2022/00/00</dt>
                  <dd class="ttl up-w-10% up-fxg-1 up-reader1">
                    タイトルが入ります
                  </dd>
                </dl>
              </a>
            </li>
            <li class="up-my-10">
              <a href="news_detail.html">
                <dl class="up-d-flex up-ai-c up-jc-sb">
                  <dt class="date up-w-100">2022/00/00</dt>
                  <dd class="ttl up-w-10% up-fxg-1 up-reader1">
                    タイトルが入ります
                  </dd>
                </dl>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="btn-cmn01 up-ml-auto up-mt-20">
        <a href="news.html">お知らせ一覧</a>
      </div>
    </div>
  </section>
  <section class="top02box area up-pos-rel">
    <div class="bg up-pa-100 up-ofi opacity08">
      <img src="images/dummy.png" alt="">
    </div>
    <div class="bg01"></div>
    <div class="inner fead-up up-pos-rel up-z-5">
      <div class="top02 up-d-flex up-fxw-wrap up-fxd-rowr up-jc-fe">
        <div class="up-w-100 up-w-100%@tb">
          <h2 class="ttl">代表ご挨拶</h2>
        </div>
        <div class="up-w-10% up-fxg-1 up-w-100%@tb">
          <div class="txt up-fz-20 up-fz-18@tb up-fz-14@sp">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top03box area">
    <div class="inner fead-up">
      <h2 class="heading up-fz-30 up-fz-28@tb up-fz-24@sp up-mb-50 up-mb-40@tb up-mb-30@sp up-ta-c up-fw-bold">
        選ばれる理由
      </h2>
      <div class="top03">
        <ul class="up-col-3 up-gapx-40 up-gapx-20@tb up-gapx-10@sp up-rgap-50 up-col-2@tb up-col-1@sp up-jc-c">
          <li>
            <div class="pic">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
            <div class="num01">1</div>
            <div class="ttl up-ta-c up-fz-22 up-fz-20@sp color03 up-mb-20 up-fw-bold" data-mh>
              タイトルが入ります
            </div>
            <div class="text">
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </div>
          </li>
          <li>
            <div class="pic">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
            <div class="num01">2</div>
            <div class="ttl up-ta-c up-fz-22 up-fz-20@sp color03 up-mb-20 up-fw-bold" data-mh>
              タイトルが入ります
            </div>
            <div class="text">
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </div>
          </li>
          <li>
            <div class="pic">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
            <div class="num01">3</div>
            <div class="ttl up-ta-c up-fz-22 up-fz-20@sp color03 up-mb-20 up-fw-bold" data-mh>
              タイトルが入ります
            </div>
            <div class="text">
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </div>
          </li>
          <li>
            <div class="pic">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
            <div class="num01">4</div>
            <div class="ttl up-ta-c up-fz-22 up-fz-20@sp color03 up-mb-20 up-fw-bold" data-mh>
              タイトルが入ります
            </div>
            <div class="text">
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </div>
          </li>
          <li>
            <div class="pic">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
            <div class="num01">5</div>
            <div class="ttl up-ta-c up-fz-22 up-fz-20@sp color03 up-mb-20 up-fw-bold" data-mh>
              タイトルが入ります
            </div>
            <div class="text">
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="top04box area bgc01 arrow01">
    <div class="inner fead-up">
      <h2 class="heading wave01 up-ta-c up-fz-30 up-fz-28@tb up-fz-24@sp up-fw-bold up-mb-80 up-mb-60@tb up-mb-40@sp">
        診療のご案内
      </h2>
      <div class="top04">
        <ul class="up-col-4 up-gapx-40 up-gapx-20@tb up-gapx-10@sp up-rgap-40 up-col-3@tb up-col-2@sp up-adb up-jc-c">
          <li>
            <a href="">
              <dl>
                <dd class="border02 up-circle">
                  <div class="up-ofi-100">
                    <img src="images/600x600.jpg" alt="">
                  </div>
                </dd>
                <dt class="up-fw-bold up-ta-c up-fz-20 up-fz-18@sp up-mt-20">
                  タイトルが入ります
                </dt>
              </dl>
            </a>
          </li>
          <li>
            <a href="">
              <dl>
                <dd class="border02 up-circle">
                  <div class="up-ofi-100">
                    <img src="images/600x600.jpg" alt="">
                  </div>
                </dd>
                <dt class="up-fw-bold up-ta-c up-fz-20 up-fz-18@sp up-mt-20">
                  タイトルが入ります
                </dt>
              </dl>
            </a>
          </li>
          <li>
            <a href="">
              <dl>
                <dd class="border02 up-circle">
                  <div class="up-ofi-100">
                    <img src="images/600x600.jpg" alt="">
                  </div>
                </dd>
                <dt class="up-fw-bold up-ta-c up-fz-20 up-fz-18@sp up-mt-20">
                  タイトルが入ります
                </dt>
              </dl>
            </a>
          </li>
          <li>
            <a href="">
              <dl>
                <dd class="border02 up-circle">
                  <div class="up-ofi-100">
                    <img src="images/600x600.jpg" alt="">
                  </div>
                </dd>
                <dt class="up-fw-bold up-ta-c up-fz-20 up-fz-18@sp up-mt-20">
                  タイトルが入ります
                </dt>
              </dl>
            </a>
          </li>
          <li>
            <a href="">
              <dl>
                <dd class="border02 up-circle">
                  <div class="up-ofi-100">
                    <img src="images/600x600.jpg" alt="">
                  </div>
                </dd>
                <dt class="up-fw-bold up-ta-c up-fz-20 up-fz-18@sp up-mt-20">
                  タイトルが入ります
                </dt>
              </dl>
            </a>
          </li>
          <li>
            <a href="">
              <dl>
                <dd class="border02 up-circle">
                  <div class="up-ofi-100">
                    <img src="images/600x600.jpg" alt="">
                  </div>
                </dd>
                <dt class="up-fw-bold up-ta-c up-fz-20 up-fz-18@sp up-mt-20">
                  タイトルが入ります
                </dt>
              </dl>
            </a>
          </li>
          <li>
            <a href="">
              <dl>
                <dd class="border02 up-circle">
                  <div class="up-ofi-100">
                    <img src="images/600x600.jpg" alt="">
                  </div>
                </dd>
                <dt class="up-fw-bold up-ta-c up-fz-20 up-fz-18@sp up-mt-20">
                  タイトルが入ります
                </dt>
              </dl>
            </a>
          </li>
          <li>
            <a href="">
              <dl>
                <dd class="border02 up-circle">
                  <div class="up-ofi-100">
                    <img src="images/600x600.jpg" alt="">
                  </div>
                </dd>
                <dt class="up-fw-bold up-ta-c up-fz-20 up-fz-18@sp up-mt-20">
                  タイトルが入ります
                </dt>
              </dl>
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-cmn02 up-mx-auto up-my-50 up-my-40@tb up-my-30@sp">
        <a href="nayami.html">その他のお悩みはこちら</a>
      </div>
    </div>
  </section>
  <section class="top05box area">
    <div class="inner fead-up">
      <div class="sub up-ta-c up-fz-24 up-fz-20@sp up-fw-bold">
        株式会社〇〇にお任せください
      </div>
      <h2 class="heading up-fz-38 up-fz-30@tb up-fz-24@sp up-mx-auto up-fw-bold maker01 up-w-fit up-mb-50 up-mb-40@tb up-mb-30@sp">
        こんな<span class="color03 up-fz-130%">お悩み</span>ありませんか？
      </h2>
      <div class="top05">
        <ul class="up-col-4 up-gapx-40 up-gapx-20@tb up-gapx-10@sp up-rgap-40 up-rgap-30@sp up-col-3@tb up-col-2@sp up-adb up-jc-c">
          <li>
            <a href="template.html">
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </span>
              </div>
              <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh>
                タイトルが入ります
              </div>
              <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </a>
          </li>
          <li>
            <a href="template.html">
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </span>
              </div>
              <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh>
                タイトルが入ります
              </div>
              <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </a>
          </li>
          <li>
            <a href="template.html">
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </span>
              </div>
              <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh>
                タイトルが入ります
              </div>
              <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </a>
          </li>
          <li>
            <a href="template.html">
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </span>
              </div>
              <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh>
                タイトルが入ります
              </div>
              <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </a>
          </li>
          <li>
            <a href="template.html">
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </span>
              </div>
              <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh>
                タイトルが入ります
              </div>
              <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </a>
          </li>
          <li>
            <a href="template.html">
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </span>
              </div>
              <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh>
                タイトルが入ります
              </div>
              <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </a>
          </li>
          <li>
            <a href="template.html">
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </span>
              </div>
              <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh>
                タイトルが入ります
              </div>
              <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </a>
          </li>
          <li>
            <a href="template.html">
              <div class="pic">
                <span class="up-ofi-100">
                  <img src="images/600x600.jpg" alt="">
                </span>
              </div>
              <div class="ttl up-my-20 up-ta-c color03 up-fw-bold up-fz-24 up-fz-22@tb up-fz-20@sp" data-mh>
                タイトルが入ります
              </div>
              <div class="text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-cmn02 up-mx-auto up-mt-40 up-mt-60 up-mt-50@tb up-mt-30@sp">
        <a href="info.html">当院について詳しくはこちら</a>
      </div>
    </div>
  </section>
  <section class="top06box up-pt-20 up-py-10@sp">
    <div class="inner fead-up">
      <h2 class="heading up-fz-30 up-fz-28@tb up-fz-24@sp up-mb-50 up-mb-40@tb up-mb-30@sp up-ta-c up-fw-bold">ごあいさつ</h2>
      <div class="up-d-flex up-fxw-wrap up-jc-sb up-fxd-rowr">
        <div class="up-w-30% up-w-100%@sp">
          <div class="pic">
            <span class="up-ofi-70">
              <img src="images/600x420.jpg.webp" alt="">
            </span>
          </div>
          <div class="name up-fz-24 up-fz-22@sp up-mt-20 up-ta-r up-fw-bold up-ff-mincho">
            院長　名前　名前
          </div>
        </div>
        <div class="up-w-65% up-w-100%@sp up-mt-20@sp">
          <div class="txt">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top07box area-big">
    <div class="inner fead-up">
      <div class="top07 up-maxw-800 up-mx-auto">
        <a href="">
          <div class="up-d-flex up-fxw-wrap">
            <div class="up-w-50% up-w-100%@sp">
              <div class="tbox">
                一緒に働いてみませんか？
              </div>
            </div>
            <div class="up-w-50% up-w-100%@sp up-ofi-30 up-ofi-40@sp">
              <img src="images/dummy.png" alt="">
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="top08box">
    <div class="inner fead-up">
      <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c up-py-10 border01">
        <div class="up-w-30% up-w-100%@tb">
          <h2 class="heading01">
            <i class="fas fa-tooth"></i>
            <span class="ttl">ブログ</span>
          </h2>
        </div>
        <div class="up-w-70% up-w-100%@tb up-mt-10@tb">
          <ul class="top-news-list">
            <li class="up-my-10">
              <a href="news_detail.html">
                <dl class="up-d-flex up-ai-c up-jc-sb">
                  <dt class="date up-w-100">2022/00/00</dt>
                  <dd class="ttl up-w-10% up-fxg-1 up-reader1">
                    タイトルが入ります
                  </dd>
                </dl>
              </a>
            </li>
            <li class="up-my-10">
              <a href="news_detail.html">
                <dl class="up-d-flex up-ai-c up-jc-sb">
                  <dt class="date up-w-100">2022/00/00</dt>
                  <dd class="ttl up-w-10% up-fxg-1 up-reader1">
                    タイトルが入ります
                  </dd>
                </dl>
              </a>
            </li>
            <li class="up-my-10">
              <a href="news_detail.html">
                <dl class="up-d-flex up-ai-c up-jc-sb">
                  <dt class="date up-w-100">2022/00/00</dt>
                  <dd class="ttl up-w-10% up-fxg-1 up-reader1">
                    タイトルが入ります
                  </dd>
                </dl>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="btn-cmn01 up-ml-auto up-mt-20">
        <a href="blog.html">ブログ一覧</a>
      </div>
    </div>
  </section>
  <section class="top09box area-big">
    <div class="inner fead-up">
      <div class="top09">
        <ul class="up-col-2 up-gapx-20 up-rgap-20 up-col-1@sp up-adb">
          <li>
            <a href="">
              <div class="box up-pos-rel">
                <div class="bg up-ofi up-pa-100">
                  <img src="images/dummy.png" alt="">
                </div>
                <div class="tbox up-pos-rel">
                  <div class="ttl">見出しが入ります</div>
                  <div class="more">More</div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="box up-pos-rel">
                <div class="bg __blue up-ofi up-pa-100">
                  <img src="images/dummy.png" alt="">
                </div>
                <div class="tbox up-pos-rel">
                  <div class="ttl">見出しが入ります</div>
                  <div class="more">More</div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="box up-pos-rel">
                <div class="bg up-ofi up-pa-100">
                  <img src="images/dummy.png" alt="">
                </div>
                <div class="tbox up-pos-rel">
                  <div class="ttl">見出しが入ります</div>
                  <div class="more">More</div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="box up-pos-rel">
                <div class="bg __blue up-ofi up-pa-100">
                  <img src="images/dummy.png" alt="">
                </div>
                <div class="tbox up-pos-rel">
                  <div class="ttl">見出しが入ります</div>
                  <div class="more">More</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>