<% let path = 'news_detail'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="blog01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">News</span>
        <span class="ja">ニュース</span>
      </h2>
      <div class="up-d-flex up-fxw-wrap up-jc-sb up-fxd-col@tb">
        <div class="up-w-70% up-w-100%@tb contents-cmn@tb">
          <div class="box">
            <div class="blog-detail border01 altlist up-p-40 up-p-30@tb up-p-20@sp">
              <div class="ttl up-fz-18 up-ff-mincho up-fw-bold alt">
                タイトルが入ります
              </div>
              <div class="detail-content up-clearfix">
                <h2>見出し１</h2>
                <div>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                <div><br>
                </div>
                <div>
                  <h3>見出し２</h3>
                  <div>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                </div>
                <div><br>
                </div>
                <div>
                  <h4>見出し３</h4>
                  <div>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                </div>
              </div>
            </div>
            <div class="btn-cmn03 up-my-80 up-my-60@tb">
              <a href="news.html">一覧に戻る</a>
            </div>
          </div>
        </div>
        <div class="up-w-25% up-w-100%@tb up-mt-60@tb contents-cmn@tb">
          <div class="box datebox up-mb-80 up-mb-60@tb up-mb-40@sp up-order-n1@tb">

            <ul class="datelist">
              <li class="week color04 up-fz-18">Fri</li>
              <li class="day">27</li>
              <li class="monthyear up-fz-18">
                <span class="month">Sep.</span><span class="year">2019</span>
              </li>
            </ul>
          </div>
          <div class="box up-mt-60@tb">
            <div class="up-col-2@tb up-col-1@sp up-gapx-20@tb up-gapy-20">
              <div>
                <dl class="category-box">
                  <dt class="js-toggle">Category</dt>
                  <dd style="display: none;">
                    <ul>
                      <li><a href="news.html">All</a></li>
                      <li><a href="news.html">カテゴリー</a></li>
                      <li><a href="news.html">カテゴリー</a></li>
                      <li><a href="news.html">カテゴリー</a></li>
                      <li><a href="news.html">カテゴリー</a></li>
                    </ul>
                  </dd>
                </dl>
              </div>
              <div>
                <dl class="category-box">
                  <dt class="js-toggle">Archive</dt>
                  <dd style="display: none;">
                    <ul>
                      <li><a href="news.html">2022/00</a></li>
                      <li><a href="news.html">2022/00</a></li>
                      <li><a href="news.html">2022/00</a></li>
                      <li><a href="news.html">2022/00</a></li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>