<% let path = 'product'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="product01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c">
        <span class="en">Product</span>
        <span class="ja">商品紹介</span>
      </h2>
    </div>
  </section>
  <section class="product02box area up-pos-rel">
    <div class="bg up-ofi up-pa-100 bgc06">
      <img src="images/aa7ff53856b405ac277081657737e22b.jpeg" alt="">
    </div>
    <div class="product01 inner fead-up up-pos-rel up-d-flex up-fxd-col up-jc-c">
      <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c up-fxd-rowr">
        <div class="pbox up-w-45% up-w-100%@sp">
          <div class="pic border05 up-w-80%@sp up-mx-auto@sp">
            <span class="up-ofi-70">
              <img src="images/product01.png" alt="">
            </span>
          </div>
        </div>
        <div class="tbox up-w-50% up-w-100%@sp up-mt-20@sp">
          <div class="ttl txt up-c-white up-ff-mincho up-fw-bold text-shadow02">
            あなた「らしさ」をご提案します。<br>
            ライフスタイルを大切に、似合うスタイルや新しい自分を発見するお手伝いをしたいと思っています。<br>
            あなたの「キレイ」」や「カワイイ」を引出します！
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product02box area">
    <div class="inner fead-up">
      <ul class="up-col-3 up-gapx-20 up-gapx-10@sp up-rgap-40 up-col-2@sp up-adb">
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
        <li class="altlist">
          <a href="product_detail.html">
            <div class="pic">
              <span class="up-ofi-100 up-obf-contain">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="brand up-mt-10 up-fw-bold up-ff-mincho up-ta-c" data-mh="brand">
              BRAND
            </div>
            <div class="name up-mt-5 up-fw-bold up-ff-mincho up-ta-c alt" data-mh="name">
              商品名が入ります
            </div>
            <dl class="up-mt-10">
              <dt class="capacity up-fw-bold up-ff-mincho up-ta-c">50g</dt>
              <dd class="price up-fw-bold up-ff-mincho up-ta-c">2,000円（税抜）</dd>
            </dl>
          </a>
        </li>
      </ul>
      <div class="pagenation up-mt-80 up-mt-60@tb up-mt-40@sp">
        <ul class="up-d-flex up-jc-c">
          <li class="prev">
            <a href=""></a>
          </li>
          <li class="current">
            <span>1</span>
          </li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li class="next"><a href=""></a></li>
        </ul>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>