<% let path = 'salon_info'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="info01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Salon Gallery</span>
        <span class="ja">サロンギャラリー</span>
      </h2>
      <div class="up-maxw-600 up-mx-auto">
        <div class="info01">
          <div class="uk-slidenav-position" data-uk-slideshow='{animation: "fade";, autoplay: true, autoplayInterval: "7000";}'>
            <ul class="uk-slideshow" style="height: 761px;">
              <li aria-hidden="false" class="uk-active" style="height: 761px;">
                <div class="uk-flex uk-flex-middle uk-flex-center" style="overflow: hidden;"><img src="images/600x420.jpg.webp" style="width: 100%;"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="info02box area up-pos-rel">
    <div class="bg bgc04 up-ofi up-pa-100">
      <img src="images/salon02.png" alt="">
    </div>
    <div class="inner fead-up up-pos-rel">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Salon Information</span>
        <span class="ja">サロンインフォメーション</span>
      </h2>
      <div class="info02 up-maxw-800 up-mx-auto">
        <dl class="up-d-flex up-fxw-wrap up-jc-sb up-p-20 up-p-10@sp border03">
          <dt class="up-w-150 up-w-100%@sp up-fw-bold up-pr-10 up-pr-0@sp">
            ENGLISH
          </dt>
          <dd class="up-w-10% up-w-100%@sp up-mt-10@sp up-fxg-1">
            テキストが入ります
          </dd>
        </dl>
        <dl class="up-d-flex up-fxw-wrap up-jc-sb up-p-20 up-p-10@sp border03">
          <dt class="up-w-150 up-w-100%@sp up-fw-bold up-pr-10 up-pr-0@sp">
            ENGLISH
          </dt>
          <dd class="up-w-10% up-w-100%@sp up-mt-10@sp up-fxg-1">
            テキストが入ります
          </dd>
        </dl>
        <dl class="up-d-flex up-fxw-wrap up-jc-sb up-p-20 up-p-10@sp border03">
          <dt class="up-w-150 up-w-100%@sp up-fw-bold up-pr-10 up-pr-0@sp">
            ENGLISH
          </dt>
          <dd class="up-w-10% up-w-100%@sp up-mt-10@sp up-fxg-1">
            テキストが入ります
          </dd>
        </dl>
        <dl class="up-d-flex up-fxw-wrap up-jc-sb up-p-20 up-p-10@sp border03">
          <dt class="up-w-150 up-w-100%@sp up-fw-bold up-pr-10 up-pr-0@sp">
            ENGLISH
          </dt>
          <dd class="up-w-10% up-w-100%@sp up-mt-10@sp up-fxg-1">
            テキストが入ります
          </dd>
        </dl>
        <dl class="up-d-flex up-fxw-wrap up-jc-sb up-p-20 up-p-10@sp border03">
          <dt class="up-w-150 up-w-100%@sp up-fw-bold up-pr-10 up-pr-0@sp">
            ENGLISH
          </dt>
          <dd class="up-w-10% up-w-100%@sp up-mt-10@sp up-fxg-1">
            テキストが入ります
          </dd>
        </dl>
        <dl class="up-d-flex up-fxw-wrap up-jc-sb up-p-20 up-p-10@sp border03">
          <dt class="up-w-150 up-w-100%@sp up-fw-bold up-pr-10 up-pr-0@sp">
            ENGLISH
          </dt>
          <dd class="up-w-10% up-w-100%@sp up-mt-10@sp up-fxg-1">
            テキストが入ります
          </dd>
        </dl>
        <dl class="up-d-flex up-fxw-wrap up-jc-sb up-p-20 up-p-10@sp border03">
          <dt class="up-w-150 up-w-100%@sp up-fw-bold up-pr-10 up-pr-0@sp">
            ENGLISH
          </dt>
          <dd class="up-w-10% up-w-100%@sp up-mt-10@sp up-fxg-1">
            テキストが入ります
          </dd>
        </dl>
        <dl class="up-d-flex up-fxw-wrap up-jc-sb up-p-20 up-p-10@sp border03">
          <dt class="up-w-150 up-w-100%@sp up-fw-bold up-pr-10 up-pr-0@sp">
            ENGLISH
          </dt>
          <dd class="up-w-10% up-w-100%@sp up-mt-10@sp up-fxg-1">
            テキストが入ります
          </dd>
        </dl>
      </div>
    </div>
  </section>
  <section class="info03box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Beginner's Guide</span>
        <span class="ja">初めての方へ</span>
      </h2>
      <div class="up-fxd-even">
        <div class="up-d-flex up-fxw-wrap up-jc-sb">
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp up-p-40 up-p-30@tb up-p-0@sp">
            <dl class="contents-cmn@sp">
              <dt class="title01 up-my-20 up-fz-20 up-ff-mincho up-fw-500 up-w-100%@sp ">1. 見出しが入ります</dt>
              <dd class="txt up-my-20 up-order-3@sp up-w-100%@sp">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
              </dd>
            </dl>
          </div>
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-ofi-70 h100-cmn up-w-100%@sp">
              <img src="images/600x420.jpg.webp" alt="">
            </div>
          </div>
        </div>
        <div class="up-d-flex up-fxw-wrap up-jc-sb">
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp up-p-40 up-p-30@tb up-p-0@sp">
            <dl class="contents-cmn@sp">
              <dt class="title01 up-my-20 up-fz-20 up-ff-mincho up-fw-500 up-w-100%@sp ">2. 見出しが入ります</dt>
              <dd class="txt up-my-20 up-order-3@sp up-w-100%@sp">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
              </dd>
            </dl>
          </div>
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-ofi-70 h100-cmn up-w-100%@sp">
              <img src="images/600x420.jpg.webp" alt="">
            </div>
          </div>
        </div>
        <div class="up-d-flex up-fxw-wrap up-jc-sb">
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp up-p-40 up-p-30@tb up-p-0@sp">
            <dl class="contents-cmn@sp">
              <dt class="title01 up-my-20 up-fz-20 up-ff-mincho up-fw-500 up-w-100%@sp ">3. 見出しが入ります</dt>
              <dd class="txt up-my-20 up-order-3@sp up-w-100%@sp">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
              </dd>
            </dl>
          </div>
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-ofi-70 h100-cmn up-w-100%@sp">
              <img src="images/600x420.jpg.webp" alt="">
            </div>
          </div>
        </div>
        <div class="up-d-flex up-fxw-wrap up-jc-sb">
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp up-p-40 up-p-30@tb up-p-0@sp">
            <dl class="contents-cmn@sp">
              <dt class="title01 up-my-20 up-fz-20 up-ff-mincho up-fw-500 up-w-100%@sp ">4. 見出しが入ります</dt>
              <dd class="txt up-my-20 up-order-3@sp up-w-100%@sp">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
              </dd>
            </dl>
          </div>
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-ofi-70 h100-cmn up-w-100%@sp">
              <img src="images/600x420.jpg.webp" alt="">
            </div>
          </div>
        </div>
        <div class="up-d-flex up-fxw-wrap up-jc-sb">
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp up-p-40 up-p-30@tb up-p-0@sp">
            <dl class="contents-cmn@sp">
              <dt class="title01 up-my-20 up-fz-20 up-ff-mincho up-fw-500 up-w-100%@sp ">5. 見出しが入ります</dt>
              <dd class="txt up-my-20 up-order-3@sp up-w-100%@sp">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
              </dd>
            </dl>
          </div>
          <div class="up-w-50% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-ofi-70 h100-cmn up-w-100%@sp">
              <img src="images/600x420.jpg.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>