<% let path = 'special'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="catalog01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Special care</span>
        <span class="ja">スペシャルケア</span>
      </h2>
      <div class="up-fxd-even up-d-flex up-fxd-col up-rgap-60 up-rgap-40@sp">
        <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c">
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="ttl up-w-100%@sp up-ff-mincho up-fz-20 up-my-20">
              タイトルが入ります
            </div>
            <div class="txt up-w-100%@sp up-my-20 up-order-3@sp">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
            </div>
          </div>
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-w-100%@sp">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
          </div>
        </div>
        <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c">
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="ttl up-w-100%@sp up-ff-mincho up-fz-20 up-my-20">
              タイトルが入ります
            </div>
            <div class="up-w-100%@sp up-my-20 up-order-3@sp">
              <div class="txt">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
              <ul class="checklist01 up-my-30 up-my-20@sp">
                <li>チェックリスト</li>
                <li>チェックリスト</li>
                <li>チェックリスト</li>
              </ul>
              <div class="title03 up-mb-30 up-mb-20@sp">タイトルが入ります</div>
              <div class="txt">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
            </div>
          </div>
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-w-100%@sp">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
          </div>
        </div>
        <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c">
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="ttl up-w-100%@sp up-ff-mincho up-fz-20 up-my-20">
              タイトルが入ります
            </div>
            <div class="txt up-w-100%@sp up-my-20 up-order-3@sp">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
            </div>
          </div>
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-w-100%@sp">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="catalog01box area bgc05">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Special care</span>
        <span class="ja">スペシャルケア</span>
      </h2>
      <div class="up-fxd-even up-d-flex up-fxd-col up-rgap-60 up-rgap-40@sp">
        <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c">
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="ttl up-w-100%@sp up-ff-mincho up-fz-20 up-my-20">
              タイトルが入ります
            </div>
            <div class="txt up-w-100%@sp up-my-20 up-order-3@sp">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
            </div>
          </div>
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-w-100%@sp">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
          </div>
        </div>
        <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c">
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="ttl up-w-100%@sp up-ff-mincho up-fz-20 up-my-20">
              タイトルが入ります
            </div>
            <div class="txt up-w-100%@sp up-my-20 up-order-3@sp">
              テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
            </div>
          </div>
          <div class="up-w-45% up-w-100%@sp contents-cmn@sp">
            <div class="pic up-w-100%@sp">
              <span class="up-ofi-70">
                <img src="images/600x420.jpg.webp" alt="">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="catalog02box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Flow</span>
        <span class="ja">施術の流れ</span>
      </h2>
      <ul class="up-col-2 up-gapx-40 up-gapx-20@tb up-gapx-10@sp up-rgap-40 up-col-1@sp">
        <li>
          <dl class="flow01 up-d-flex up-jc-sb">
            <dt class="num up-d-flex up-jc-c up-ai-c">1</dt>
            <dd class="tbox">
              <div class="ttl">見出しが入ります</div>
              <div class="text">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="flow01 up-d-flex up-jc-sb">
            <dt class="num up-d-flex up-jc-c up-ai-c">2</dt>
            <dd class="tbox">
              <div class="ttl">見出しが入ります</div>
              <div class="text">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="flow01 up-d-flex up-jc-sb">
            <dt class="num up-d-flex up-jc-c up-ai-c">3</dt>
            <dd class="tbox">
              <div class="ttl">見出しが入ります</div>
              <div class="text">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="flow01 up-d-flex up-jc-sb">
            <dt class="num up-d-flex up-jc-c up-ai-c">4</dt>
            <dd class="tbox">
              <div class="ttl">見出しが入ります</div>
              <div class="text">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="flow01 up-d-flex up-jc-sb">
            <dt class="num up-d-flex up-jc-c up-ai-c">5</dt>
            <dd class="tbox">
              <div class="ttl">見出しが入ります</div>
              <div class="text">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="flow01 up-d-flex up-jc-sb">
            <dt class="num up-d-flex up-jc-c up-ai-c">6</dt>
            <dd class="tbox">
              <div class="ttl">見出しが入ります</div>
              <div class="text">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。</div>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>