<% let path = 'staff'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="staff01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Staff</span>
        <span class="ja">スタッフ</span>
      </h2>
      <div class="border04 up-mb-80 up-mb-60@tb up-mb-40@sp"></div>
      <div class="up-w-fit up-mx-auto up-adb">
        <a href="index.html">
          <img src="images/logo_dummy.png" alt="">
        </a>
      </div>
    </div>
    <div class="inner fead-up up-mt-80 up-mt-60@tb up-mt-40@sp">
      <h3 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Stylist</span>
      </h3>
      <ul class="up-col-3 up-gapx-60 up-gapx-30@tb up-gapx-10@sp up-rgap-40@sp up-col-2@sp up-adb">
        <li>
          <a href="staff_detail.html">
            <div class="pic">
              <span class="up-ofi-150">
                <img src="images/600x780.jpg.webp" alt="">
              </span>
            </div>
            <div class="en up-fw-bold up-ta-c up-mt-20">NAME NAME</div>
            <div class="ja up-ta-c up-mt-10">名前 名前</div>
            <div class="role up-ta-c up-mt-10 up-fz-14">スタイリスト</div>
          </a>
        </li>
        <li>
          <a href="staff_detail.html">
            <div class="pic">
              <span class="up-ofi-150">
                <img src="images/600x780.jpg.webp" alt="">
              </span>
            </div>
            <div class="en up-fw-bold up-ta-c up-mt-20">NAME NAME</div>
            <div class="ja up-ta-c up-mt-10">名前 名前</div>
            <div class="role up-ta-c up-mt-10 up-fz-14">スタイリスト</div>
          </a>
        </li>
        <li>
          <a href="staff_detail.html">
            <div class="pic">
              <span class="up-ofi-150">
                <img src="images/600x780.jpg.webp" alt="">
              </span>
            </div>
            <div class="en up-fw-bold up-ta-c up-mt-20">NAME NAME</div>
            <div class="ja up-ta-c up-mt-10">名前 名前</div>
            <div class="role up-ta-c up-mt-10 up-fz-14">スタイリスト</div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="staff02box area bgc05">
    <div class="inner fead-up">
      <h3 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Assistant</span>
      </h3>
      <ul class="up-col-3 up-gapx-60 up-gapx-30@tb up-gapx-10@sp up-rgap-40@sp up-col-2@sp up-adb">
        <li>
          <a href="staff_detail.html">
            <div class="pic">
              <span class="up-ofi-150">
                <img src="images/600x780.jpg.webp" alt="">
              </span>
            </div>
            <div class="en up-fw-bold up-ta-c up-mt-20">NAME NAME</div>
            <div class="ja up-ta-c up-mt-10">名前 名前</div>
            <div class="role up-ta-c up-mt-10 up-fz-14">アシスタント</div>
          </a>
        </li>
        <li>
          <a href="staff_detail.html">
            <div class="pic">
              <span class="up-ofi-150">
                <img src="images/600x780.jpg.webp" alt="">
              </span>
            </div>
            <div class="en up-fw-bold up-ta-c up-mt-20">NAME NAME</div>
            <div class="ja up-ta-c up-mt-10">名前 名前</div>
            <div class="role up-ta-c up-mt-10 up-fz-14">アシスタント</div>
          </a>
        </li>
        <li>
          <a href="staff_detail.html">
            <div class="pic">
              <span class="up-ofi-150">
                <img src="images/600x780.jpg.webp" alt="">
              </span>
            </div>
            <div class="en up-fw-bold up-ta-c up-mt-20">NAME NAME</div>
            <div class="ja up-ta-c up-mt-10">名前 名前</div>
            <div class="role up-ta-c up-mt-10 up-fz-14">アシスタント</div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>