<% let path = 'staff_detail'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="staff01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Staff</span>
        <span class="ja">スタッフ</span>
      </h2>
      <div class="border04 up-mb-80 up-mb-60@tb up-mb-40@sp"></div>
      <div class="up-w-fit up-mx-auto up-adb">
        <a href="index.html">
          <img src="images/logo_dummy.png" alt="">
        </a>
      </div>
      <div class="up-d-flex up-fxw-wrap up-jc-sb up-ai-c up-mt-80 up-mt-60@tb up-mt-40@sp">
        <div class="up-w-48% up-w-100%@sp">
          <div class="pic">
            <span class="up-ofi-150">
              <img src="images/600x780.jpg.webp" alt="">
            </span>
          </div>
        </div>
        <div class="up-w-48% up-w-100%@sp up-mt-20">
          <div class="up-ta-r">
            <div class="role up-fz-14 up-lh-2.5">スタイリスト</div>
            <div class="border02"></div>
            <div class="en color04 up-fw-bold up-lh-2.5">NAME NAME</div>
            <div class="name up-fz-30 up-fz-28@tb up-fz-24@sp up-fw-bold">名前 名前</div>
            <div class="insta up-fz-36">
              <a href="" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="txt up-mt-80 up-mt-60@tb up-mt-40@sp">
            テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
          </div>
        </div>
      </div>
      <div class="btn-cmn03 up-mx-auto up-mt-80 up-mt-60@tb up-mt-40@sp">
        <a href="staff.html">一覧に戻る</a>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>