<% let path = 'voice'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="voice01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Voice</span>
        <span class="ja">お客様の声</span>
      </h2>
      <ul class="voice-list up-col-4 up-gapx-20 up-gapx-10@sp up-rgap-40 up-col-2@sp up-adb">
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
        <li class="altlist">
          <a href="voice_detail.html">
            <div class="pic">
              <span class="up-ofi-100">
                <img src="images/600x600.jpg" alt="">
              </span>
            </div>
            <div class="menu-ttl color04 up-fw-bold up-mt-10" data-mh="menu">メニュー名が入ります</div>
            <div class="ttl up-ff-mincho up-fw-bold up-mt-5 alt">タイトルが入ります</div>
          </a>
        </li>
      </ul>
      <div class="pagenation up-mt-80 up-mt-60@tb up-mt-40@sp">
        <ul class="up-d-flex up-jc-c">
          <li class="prev">
            <a href=""></a>
          </li>
          <li class="current">
            <span>1</span>
          </li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li class="next"><a href=""></a></li>
        </ul>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>