<% let path = 'voice_detail'; %>
<%- include('./_header', {path: path}) %>

<!-- メインコンテンツ -->
<main id="main">
  <section class="under00box">
    <div class="under-mv-box up-ofi-30">
      <img src="images/dummy.png" alt="">
    </div>
  </section>
  <section class="voice01box area">
    <div class="inner fead-up">
      <h2 class="heading01 up-ta-c up-mb-80 up-mb-60@tb up-mb-40@sp">
        <span class="en">Voice</span>
        <span class="ja">お客様の声</span>
      </h2>
      <div class="voice-detail altlist up-d-flex up-fxw-wrap up-jc-sb up-fxd-rowr">
        <div class="up-w-30% up-w-100%@sp">
          <div class="pic">
            <span class="up-ofi-100">
              <img src="images/600x600.jpg" alt="">
            </span>
          </div>
        </div>
        <div class="up-w-65% up-w-100%@sp up-mt-20@sp">
          <div class="name up-fz-26 up-fz-22@sp up-ff-mincho up-fw-bold">名前【shop name】</div>
          <dl class="border02 border06 up-py-20 up-mt-30 up-mt-20@sp">
            <dt class="menu-ttl color04 up-fw-bold">メニュー名</dt>
            <dd class="menu-name up-pl-15 up-mt-5 alt">メニューが入ります</dd>
          </dl>
          <dl class="up-mt-40 up-mt-30@tb up-mt-20@sp border01 up-p-30 up-p-20@sp">
            <dt class="comment-ttl color04 up-fw-bold">感想</dt>
            <dd class="comment up-mt-5">感想が入ります</dd>
          </dl>
        </div>
      </div>
      <div class="btn-cmn03 up-mt-80 up-mt-60@tb up-mt-40@sp">
        <a href="voice.html">一覧に戻る</a>
      </div>
    </div>
  </section>
</main>

<%- include('./_footer', {path: path}) %>