<h1 class="pagettl"><%= jsonData.pages[path].title %>｜<%= jsonData.siteInfo.baseH1 %></h1>
<!-- ヘッダー -->
<header id="header" class="header">
  <div class="contents inner">
    <div class="left">
      <div class="logo"><img src="https://placehold.jp/3d4070/ffffff/200x80.png?text=LOGO" alt="ロゴ"></div>
    </div>
    <div class="right">
      <div class="txt">ご予約＆<span class="txtin">お問い合わせ</span></div>
      <div class="tel">0000-00-0000</div>
    </div>
  </div>
  <nav id="gnav" class="gnav">
    <div class="wrap inner">
      <div class="navlogo"><a href="01home.html"><img src="https://placehold.jp/3d4070/ffffff/200x80.png?text=LOGO" alt="ロゴ"></a></div>
      <ul class="list01">
        <li class="item01"><a href="#">TOP</a></li>
        <li class="item01"><a href="#">アイテム</a></li>
        <li class="item01 -parent">
          <span class="itemin">階層有り</span>
          <ul class="list02">
            <li class="item02"><a href="#">アイテム</a></li>
            <li class="item02"><a href="#">アイテム</a></li>
            <li class="item02"><a href="#">アイテム</a></li>
          </ul>
        </li>
        <li class="item01"><a href="#">アイテム</a></li>
        <li class="item01"><a href="#">アイテム</a></li>
        <li class="item01 "><a href="#">アイテム</a></li>
        <li class="item01"><a href="#">アイテム</a></li>
        <li class="item01 up-d-none up-d-block@tb"><a href="#">アイテム</a></li>
        <li class="item01 up-d-none up-d-block@tb"><a href="#">アイテム</a></li>
        <li class="item01 up-d-none up-d-block@tb"><a href="#">アイテム</a></li>
      </ul>
    </div>
  </nav>
  <div class="fix-bottom">
    <div class="item tel">000-0000-0000</div>
    <div class="item contact"><a href="#">CONTACT</a></div>
  </div>
  <div class="toggle"><span class="bar accordion-toggle"></span></div>
  <div class="totop"></div>
</header>