//Font Awesome 5 Free
awesome(font-weight = 600)
  font-weight font-weight
  font-family 'Font Awesome 5 Free'

//Font Awesome 5 Brands
awesome-brand(font-weight = 600)
  font-weight font-weight
  font-family 'Font Awesome 5 Brands'

//V字の向き
chevron(direction)
  font-weight 600
  font-family 'Font Awesome 5 Free'
  if (direction == up)
    content '\f077'
  else if (direction == right)
    content '\f054'
  else if (direction == down)
    content '\f078'
  else if (direction == left)
    content '\f053'
