/*===================================
  ベース（基本設定）
===================================*/
cmn = '../images/common/'
//キーカラー設定
color1 = #000
color2 = #000
color3 = #000
color4 = #000

.color01
  color color1
.color02
  color color2
.color03
  color color3
.color04
  color color4

.bgcolor01
  background-color color1
.bgcolor02
  background-color color2
.bgcolor03
  background-color color3
.bgcolor04
  background-color color4

gothic = '游ゴシック', YuGothic, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', Hiragino Kaku Gothic ProN, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif
mincho = '游明朝', 'YuMincho', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝', 'Sawarabi Mincho', serif
meiryo = 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif


/* area */
.area
  margin-top 80px
  margin-bottom 80px
  @media only screen and (max-width 599px)
    margin-top 50px
    margin-bottom 50px


/*********************************************
    コメント
*********************************************/
[class*='load-']
  position relative
  min-height 50px
  border 3px solid #00bcd4
  &:before
    position absolute
    z-index 100
    display block
    background #00bcd4
    color yellow
    content '共通要素'
    text-align center
    font-weight bold
