/*===================================
  共通タイトル　ttl-cmn
===================================*/
/* 共通タイトル１ */
.ttl-cmn01
  margin-bottom 40px
  text-align center
  font-weight bold
  font-size 36px
