/*!===================================
  共通タイトル　ttl-cmn
===================================*/
/*! 共通タイトル１ */
.ttl-cmn01
  text-align center
  font-size 28px
  @media only screen and (max-width 599px)
    font-size 24px
