/*!===================================
  共通ボタン btn-cmn
===================================*/
/*! 共通ボタン１ */
.btn-cmn01
  max-width 180px
  a
    display block
    padding 5px 20px
    background #000
    color #fff
    text-align center
    position relative
  a:after
    position absolute
    right 5px
    top 50%
    transform translateY(-50%)
    content "\f054"
    font-weight 600
    font-family 'Font Awesome 5 Free'
  &.btn-back
    a:after
      content "\f053"
      right inherit
      left 5px
