/*!===================================
  共通要素
===================================*/
/*!*
ヘッダー
header
*/


/*!*
グローバルナビ
gnav
*/


/*!*
フッター
footer
*/


/*!*
フッターナビ
fnav
*/


/*!*
サイドメニュー
side
*/


/*!===================================
  各個別コンテンツ
===================================*/
/*!*
トップ
*/
/*!ホームビジュアル（トップ）*/
.homevisual
  position relative
  .img
    position relative
    min-height 300px
    &:before
      display block
      padding-top 40%
      content ''
    img
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      /*!IE対策*/
      font-family 'object-fit: cover; object-position: 50% 50%;'
      -o-object-fit cover
      object-fit cover
      -o-object-position 50% 50%
      object-position 50% 50%
  .head
    position absolute
    top 50%
    left 50%
    font-weight bold
    font-size 40px
    transform translate(-50%, -50%)
  @media only screen and (max-width: 599px)
    .head
      font-size 28px

/*! A-BiSUスライダー用 */
.mainimg
  position relative
  overflow hidden
  img
    width 100%
  .uk-slidenav-position
    position relative
    overflow hidden
    min-height 300px
  .uk-slidenav-position:after
    display block
    padding-top 50%
    content ''
  .uk-slideshow
    position absolute
    top 0
    height 100% !important
  .uk-slideshow li
    height 100% !important
  .uk-slideshow .uk-flex
    height 100%
  .uk-slideshow img
    width 100%
    height 100%
    /*!IE対策*/
    font-family 'object-fit: cover; object-position: 50% 50%;'
    -o-object-fit cover
    object-fit cover
    -o-object-position 50% 50%
    object-position 50% 50%


/*!*
下層共通
*/



/*!*
各下層ページ
*/
