/*!===================================
  共通要素
===================================*/
/*!h1ページタイトル */
.pagettl 
  font-size: 12px;
  padding: 0 5px;

/*!*
ヘッダー
header
*/
.header
  padding 10px 0 0
  .contents
    display flex
    justify-content space-between
    align-items center
  .logo
    img
      max-height 50px
  .right
    display flex
    align-items center
    flex-wrap wrap
    justify-content flex-end
    .txt
      margin-right 10px
      line-height 120%
    .txtin
      display block
    .tel
      a
        font-weight bold
        font-size 30px
      a:before
        margin-right 5px
        content '\f879'
        font-weight 600
        font-size 24px
        font-family 'Font Awesome 5 Free'
  @media only screen and (max-width: 1024px)
    padding 5px 0
    .logo
      img
        max-height 32px
    .right
      display none

/*! 下部固定コンテンツ */
.fix-bottom
  display none
  @media only screen and (max-width: 1024px)
    position fixed
    bottom 0
    left 0
    z-index 250
    display flex
    width 100%
    .item
      width 50%
      text-align center
    a
      display flex
      justify-content center
      align-items center
      height 100%
      padding 10px 5px
    .tel
      background #000
      color #fff
      font-size 14px
      a:before
        margin-right 5px
        content '\f879'
        font-weight 600
        font-family 'Font Awesome 5 Free'
    .contact
      background #eee
      color #000
      a:before
        margin-right 5px
        content '\f0e0'
        font-weight 600
        font-family 'Font Awesome 5 Free'

/*!*
グローバルナビ
gnav
*/
.gnav
  position relative
  z-index 100
  padding 10px 0
  border-bottom 1px solid #d9d9d9
  &.fixed
    position fixed
    top 0
    left 0
    z-index 200
    width 100%
    height auto
    background #fff
    box-shadow 0 0 5px 0 #999
    cursor pointer
  .wrap
    display flex
    flex-wrap wrap
  .navlogo
    display none
    img
      max-height 40px
  .list01
    display flex
    flex-wrap wrap
    justify-content space-around
    width 100%
  .item01
    text-align center
    font-size 16px
    > a, .itemin
      display block
      cursor pointer
      padding 5px
  .item01.-parent
    position relative
    &:hover
      .list02
        visibility visible
        opacity 1
  .list02
    position absolute
    top 100%
    left 50%
    visibility hidden
    padding-top 10px
    width 200px
    background rgba(#fff, 0.8) content-box
    opacity 0
    transition 0.5s
    transform translateX(-50%)
  .item02
    a
      display block
      padding 5px
  @media only screen and (max-width: 1024px)
    position fixed
    top 0
    right 0
    overflow auto
    width 100%
    max-width 300px
    height 100%
    background rgba(255, 255, 255, 0.9)
    transition transform ease 0.5s
    transform translate3d(100%, 0, 0)
    -webkit-overflow-scrolling touch
    &.action
      z-index 250
      transform translate3d(0%, 0, 0)
    .wrap
      padding-bottom 100px
    .navlogo
      display block
      margin-bottom 20px
      padding-right 40px
      width 100%
      font-weight bold
      font-size 20px
    .item01
      margin 0 0 10px 0
      min-height 40px
      width 100%
      text-align left
    .list02
      position relative
      top 0
      left 0
      visibility visible
      padding-left 20px
      padding-top 0
      background none
      opacity 1
      transform none
      a
        position relative
        padding 2px 0 2px 20px
      a:before
        position absolute
        top 13px
        left 0
        display block
        width 10px
        height 1px
        background #000
        content ''
[data-element-id] .gnav.fixed
  position relative

/*! ハンバーガーメニュー  */
.toggle
  position fixed !important
  top 0px
  right 0px
  z-index 251
  width 42px
  height 42px
  background #170302
  opacity 0.8
  cursor pointer
  display none
  .bar
    position absolute
    top 50%
    left 7px
    display block
    margin-top -1px
    padding 0
    width 28px
    height 2px
    background #fff
    text-indent 9999px
    transition ease 0.4s
    -webkit-transition ease 0.4s
    &:before, &:after
      position absolute
      left 0
      display block
      width 28px
      height 2px
      background #fff
      content ''
    &:before
      top -10px
    &:after
      top 10px
.toggle.active .bar
  transform rotate(-45deg)
  -webkit-transform rotate(-45deg)
  -ms-transform rotate(-45deg)
  &:after, &:before
    top 0
    left 0
    transform rotate(90deg)
    -webkit-transform rotate(90deg)
    -ms-transform rotate(90deg)
@media only screen and (max-width: 1024px)
  .toggle
    display block !important

.overlay:after
  position fixed
  top 0
  left 0
  z-index 249
  width 100%
  height 100vh
  background #000
  content ''
  opacity 0.3
  transform translate3d(0, 0, 0) !important
  -webkit-transform translate3d(0, 0, 0) !important

/*!トップへ戻る*/
.totop
  position fixed
  right 20px
  bottom 20px
  z-index 200
  width 40px
  height 40px
  border-radius 50%
  background #000
  color #fff
  text-align center
  font-size 20px
  line-height 40px
  cursor pointer
  &:before
    content '\f077'
    font-weight bold
    font-family 'Font Awesome 5 Free'
  @media only screen and (max-width: 1024px)
    right 10px
    bottom 50px


/*!*
フッター
footer
*/
.footer
  .copy
    padding 5px 0
    background #999
    color #fff
    text-align center
  @media only screen and (max-width: 1024px)
    .copy
      padding-bottom 50px

/*!*
フッターナビ
fnav
*/
.fnav
  padding 50px 0
  background #eee
  .wrap
    display flex
  .list01
    width 50%
    column-count 3
  .item
    margin-bottom 10px
    padding-right 10px
    break-inside avoid
    a
      position relative
      display block
      padding-left 12px
      &:before
        position absolute
        top 10px
        left 0
        display block
        width 4px
        height 4px
        border-radius 50%
        background #000
        content ''
  .list02
    width 50%
  .datawrap
    column-count 3
  .datattl
    position relative
    margin-bottom 10px
    padding-left 12px
    &:before
      position absolute
      top 10px
      left 0
      display block
      width 4px
      height 4px
      border-radius 50%
      background #000
      content ''
  .data
    margin-bottom 5px
    padding-right 10px
    break-inside avoid
    a
      position relative
      padding-left 12px
      &:before
        position absolute
        top 7px
        left 0
        display block
        width 5px
        height 1px
        background #000
        content ''
  @media only screen and (max-width: 1024px)
    .wrap
      flex-wrap wrap
    .list01
      margin-bottom 10px
      width 100%
    .list02
      width 100%
  @media only screen and (max-width: 599px)
    .list01
      column-count 2
    .datawrap
      column-count 2


/*!*
2カラムページ
*/
.column2
  .inner
    display flex
    flex-wrap nowrap
    justify-content space-between
  .side
    width 200px
  .mainwrap
    width calc(100% - 250px)
  @media only screen and (max-width: 1024px)
    .inner
      flex-wrap wrap
    .side
      order 3
      margin-bottom 50px
      width 100%
    .mainwrap
      order 2
      margin-bottom 50px
      width 100%

/*! サイドメニュー */
.side
  .list
    margin-bottom 30px
  @media only screen and (max-width 1024px)
    display flex
    justify-content space-between
    flex-wrap wrap
    .list
      width 48%
  @media only screen and (max-width 599px)
    .list
      width 100%

.list-side
  .datattl
    position relative
    margin-bottom 20px
    padding 10px
    border-radius 2em
    background color1
    color #fff
    text-align center
    font-size 20px
  .data
    margin-bottom 10px
    padding-left 10px
  a
    position relative
    display inline-block
    padding-left 20px
    &:before
      position absolute
      left 0
      color color1
      content '>'
  @media only screen and (max-width: 1024px)
    &.type-archive
      .datawrap
        display flex
        flex-wrap wrap
        justify-content space-between
        .datattl
          width 100%
        .data
          width 48%



/*!===================================
  各個別コンテンツ
===================================*/
/*!*
トップ
*/
/*!ホームビジュアル（トップ）*/
.homevisual
  position relative
  .img
    position relative
    min-height 300px
    max-height 700px
    &:before
      position relative
      z-index -1
      display block
      padding-top 40%
      content ''
    img
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      /*!IE対策*/
      font-family 'object-fit: cover; object-position: 50% 50%;'
      -o-object-fit cover
      object-fit cover
      -o-object-position 50% 50%
      object-position 50% 50%
  .head
    position absolute !important
    top 50%
    left 50%
    font-weight bold
    font-size 40px
    transform translate(-50%, -50%)
  @media only screen and (max-width: 599px)
    .head
      font-size 28px

/*! A-BiSUスライダー用 */
.mainimg
  position relative
  overflow hidden
  img
    width 100%
  .uk-slidenav-position
    position relative
    overflow hidden
    min-height 300px
  .uk-slidenav-position:after
    display block
    padding-top 50%
    content ''
  .uk-slideshow
    position absolute
    top 0
    height 100% !important
  .uk-slideshow li
    height 100% !important
  .uk-slideshow .uk-flex
    height 100%
  .uk-slideshow img
    width 100%
    height 100%
    /*!IE対策*/
    font-family 'object-fit: cover; object-position: 50% 50%;'
    -o-object-fit cover
    object-fit cover
    -o-object-position 50% 50%
    object-position 50% 50%

/*! スリックスライダー（トップ） */
.slick01
  padding 0 20px
  &.slick-dotted
    margin-bottom 50px
  .btn-slick
    position absolute
    z-index 1
    top 50%
    transform translateY(-50%)
    font-size 30px
    cursor pointer
    &.btn-back
      left 0
    &.btn-next
      right 0
  .slick-dots
    bottom -40px
    left 0
  @media only screen and (max-width 599px)
    padding 0 10px
    .btn-slick
      font-size 20px

/*!*
下層共通
*/
/*! トップビジュアル（下層共通） */
.topvisual
  position relative
  .img
    position relative
    min-height 200px
    max-height 400px
    &:before
      position relative
      z-index -1
      display block
      padding-top 30%
      content ''
    img
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      font-family 'object-fit: cover; object-position: 50% 50%;'
      -o-object-fit cover
      object-fit cover
      -o-object-position 50% 50%
      object-position 50% 50%
  .head
    position absolute !important
    width 96%
    max-width 1000px
    text-align center
    top 50%
    left 50%
    font-weight bold
    font-size 34px
    transform translate(-50%, -50%)
  @media only screen and (max-width: 599px)
    .head
      font-size 24px

/*! パンくずリスト */
.breadcrumb
  margin-top 10px
  .item
    display inline-block
    &:not(:last-of-type):after
      content '\f054'
      font-weight 600
      font-family 'Font Awesome 5 Free'
      display inline-block
      margin-right 5px
      margin-left 10px
  .home
    color color1
  .now
    color color1

/*! ページネーション */
.pagenation
  display flex
  justify-content center
  align-items center
  .item
    margin 0 10px
  .prev
    position relative
    margin-right 20px
    a:before
      content "\f053"
      font-weight 600
      font-family "Font Awesome 5 Free"
  .next
    position relative
    margin-left 20px
    a:before
      content "\f054"
      font-weight 600
      font-family "Font Awesome 5 Free"
  a, .now
    font-weight bold
  .number a, .now
    display block
    padding 2px 8px
    width 30px
    height 30px
    border-radius 50%
    color #000
    text-align center
    font-size 20px
    line-height 28px
  .number a:hover, .now
    background gray
    color #fff
    opacity 1
  @media only screen and (max-width: 599px)
    .item
      margin 0 5px
    .prev
      margin-right 10px
    .next
      margin-left 10px



/*!*
各下層ページ
*/
/*! 記事一覧ページ */
.list-article
  .cate
    span
      display inline-block
      background #000
      color #fff
      padding 0 5px
      margin 0 5px 2px 0px
    .cate1
      background blue

/*! 記事詳細ページ */
.articledtl01
  .cate
    span
      display inline-block
      background #000
      color #fff
      padding 0 5px
      margin 0 5px 2px 0px
    .cate1
      background blue

/*! ギャラリー */
.list-gallery01
  a
    display block
    position relative
  .img
    opacity 1
    transition .5s
  .block-txt
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    flex-direction column
    opacity 0
    transition .5s
    padding 10px
    overflow hidden
    visibility hidden
  .cate
    font-size 14px
    margin-bottom 5px
  .head
    font-size 18px
  a:hover
    opacity 1
    .img
      opacity 0.5
    .block-txt
      opacity 1
      visibility visible
  @media only screen and (max-width 599px)
    .block-txt
      display none
    .head
      font-size 14px

/*! ギャラリー詳細 */
.gallerydtl01
  .thumbnail
    cursor pointer


/*! フォーム */
.form
  .box
    display flex
    flex-wrap nowrap
    padding 20px 0
    border-bottom 2px solid #999
  .datattl
    display flex
    flex-shrink 0
    justify-content space-between
    align-items flex-start
    width 200px
    color color1
    font-weight bold
  .require
    display inline-block
    margin-left 10px
    padding 0 4px
    background color3
    color #fff
    font-size 14px
    line-height 1.6em
  .data
    padding-left 50px
    width 100%
    input
      box-sizing border-box
      margin-top 5px
      margin-bottom 5px
      padding 5px
      width 100%
      border 1px solid #999
    input[type='radio']
      display none
    input[type='radio'] + label
      position relative
      box-sizing border-box
      margin-right 20px
      padding-left 20px
      line-height 200%
    input[type='radio'] + label::before
      position absolute
      top 4px
      left 0
      display block
      width 10px
      height 10px
      border 1px solid #303841
      border-radius 50%
      background #fff
      box-shadow inset 1px 1px 0 1px #999
      content ''
    input[type='radio']:checked + label::after
      position absolute
      top 7px
      left 3px
      display block
      width 7px
      height 7px
      border-radius 50%
      background #303841
      content ''
    input[type='radio']:checked + label
      transition 0.6s
    input[type='number']
      margin-right 10px
      width 70px
    select
      box-sizing border-box
      padding 5px
      border 1px solid #999
      color inherit
    textarea
      box-sizing border-box
      padding 5px
      width 100%
      height 170px
      border 1px solid #999
      color inherit
      font-size inherit
      font-family inherit
  .data01 div
    display inline-block
  .btn
    margin-top 30px
    button
      margin 10px 20px
      padding 0.2em
      width 200px
      border none
      border-radius 2em
      background color3
      color #fff
      text-align center
      transition 0.3s all ease
    button:hover
      opacity 0.6
      cursor pointer
  @media only screen and (max-width: 1024px)
    .item
      flex-wrap wrap
    .datattl
      display block
      margin-bottom 10px
    .data
      padding-left 0
