// #####　margin padding #####

// 定義のimport
@import './_definition'

// margin padding
.up
  &-m
    &-auto
      margin auto
    &l
      &-auto
        margin-left auto
    &r
      &-auto
        margin-right auto
    &x
      &-auto
        margin-left auto
        margin-right auto

spaces(0, 50, 5, 'px')
spaces_unit_em(1, 4, 1, 'em')
spaces_unit_em(5, 50, 5, 'em')
spaces_unit_percent(5, 50, 5, '%')
spaces(60, 100, 5, 'px')
spaces_unit_percent(60, 100, 5, '%')