// #####　reset.css #####

html
  font-family '游ゴシック', YuGothic, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', Hiragino Kaku Gothic ProN, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif
  font-weight normal
  font-size 16px
  color black
  line-height 1.5
  word-break break-word
  -webkit-text-size-adjust 100%

*
:after
:before
  box-sizing border-box

body
div
blockquote
dl
dt
dd
ul
ol
li
h1
h2
h3
h4
h5
h6
hr
form
input
button
figure
figcaption
p
pre
a
time
  margin 0
  padding 0

h1
h2
h3
h4
h5
h6
  font-family inherit
  font-weight inherit
  font-size inherit
  color inherit
  line-height inherit

button
input
optgroup
select
textarea
  padding 0
  color inherit
  line-height inherit

svg
video
canvas
audio
iframe
embed
object
  display block

button
input
optgroup
select
textarea
  margin 0
  font-family inherit
  font-size 100%
  line-height 1.15

img
video
iframe
  max-width 100%

img
  max-width 100%
  height auto
  vertical-align top
  border 0
  border-style none

  &:not([src*='.'])
    display none

b
strong
  font-weight bolder

ol
ul
  list-style none

time
  display block

button
[role='button']
  cursor pointer

table
  border-collapse collapse

  th
    font-weight normal